# Pliki konfiguracyjne
/bin/config_utils.py

# Logi aplikacji
/logs/errors.log

# Tymczasowe pliki Pythona
temp.py

# Konfiguracja Gunicorn
gunicorn_config.py

# Przykładowe skrypty uruchomieniowe
run_exaple.py
run_ex.py
run_example.py

# Sesje Flask
/flask_session/*

# Katalogi ze statycznymi obrazami

# Ignoruj wszystkie pliki w katalogu banners
/static/img/banners/*

# Ale nie ignoruj tych konkretnych banerów
!/static/img/banners/zabieg-4-banner.jpg
!/static/img/banners/zespol-4-banner.jpg
!/static/img/banners/lekarz-4-banner.jpg
!/static/img/banners/download-4-banner.jpg
!/static/img/banners/kontakt-4-banner.jpg
!/static/img/banners/wizytaonline-4-banner.jpg
!/static/img/banners/about-4-banner.jpg
!/static/img/banners/error500-1-banner.jpg
!/static/img/banners/error404-1-banner.jpg


/static/img/services/*
!/static/img/services/single.jpg
!/static/img/services/1.jpg

/static/img/doctor/*