.gold-button {
    padding: 15px 25px;
    font-size: 15px;
    font-weight: 500;
    color: #091e3e;
    background: linear-gradient(0deg, #d4af37, #ffd700, #b8860b);
    background-size: 300% 300%;
    border: none;
    border-radius: 6px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    animation: gradientAnimation 10s infinite linear;
}

.gold-button:hover {
    transform: scale(1.03);
    background: linear-gradient(180deg, #b8860b, #ffd700, #d4af37);
    animation: gradientHoverAnimation 1s infinite linear;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.6);
    color: #091e3e;

}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

@keyframes gradientHoverAnimation {
    0% { background-position: 100% 50%; }
    50% { background-position: 50% 50%; }
    100% { background-position: 100% 50%; }
}

.slider-height-controller {
    max-height: none; /* Domyślnie brak ograniczenia */
}

@media (max-width: 768px) {
    .slider-height-controller {
        max-height: 500px; /* Ograniczenie wysokości dla urządzeń mobilnych */
        overflow: hidden; /* Ukrywa nadmiar treści */
    }
}

#phone-icon {
    color: black; /* Domyślny kolor */
    animation: phone-ring 15s linear infinite; /* Animacja co 15 sekund */
}
@media (min-width: 990px) {
    #phone-icon {
        position: absolute;
        left: 0;
        top: 0%;
    }
}

@keyframes phone-ring {
    0% {
        transform: scale(1) rotate(0deg); /* Początkowy brak rotacji */
        color: black;
    }
    1% {
        transform: scale(1.05) rotate(-5deg); /* Rotacja w lewo */
        color: green; /* Zmiana koloru */
    }
    10% {
        transform: scale(1.05) rotate(5deg); /* Rotacja w prawo */
    }
    20% {
        transform: scale(1.05) rotate(-5deg); /* Rotacja w lewo */
    }
    30% {
        transform: scale(1) rotate(0deg); /* Powrót do pozycji wyjściowej */
        color: black;
    }
    100% {
        transform: scale(1) rotate(0deg); /* Brak rotacji */
    }
}

.middle-header-area_bg {
    background: none; /* Domyślnie brak tła */
    background-size: cover; /* Dopasowanie obrazu do kontenera */
    background-repeat: no-repeat; /* Zapobieganie powtarzaniu tła */
}


@media (max-width: 325px) {
    .middle-header-area_bg {
        background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)),
                          url('../img/nav-sm-logo-duodent.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}

.transport-icon {
    display: inline-block; /* Ustawienie obrazu w linii z tekstem */
    width: 30px; /* Szerokość ikony */
    height: 30px; /* Wysokość ikony */
    background-size: contain; /* Dopasowanie obrazu do wymiarów */
    background-repeat: no-repeat; /* Zapobiega powtarzaniu obrazu */
    background-position: center; /* Ustawienie obrazu w środku kontenera */
    vertical-align: middle; /* Wyrównanie ikony do środka linii tekstu */
    margin-right: 3px;
}
.apple-style-transport {
    background-color: #000000; /* Czarne tło */
    color: #ffffff; /* Biały tekst */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; /* Systemowa czcionka Apple */
    padding: 5px 5px; 
    font-size: 13px;
    border-radius: 8px; /* Zaokrąglone rogi */
    text-align: center; /* Wyśrodkowanie tekstu */
    /* display: inline-block;  */
}

.custom-file-upload {
    position: relative;
    display: flex;
    flex-direction: column;
}

.file-input-wrapper {
    position: relative;
    height: 55px;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 1px solid #eee;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: 0.6s;
}

.file-input-wrapper input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.file-input-wrapper .file-label {
    flex: 1;
    padding: 15px;
    color: #222;
    font-size: 14px;
    line-height: initial;
    text-align: left;
    background-color: transparent;
    border-radius: 10px;
    transition: 0.6s;
}

.file-input-wrapper:hover .file-label {
    background-color: #f8f8f8;
}

.file-input-wrapper:focus-within {
    border: 1px solid #0f0c32;
}


.has-error .form-control {
    border-color: red;
}

.error-message {
    font-size: 0.85rem;
    margin-top: 0.25rem;
}

#form-feedback {
    transition: opacity 1s ease-in-out;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(30px); /* Przesunięcie w dół */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* Powrót do pierwotnej pozycji */
    }
}

.line {
    opacity: 0; /* Początkowe ukrycie */
    transform: translateY(30px); /* Początkowe przesunięcie */
}

.line.animate {
    animation: fadeUp 1s ease forwards; /* Efekt fade-up */
}

#breadcrumb-small {
    background-color: #021020; /* Kolor tła breadcrumb */
    padding: 0; /* Usuń padding */
    height: 0px; /* Stała wysokość breadcrumb */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); 
    display: flex; 
    align-items: center; /* Wyrównanie elementów w pionie */
    justify-content: center; /* Wyśrodkowanie w poziomie */
}

/* Zmiana koloru tła dla dużych ekranów */
@media (min-width: 992px) {
    #breadcrumb-small {
        background-color: #072240; /* Kolor tła breadcrumb dla dużych ekranów */
        
    }
}

#breadcrumb-small .container {
    text-align: center; /* Wyśrodkowanie zawartości w kontenerze */
}


.breadcrumb-pages-list {
    display: inline-flex; /* Lista w linii, ale traktowana jak element inline */
    align-items: center; /* Wyrównanie w pionie */
    justify-content: center; /* Wyrównanie poziome wewnątrz listy */
    list-style: none; /* Usuń domyślne style listy */
    margin: 0 auto; /* Wyśrodkowanie listy */
    padding: 0; /* Usuń padding */
    font-size: 13px; /* Dopasowana wielkość czcionki */
    color: #ffffff; /* Kolor tekstu */
}


.breadcrumb-pages-list li {
    margin-right: 10px; /* Odstępy między elementami listy */
    position: relative;
    font-weight: 400; /* Lżejsza czcionka */
}

.breadcrumb-pages-list li::after {
    content: ">"; /* Separator pomiędzy elementami listy */
    margin-left: 10px; /* Odstęp między tekstem a strzałką */
    color: #dfe3f3; /* Kolor separatora */
    font-size: 12px; /* Dopasowana wielkość separatora */
}

.breadcrumb-pages-list li:last-child::after {
    content: ""; /* Usuń separator dla ostatniego elementu */
}

.breadcrumb-pages-list li a {
    text-decoration: none; /* Usuń podkreślenie */
    color: #3cc1ff; /* Kolor linków */
    font-weight: 500; /* Pogrubienie linków */
}

.breadcrumb-pages-list li a:hover {
    color: #78e6ff; /* Kolor po najechaniu */
    text-decoration: none; /* Podkreślenie po najechaniu */
}


.list-team {
    min-height: 100px;
    padding: 10px;
    background-color: #2f3235;
    border: 1px solid #3c4144;
    border-radius: 5px;
  }


  .worker-on-home {
    background-color: #3d494d !important;
  }
  
  .dostepnyPracownik {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #4f5051;
    background-color: #2f3234;
    color: #e0e0e0;
  }
  
  .dostepnyPracownik:hover {
    background-color: #47494a;
  }
  
  .team-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    background-size: cover;
    background-position: center;
  }