{% extends 'base.html' %}

{% block content %}
<!-- page banner -->
<div class="page-banner-area mb-5" style="background-image: url(static/img/banners/error404-1-banner.jpg);">
<!-- <div class="page-banner-area mb-5" style="background-image: url('{{ url_for(\'static\', filename=\'img/banners/error404-1-banner.jpg\') }}');"> -->
    <div class="container">
        <div class="page-banner-content">
            <h2>404 Error</h2>
            <ul class="pages-list">
                <li><a href="/">Duodent Bielany</a></li>
                <li>404 Error</li>
            </ul>
        </div>
    </div>
</div>
<!-- page banner end -->
<!-- error-area -->
<section class="error-area ptb-100">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="error-content">
                    <img src="{{ url_for('static', filename='img/404.svg') }}" alt="Błąd 404">
                    <h3>Ups! Strona nie została znaleziona</h3>
                    <p>
                        Strona, której szukasz, mogła zostać usunięta, jej nazwa zmieniona lub jest tymczasowo niedostępna.
                    </p>
                    <a href="/" class="default-btn">Wróć na stronę główną</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- error-area end -->

{% endblock %}