{% extends 'base.html' %}

{% block content %}
<!-- page banner -->
{% set bg_image_error = url_for('static', filename='img/banners/error500-1-banner.jpg') %}

<div class="page-banner-area mb-5" id="pageBanner" style="background-image: url('{{ bg_image_error }}');">
    <div class="container">
        <div class="page-banner-content">
            <h2>500 Error</h2>
            <ul class="pages-list">
                <li><a href="/">Duodent Bielany</a></li>
                <li>500 Error</li>
            </ul>
        </div>
    </div>
</div>
<!-- page banner end -->
<!-- error-area -->
<section class="error-area ptb-100">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="error-content">
                    <!-- <img src="{{ url_for('static', filename='img/404.svg') }}" alt="Błąd 404"> -->
                    <h3>Ups! Wystąpił błąd serwera</h3>
                    <p>
                        Wystąpił błąd serwera. Spróbuj ponownie później lub skontaktuj się z administratorem, jeśli problem będzie się powtarzał.
                    </p>
                    <a href="/" class="default-btn">Wróć na stronę główną</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- error-area end -->

{% endblock %}