{% extends 'base.html' %}
{% block content %}
<!-- page banner -->
{% set bg_image_about = url_for('static', filename='img/banners/about-4-banner.jpg') %}
<div class="page-banner-area mb-5" id="pageBanner" style="background-image: url('{{ bg_image_about }}');">
    <div class="container">
        <div class="page-banner-content">
            <div class="page-banner-content">
                <h1 class="line">
                    Jak to <span>wszystko</span> się zaczęło?
                </h1>
                <h1 class="line">
                    Co <span>nas</span> napędza?
                </h1>
            </div>
            <h2 class="line">{{pageTitle}}</h2>
            <ul class="pages-list line">
                <li><a href="/">Duodent Bielany</a></li>
                <li>{{pageTitle}}</li>
            </ul>
        </div>
    </div>
</div>
<!-- page banner end -->
<!-- breadcrumb start -->
<div id="breadcrumb-small" class="breadcrumb-small page-banner-content" style="display: none;">
    <ul class="breadcrumb-pages-list">
        <li><a href="/">Duodent Bielany</a></li>
        <li>{{pageTitle}}</li>
    </ul>
</div>
<!-- breadcrumb end -->
<!-- about-area -->
<section class="about-area mb-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-content">
                    <span class="sub-title">
                        <i class="flaticon-hashtag-symbol"></i>
                        Jak to się zaczęło
                    </span>
                    <h3>
                        Duodent – historia pasji do <span>stomatologii</span> od 1989 roku
                    </h3>
                    <p>
                        Nasza historia rozpoczęła się w 1989 roku, kiedy otworzyliśmy nasz pierwszy gabinet stomatologiczny przy ulicy Śniadeckich. Była to niewielka, ale pełna pasji przestrzeń, w której zrodziło się nasze zaangażowanie w niesienie pomocy pacjentom. W 1992 roku, z myślą o rozwoju i zapewnieniu lepszych warunków, przenieśliśmy się na ulicę Nowolipki 21, gdzie przekształciliśmy się w NZOZ Duodent Przychodnię Lekarską sp. z o.o.
                    </p>
                    <p>
                        Nasza działalność dynamicznie się rozwijała, co zaowocowało otwarciem nowej, nowoczesnej placówki przy ulicy Arkuszowej 63 w maju 2013 roku. Od początku naszej działalności kierujemy się zasadą ciągłego doskonalenia wiedzy, umiejętności oraz inwestowania w najnowszy sprzęt, by móc zapewnić naszym pacjentom najwyższy standard opieki stomatologicznej.
                    </p>
                    <ul class="about-list">
                        <li>
                            <i class="flaticon-check"></i>
                            Oferujemy 2-letnią gwarancję na wszystkie usługi stomatologiczne.
                        </li>
                        <li>
                            <i class="flaticon-check"></i>
                            Zapewniamy 10-letnią gwarancję na implanty, bo wiemy, jak ważna jest trwałość i jakość.
                        </li>
                        <li>
                            <i class="flaticon-check"></i>
                            Dbając o naszych pacjentów, oferujemy zniżki do 15% dla rodzin, rencistów i emerytów.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-image about-image2">
                    <img src="static/img/about/about-zalozyciel-1.jpg" alt="Duodent - Stanisław Żmuda">
                    <div class="d-none d-lg-block about-inner-box">
                        <div class="content">
                            <div class="about-years">
                                30+
                            </div>
                            <h3>
                                Lat doświadczenia
                            </h3>
                            <p style="font-size: 15px;">
                                Od 30 lat łączymy doświadczenie z nowoczesnymi technologiami, zapewniając najwyższą jakość opieki. 
                                <br/>
                                <span style="font-size: 10px; color:#c2cad8;">Doktor nauk medycznych</span><br/>
                                <strong style="font-size: 20px;">Stanisław Żmuda</strong><br/>
                                <span style="font-size: 12px; color:#c2cad8;">
                                    Założyciel Przychodni Lekarskiej Duodent
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="m-3 d-lg-none">
                    <div class="content about-content article-content">
                        <h3>30+ <span>Lat </span>doświadczenia</h3>
                        <blockquote class="wp-block-quote">
                            <p style="font-size: 15px;">
                                Od 30 lat łączymy doświadczenie z nowoczesnymi technologiami, zapewniając najwyższą jakość opieki. 
                                <br/>
                                <span style="font-size: 13px; color:#2b3134;">Doktor nauk medycznych</span><br/>
                                <strong style="font-size: 20px;">Stanisław Żmuda</strong><br/>
                                <span style="font-size: 13px; color:#2b3134">
                                    Założyciel Przychodni Lekarskiej Duodent
                                </span>
                            </p>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about-area end -->

<!-- main feature -->
<section class="core-features-area pt-100 pb-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 mx-auto">
                <div class="section-title-warp">
                    <span class="sub-title">
                        <i class="flaticon-hashtag-symbol"></i>
                        Profesjonalizm i troska.
                    </span>
                    <h2>Dlaczego  <span>Duodent</span> Bielany?</h2>
                    <p>
                        Łączymy profesjonalizm z nowoczesnym podejściem, by zapewnić kompleksową opiekę 
                        stomatologiczną. Troszczymy się o zdrowie i estetykę Twojego uśmiechu, 
                        tworząc przyjazną atmosferę, w której każdy Pacjent czuje się wyjątkowo.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="single-core-features">
                    <div class="icon">
                        <i class="flaticon-dental-care"></i>
                    </div>
                    <h3>
                        <a href="/zabiegi-stomatologiczne-kompleksowa-oferta">Najwyższa jakość</a>
                    </h3>
                    <p>Najnowocześniejsze technologie i wieloletnie doświadczenie gwarantują doskonałe efekty leczenia.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-core-features">
                    <div class="icon">
                        <i class="flaticon-policy"></i>
                    </div>
                    <h3>
                        <a href="/poznaj-nasz-zespol-specjalistow-stomatologii">Doskonali eksperci</a>
                    </h3>
                    <p>Nasz zespół to specjaliści z międzynarodowym doświadczeniem, którzy stale podnoszą swoje kwalifikacje.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-core-features">
                    <div class="icon">
                        <i class="flaticon-caduceus"></i>
                    </div>
                    <h3>
                        <a href="/umow-wizyte-online">Bezstresowe wizyty</a>
                    </h3>
                    <p>Zapewniamy przyjazną atmosferę oraz pełen komfort Pacjenta na każdym etapie wizyty.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-core-features">
                    <div class="icon">
                        <i class="flaticon-hospitalisation"></i>
                    </div>
                    <h3>
                        <a href="/o-nas-twoja-klinika-stomatologiczna">Pełna troska</a>
                    </h3>
                    <p>Dbamy o każdy szczegół – od pierwszej konsultacji, przez leczenie, aż po wsparcie po zabiegu.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- main feature end -->

<!-- counter area -->
<section class="counter-area pb-70">
    <div class="container">
        <div class="counter-area-content">
            <div class="row">
                <div class="col-lg-3">
                    <div class="counter-single">
                        <i class="far fa-layer-group"></i>
                        <h3>
                            <span class="counter">5000</span> + 
                        </h3>
                        <p>Zrealizowanych usług</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="counter-single">
                        <i class="far fa-gem"></i>
                        <h3><span class="counter">30</span> + </h3>
                        <p>Lat doświadczenia</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="counter-single">
                        <i class="far fa-users"></i>
                        <h3><span class="counter">11</span> + </h3>
                        <p>Członków zespołu</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="counter-single">
                        <i class="far fa-award"></i>
                        <h3><span class="counter">1000</span> + </h3>
                        <p>Zadowolonych klientów</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- counter area end -->



<!-- doctor area -->
<section class="doctor-area pb-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 mx-auto">
                <div class="section-title-warp">
                    <span class="sub-title">
                        <i class="flaticon-hashtag-symbol"></i>
                        Nasz Zespół
                    </span>
                    <h2><span>Specjaliści</span>, którym możesz zaufać</h2>
                    <p>
                        Poznaj nasz zespół doświadczonych lekarzy, którzy z pasją dbają o Twoje zdrowie i dobre samopoczucie.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single-doctor">
                    <a href="#"><img src="static/img/doctor/1.jpg" alt="image"></a>
                    <div class="doctor-content">
                        <h3>
                            <a href="#">Elżbieta Fedorowicz</a>
                        </h3>
                        <span>Doktor nauk medycznych</span>
                        <div class="share-link">
                            <!-- <a href="#"><i class="bx bxl-facebook"></i></a>
                            <a href="#"><i class="bx bxl-twitter"></i></a>
                            <a href="#"><i class="bx bxl-instagram"></i></a>
                            <a href="#"><i class="bx bxl-linkedin"></i></a> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-doctor">
                    <a href="#"><img src="static/img/doctor/2.jpg" alt="image"></a>
                    <div class="doctor-content">
                        <h3>
                            <a href="#">Arkadiusz Żmuda</a>
                        </h3>
                        <span>Lekarz dentysta</span>
                        <div class="share-link">
                            <!-- <a href="#"><i class="bx bxl-facebook"></i></a>
                            <a href="#"><i class="bx bxl-twitter"></i></a>
                            <a href="#"><i class="bx bxl-instagram"></i></a>
                            <a href="#"><i class="bx bxl-linkedin"></i></a> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-doctor">
                    <a href="#"><img src="static/img/doctor/3.jpg" alt="image"></a>
                    <div class="doctor-content">
                        <h3>
                            <a href="#">Przemysław Żmuda</a>
                        </h3>
                        <span>Lekarz dentysta</span>
                        <div class="share-link">
                            <!-- <a href="#"><i class="bx bxl-facebook"></i></a>
                            <a href="#"><i class="bx bxl-twitter"></i></a>
                            <a href="#"><i class="bx bxl-instagram"></i></a>
                            <a href="#"><i class="bx bxl-linkedin"></i></a> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-doctor">
                    <a href="#"><img src="static/img/doctor/4.jpg" alt="image"></a>
                    <div class="doctor-content">
                        <h3>
                            <a href="#">Sylwia Żmuda</a>
                        </h3>
                        <span>Lekarz dentysta</span>
                        <div class="share-link">
                            <!-- <a href="#"><i class="bx bxl-facebook"></i></a>
                            <a href="#"><i class="bx bxl-twitter"></i></a>
                            <a href="#"><i class="bx bxl-instagram"></i></a>
                            <a href="#"><i class="bx bxl-linkedin"></i></a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- doctor area end -->



<!-- about area -->
<section class="about-area pb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-content">
                    <span class="sub-title">
                        <i class="flaticon-hashtag-symbol"></i>
                        Doświadczenie
                    </span>
                    <h3>
                        Zapewniamy <span>piękne zęby</span> i uśmiech
                    </h3>
                    <p>
                        W Duodent Bielany troszczymy się nie tylko o zdrowie, ale także o piękno Twojego uśmiechu. 
                        Nasza filozofia opiera się na indywidualnym podejściu do Pacjenta, łącząc profesjonalizm, 
                        nowoczesne technologie i dbałość o każdy detal, byś mógł cieszyć się zdrowym i estetycznym 
                        uśmiechem każdego dnia.
                    </p>
                    <div>
                        <ul class="about-list">
                            <li>
                                <i class="flaticon-check"></i>
                                Indywidualne podejście do każdego Pacjenta.
                            </li>
                            <li>
                                <i class="flaticon-check"></i>
                                Doświadczeni specjaliści w każdej dziedzinie stomatologii.
                            </li>
                            <li>
                                <i class="flaticon-check"></i>
                                Nowoczesne technologie dla zdrowia i estetyki uśmiechu.
                            </li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="about-info">
                                <i class="flaticon-caduceus"></i>
                                <h4>30+ lat</h4>
                                <span>Doświadczenia</span>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="about-info">
                                <i class="flaticon-dental-care"></i>
                                <h4>5500+ </h4>
                                <span>Przeprowadzonych Zabiegów</span>
                            </div>
                        </div>
                    </div>
                    <a href="/umow-wizyte-online" class="gold-button">Umów wizytę</a>
                    <!-- <a href="/o-nas-twoja-klinika-stomatologiczna" class="default-btn">Skontaktuj się</a> -->
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-image">
                    <img src="static/img/about/about-1-pandentysta.png" alt="image">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about area end -->


<!-- testimonials -->
<section class="review-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 mx-auto">
                <div class="section-title-warp">
                    <span class="sub-title">
                        <i class="flaticon-hashtag-symbol"></i>
                        Opinie w google
                    </span>
                    <h2>Sprawdź, <span>co mówią</span> o nas</h2>
                    <p>
                        Opinie naszych Pacjentów to najlepszy dowód na wysoką jakość świadczonych przez nas usług. 
                        Zaufanie, zadowolenie i pozytywne doświadczenia są dla nas najważniejsze, dlatego z dumą 
                        prezentujemy ich referencje.
                    </p>
                </div>
            </div>
        </div>
        <div class="review-slides owl-carousel owl-theme">
            <div class="single-review-item">
                <div class="icon">
                    <i class="far fa-quote-left"></i>
                </div>
                <p>
                    Polecam przychodnie Duodent. Cała nasza rodzina chodzi na wizyty do doktora Arkadiusza. 
                    Przemiły i wyrozumiały człowiek. Dokładnie tłumaczy co będzie wykonywał i jaki proces 
                    leczenie będzie najlepszy.
                </p>
                <div class="review-info">
                    <img src="https://lh3.googleusercontent.com/a/ACg8ocKV6P3fEhISxtciqm4-iSae4aBlPR5tI6BRvbfB5RWuNgZ3MQ=w75-h75-p-rp-mo-br100" alt="image">
                    <h3>Marzena Gujska</h3>
                    <span>Pacjent</span>
                </div>
            </div>
            <div class="single-review-item">
                <div class="icon">
                    <i class="far fa-quote-left"></i>
                </div>
                <p>
                    Super dentysta. Wszystko zawsze dobrze zrobione, dzieci też lubią przychodzić.
                </p>
                <div class="review-info">
                    <img src="https://lh3.googleusercontent.com/a-/ALV-UjXYoVaxEpzSeWOxiUGJqFXdfd7M1MpFaubIr4ytnkGe9UtheBxN=w75-h75-p-rp-mo-ba4-br100" alt="image">
                    <h3>Julian Glowniak</h3>
                    <span>Pacjent</span>
                </div>
            </div>
            <div class="single-review-item">
                <div class="icon">
                    <i class="far fa-quote-left"></i>
                </div>
                <p>
                    Polecam Panią Elżbiete Fedorowicz z czystym sercem! Doktor pełna empatii, 
                    zrozumienia i wyrozumiałości. Uratowała moje dziąsła, a co za tym idzie również zęby.
                    Jest Aniołem!
                </p>
                <div class="review-info">
                    <img src="https://lh3.googleusercontent.com/a/ACg8ocI_-BcczskfurWubvvjHw2VYpl6qwKCA4a3UX740DpWk59L=w75-h75-p-rp-mo-br100" alt="image">
                    <h3>Oliwia Piłatowicz</h3>
                    <span>Pacjent</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- testimonials end-->

{% endblock %}
{% block bottom_scripts %}
<script>
    $(document).ready(function () {
        // Po 5 sekundach uruchom animację
        setTimeout(function () {
            // Animacja chowania #pageBanner
            $("#pageBanner").animate(
                {
                    height: "0px", // Zmień wysokość
                    marginBottom: "0px", 
                    paddingTop: "0px", // Usuń górny padding
                    paddingBottom: "0px" // Usuń dolny padding
                },
                1000, // Czas animacji
                function () {
                    // Po zakończeniu animacji pokaż #breadcrumb-small
                    $("#breadcrumb-small")
                        .css("display", "block") // Ustaw widoczność
                        .animate(
                            {
                                height: "80px", // Rozsuń do 80px
                                paddingTop: "10px", // Dodaj górny padding
                                paddingBottom: "10px" // Dodaj dolny padding
                            },
                            1000 // Czas animacji
                        );
                }
            );
        }, 5000); // Poczekaj 5 sekund przed uruchomieniem animacji
    });


    $(window).on('load', function () {
        let delay = 0;

        $('.line').each(function (index, element) {
            setTimeout(function () {
                $(element).addClass('animate');
            }, delay);

            delay += 500; // Opóźnienie dla kolejnej linii
        });
    });
</script>
{% endblock %}