<!doctype html>
<html lang="pl">

<head>

    <!-- meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- SEO -->
    <title>Duodent Bielany - Profesjonalna przychodnia Stomatologiczna - {{pageTitle}}</title>
    {% block meta_tags %}
    <meta name="description" content="Duodent Bielany - Twoja przychodnia stomatologiczna. Oferujemy diagnostykę, profilaktykę, stomatologię dziecięcą, zachowawczą, endodoncję, protetykę i wiele więcej.">
    <meta name="keywords" content="stomatologia, przychodnia stomatologiczna, Bielany, diagnostyka stomatologiczna, profilaktyka, stomatologia dziecięca, endodoncja, protetyka, implanty, ortodoncja">
    <meta name="author" content="Duodent Bielany">
    <meta name="robots" content="index, follow">

    <!-- Social Media (Open Graph) -->
    <meta property="og:title" content="Duodent Bielany - Profesjonalna przychodnia Stomatologiczna - {{pageTitle}}">
    <meta property="og:description" content="Zadbaj o zdrowie i piękny uśmiech z Duodent Bielany. Oferujemy kompleksowe usługi stomatologiczne.">
    <meta property="og:url" content="https://www.duodentbielany.pl/">
    <meta property="og:image" content="https://www.duodentbielany.pl/static/img/duodent-social.jpg">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="pl_PL">

    <!-- Twitter Cards -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Duodent Bielany - Profesjonalna przychodnia Stomatologiczna - {{pageTitle}}">
    <meta name="twitter:description" content="Zadbaj o zdrowie i piękny uśmiech z Duodent Bielany. Oferujemy kompleksowe usługi stomatologiczne.">
    <meta name="twitter:image" content="https://www.duodentbielany.pl/static/img/duodent-social.jpg">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}">
    <link rel="apple-touch-icon" href="https://www.duodentbielany.pl/apple-touch-icon.png">
    {% endblock %}
    {% block liknscripts %}
    <!-- icon css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/boxicons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flaticon.css') }}">

    <!-- bootstrap-icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!-- plugin css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/meanmenu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nice-select.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.theme.default.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.min.css') }}">

    <!-- custom css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/addtocss.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {% endblock %}
    {% block scripts%}{% endblock %}
</head>

<body>

    <!-- preloader -->
    <div class="preloader">
        <div class="loader">
            <div class="loader-content"></div>
        </div>
    </div>
    <!-- preloader end -->

    <!-- top header  -->
    <div class="top-header-area">
        <div class="container">
            <div class="row align-items-center">
                <!-- Widoczne tylko na ekranach mniejszych niż lg -->
                <div class="col-12 align-items-center d-lg-none">
                    <div class="d-flex justify-content-center">
                        <div class="m-3">
                            <a href="https://www.google.com/maps/search/?api=1&query=52.283455,20.900840" target="_blank"><i class="bi bi-geo-alt icon-size"></i></a>
                        </div>
                        <div class="m-3">
                            <a href="mailto:arkuszowa@duodent.com.pl"><i class="bi bi-envelope-at icon-size"></i></a>
                        </div>
                        <div class="m-3">
                            <a href="https://www.facebook.com/duodent.przychodnia" target="_blank">
                                <i class="bi bi-facebook icon-size"></i>
                            </a>
                        </div>
                        <div class="m-3">
                            <a href="https://www.instagram.com/duodentbielany" target="_blank">
                                <i class="bi bi-instagram icon-size"></i>
                            </a>
                        </div>
                        {% if userName!='NotLogin' %}
                        <div class="m-3">
                            <a href="/admin/logout" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ userName }}">
                                <i class="bi bi-person-circle icon-size"></i>
                            </a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            
               
                <!-- Widoczne tylko na ekranach lg i większych -->
                <div class="col-6 d-none d-lg-block">
                    <ul class="top-header-information">
                        <li>
                            <i class="far fa-map-marker-alt"></i>
                            <a href="https://www.google.com/maps/search/?api=1&query=52.283455,20.900840" target="_blank"><span>ul. Arkuszowa 63, Warszawa</span></a>
                        </li>
                        <li>
                            <i class="far fa-envelope-open"></i>
                            <a href="mailto:arkuszowa@duodent.com.pl"><span>arkuszowa@duodent.com.pl</span></a>
                        </li>
                    </ul>
                </div>
                <div class="col-6 d-none d-lg-block">
                    <ul class="top-header-optional">
                        <li>
                            <a href="https://www.facebook.com/duodent.przychodnia" target="_blank">
                                <i class="bx bxl-facebook"></i>
                            </a>
                            <a href="https://www.instagram.com/duodentbielany" target="_blank">
                                <i class="bx bxl-instagram"></i>
                            </a>
                        </li>
                        {% if userName!='NotLogin' %}
                        <li>
                            <a href="/admin/logout" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ userName }}">
                                <i class="fas fa-user"></i>
                            </a>
                        </li>
                        {% endif %}
                        <!-- <li class="languages-list">
                            <select>
                                <option value="1">English</option>
                                <option value="3">Russian</option>
                                <option value="3">Spanish</option>
                            </select>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- top header end -->
     
    {% block navbar_area_middle_header %}
    <!-- middle-header -->
    <div class="middle-header-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 col-md-12">
                    <div class="middle-header">
                        <div class="logo">
                            <a href="/">
                                <img src="{{ url_for('static', filename='img/logotyp_duodent_bielany_solidfill_light.png') }}" alt="logo">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-12 middle-header-area_bg">
                    <ul class="middle-header-content">
                        <li>
                            <i id="phone-icon" class="flaticon-emergency-call" onClick="window.location.href='tel:+48790777350'"></i>
                            
                            Zadzwoń
                            <span><a href="tel:+48790777350">790 777 350</a></span>
                        </li>
                        <li>
                            <i class="flaticon-wall-clock" onClick="window.location.href='/umow-wizyte-online'"></i>
                            Pon – Pt 
                            <span>8:00 – 20:00</span>
                        </li>
                        <!-- <li>
                            <i class="flaticon-calendar" onClick="window.location.href='/umow-wizyte-online'"></i>
                            Sob 
                            <span>8:00 – 13:00</span>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- middle-header end -->
    
    <!-- navbar area -->
    <div class="navbar-area">

        <!-- mobile navbar -->
        <div class="main-responsive-nav">
            <div class="container">
                <div class="main-responsive-menu">
                    <div class="logo">
                        <a href="/">
                            <img src="{{ url_for('static', filename='img/logotyp_duodent_bielany_solidfill_light.png') }}" alt="logo">
                        </a>
                    </div>
                    <div class="others-search-btn">
                        <div class="search-btn">
                            <a class="#" href="#searchmodal" data-bs-toggle="modal" data-bs-target="#searchmodal">
                                <i class="flaticon-search"></i>
                            </a>
                        </div>
                    </div>
                    <div class="responsive-menu-bar"></div>
                </div>
            </div>
        </div>
        <!-- mobile navbar end -->
        
        <div class="main-navbar">
            <div class="container">
                <nav class="navbar navbar-expand-md navbar-light">
                    <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            <li class="nav-item {% if pageTitle=='Strona Główna' %}active{% endif %}">
                                <!-- Widoczne tylko na ekranach mniejszych niż lg -->
                                <a href="/" class="nav-link d-lg-none">
                                    {% if pageTitle=='Strona Główna' %}
                                        <svg 
                                            xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="1.3rem" height="1.3rem" 
                                            style="fill: #06a3da;"
                                            viewBox="0 0 20.29 17.66">
                                            <path class="fil0" d="M14.38 10.6l0.01 -5.58c-0.47,-0.07 -1.41,-0.01 -1.92,-0.01l-5.76 0c-1.09,0 -2.71,-0.06 -3.65,0.19 -0.48,0.13 -0.9,0.21 -1.39,0.53 -1.93,1.26 -1.66,3.78 -1.66,6.07 0,0.61 -0.02,1.31 0.06,1.86 0.14,1.03 0.14,1.97 0.97,2.88 0.55,0.6 1.74,1.05 2.8,1.06 0.27,-0.04 0.97,0.03 1.31,0.03l6.58 0c0.79,0 1.84,0.06 2.6,0 0.05,-0.13 0.05,-2.87 0.04,-4.64l-1.8 0c0,1.27 -0.01,2.97 -0.03,3.05 -0.58,0.05 -1.36,0.01 -1.95,0.01l-4.92 0c-0.26,0 -0.78,-0.06 -0.98,-0.03 -0.8,0 -1.69,-0.34 -2.1,-0.79 -0.62,-0.69 -0.62,-1.38 -0.73,-2.16 -0.06,-0.41 -0.04,-0.93 -0.04,-1.39 0,-1.72 -0.2,-3.6 1.24,-4.55 0.37,-0.23 0.68,-0.29 1.04,-0.39 0.71,-0.18 1.92,-0.14 2.74,-0.14l4.3 0c0.39,0 1.09,-0.04 1.44,0.01l-0.01 3.99 1.81 0z"/>
                                            <path class="fil0" d="M5.92 4.61l-0.01 -4.58c0.46,-0.06 1.4,-0.01 1.91,-0.01l5.76 0c1.09,0 2.71,-0.05 3.65,0.19 0.48,0.13 0.9,0.21 1.39,0.53 1.93,1.26 1.66,3.78 1.66,6.07 0,0.62 0.03,1.31 -0.05,1.87 -0.15,1.03 -0.14,1.96 -0.98,2.88 -0.54,0.6 -1.73,1.05 -2.8,1.05 -0.27,-0.04 -0.96,0.04 -1.31,0.04l-6.57 0c-0.8,0 -1.84,0.06 -2.61,-0.01 -0.05,-0.13 -0.05,-3.73 -0.04,-5.64l1.87 0c-0.01,1.47 0,3.91 0.03,4 0.57,0.05 1.34,0.01 1.93,0.01l4.86 0c0.25,0 0.77,-0.06 0.97,-0.03 0.79,0 1.67,-0.34 2.07,-0.78 0.62,-0.68 0.61,-1.37 0.72,-2.13 0.06,-0.41 0.04,-0.93 0.04,-1.38 0,-1.7 0.2,-3.56 -1.22,-4.49 -0.37,-0.24 -0.68,-0.3 -1.03,-0.39 -0.7,-0.19 -1.9,-0.15 -2.71,-0.15l-4.26 0c-0.37,0 -1.07,-0.04 -1.41,0.01l0 2.94 -1.86 0z"/>
                                        </svg>
                                        {% else %}
                                        <svg 
                                            xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="1.3rem" height="1.3rem" 
                                            style="fill: #677294;"
                                            viewBox="0 0 20.29 17.66">
                                            <path class="fil0" d="M14.38 10.6l0.01 -5.58c-0.47,-0.07 -1.41,-0.01 -1.92,-0.01l-5.76 0c-1.09,0 -2.71,-0.06 -3.65,0.19 -0.48,0.13 -0.9,0.21 -1.39,0.53 -1.93,1.26 -1.66,3.78 -1.66,6.07 0,0.61 -0.02,1.31 0.06,1.86 0.14,1.03 0.14,1.97 0.97,2.88 0.55,0.6 1.74,1.05 2.8,1.06 0.27,-0.04 0.97,0.03 1.31,0.03l6.58 0c0.79,0 1.84,0.06 2.6,0 0.05,-0.13 0.05,-2.87 0.04,-4.64l-1.8 0c0,1.27 -0.01,2.97 -0.03,3.05 -0.58,0.05 -1.36,0.01 -1.95,0.01l-4.92 0c-0.26,0 -0.78,-0.06 -0.98,-0.03 -0.8,0 -1.69,-0.34 -2.1,-0.79 -0.62,-0.69 -0.62,-1.38 -0.73,-2.16 -0.06,-0.41 -0.04,-0.93 -0.04,-1.39 0,-1.72 -0.2,-3.6 1.24,-4.55 0.37,-0.23 0.68,-0.29 1.04,-0.39 0.71,-0.18 1.92,-0.14 2.74,-0.14l4.3 0c0.39,0 1.09,-0.04 1.44,0.01l-0.01 3.99 1.81 0z"/>
                                            <path class="fil0" d="M5.92 4.61l-0.01 -4.58c0.46,-0.06 1.4,-0.01 1.91,-0.01l5.76 0c1.09,0 2.71,-0.05 3.65,0.19 0.48,0.13 0.9,0.21 1.39,0.53 1.93,1.26 1.66,3.78 1.66,6.07 0,0.62 0.03,1.31 -0.05,1.87 -0.15,1.03 -0.14,1.96 -0.98,2.88 -0.54,0.6 -1.73,1.05 -2.8,1.05 -0.27,-0.04 -0.96,0.04 -1.31,0.04l-6.57 0c-0.8,0 -1.84,0.06 -2.61,-0.01 -0.05,-0.13 -0.05,-3.73 -0.04,-5.64l1.87 0c-0.01,1.47 0,3.91 0.03,4 0.57,0.05 1.34,0.01 1.93,0.01l4.86 0c0.25,0 0.77,-0.06 0.97,-0.03 0.79,0 1.67,-0.34 2.07,-0.78 0.62,-0.68 0.61,-1.37 0.72,-2.13 0.06,-0.41 0.04,-0.93 0.04,-1.38 0,-1.7 0.2,-3.56 -1.22,-4.49 -0.37,-0.24 -0.68,-0.3 -1.03,-0.39 -0.7,-0.19 -1.9,-0.15 -2.71,-0.15l-4.26 0c-0.37,0 -1.07,-0.04 -1.41,0.01l0 2.94 -1.86 0z"/>
                                        </svg>
                                    {% endif %} 
                                </a>
                                <!-- Widoczne tylko na ekranach lg i większych -->
                                <a href="/" class="nav-link d-none d-lg-block">
                                    {% if pageTitle=='Strona Główna' %}
                                        <svg 
                                            xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="1.3rem" height="1.3rem" 
                                            style="fill: #06a3da;"
                                            viewBox="0 0 20.29 17.66">
                                            <path class="fil0" d="M14.38 10.6l0.01 -5.58c-0.47,-0.07 -1.41,-0.01 -1.92,-0.01l-5.76 0c-1.09,0 -2.71,-0.06 -3.65,0.19 -0.48,0.13 -0.9,0.21 -1.39,0.53 -1.93,1.26 -1.66,3.78 -1.66,6.07 0,0.61 -0.02,1.31 0.06,1.86 0.14,1.03 0.14,1.97 0.97,2.88 0.55,0.6 1.74,1.05 2.8,1.06 0.27,-0.04 0.97,0.03 1.31,0.03l6.58 0c0.79,0 1.84,0.06 2.6,0 0.05,-0.13 0.05,-2.87 0.04,-4.64l-1.8 0c0,1.27 -0.01,2.97 -0.03,3.05 -0.58,0.05 -1.36,0.01 -1.95,0.01l-4.92 0c-0.26,0 -0.78,-0.06 -0.98,-0.03 -0.8,0 -1.69,-0.34 -2.1,-0.79 -0.62,-0.69 -0.62,-1.38 -0.73,-2.16 -0.06,-0.41 -0.04,-0.93 -0.04,-1.39 0,-1.72 -0.2,-3.6 1.24,-4.55 0.37,-0.23 0.68,-0.29 1.04,-0.39 0.71,-0.18 1.92,-0.14 2.74,-0.14l4.3 0c0.39,0 1.09,-0.04 1.44,0.01l-0.01 3.99 1.81 0z"/>
                                            <path class="fil0" d="M5.92 4.61l-0.01 -4.58c0.46,-0.06 1.4,-0.01 1.91,-0.01l5.76 0c1.09,0 2.71,-0.05 3.65,0.19 0.48,0.13 0.9,0.21 1.39,0.53 1.93,1.26 1.66,3.78 1.66,6.07 0,0.62 0.03,1.31 -0.05,1.87 -0.15,1.03 -0.14,1.96 -0.98,2.88 -0.54,0.6 -1.73,1.05 -2.8,1.05 -0.27,-0.04 -0.96,0.04 -1.31,0.04l-6.57 0c-0.8,0 -1.84,0.06 -2.61,-0.01 -0.05,-0.13 -0.05,-3.73 -0.04,-5.64l1.87 0c-0.01,1.47 0,3.91 0.03,4 0.57,0.05 1.34,0.01 1.93,0.01l4.86 0c0.25,0 0.77,-0.06 0.97,-0.03 0.79,0 1.67,-0.34 2.07,-0.78 0.62,-0.68 0.61,-1.37 0.72,-2.13 0.06,-0.41 0.04,-0.93 0.04,-1.38 0,-1.7 0.2,-3.56 -1.22,-4.49 -0.37,-0.24 -0.68,-0.3 -1.03,-0.39 -0.7,-0.19 -1.9,-0.15 -2.71,-0.15l-4.26 0c-0.37,0 -1.07,-0.04 -1.41,0.01l0 2.94 -1.86 0z"/>
                                        </svg>
                                        {% else %}
                                        <svg 
                                            xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="1.3rem" height="1.3rem" 
                                            style="fill: #fff;"
                                            viewBox="0 0 20.29 17.66">
                                            <path class="fil0" d="M14.38 10.6l0.01 -5.58c-0.47,-0.07 -1.41,-0.01 -1.92,-0.01l-5.76 0c-1.09,0 -2.71,-0.06 -3.65,0.19 -0.48,0.13 -0.9,0.21 -1.39,0.53 -1.93,1.26 -1.66,3.78 -1.66,6.07 0,0.61 -0.02,1.31 0.06,1.86 0.14,1.03 0.14,1.97 0.97,2.88 0.55,0.6 1.74,1.05 2.8,1.06 0.27,-0.04 0.97,0.03 1.31,0.03l6.58 0c0.79,0 1.84,0.06 2.6,0 0.05,-0.13 0.05,-2.87 0.04,-4.64l-1.8 0c0,1.27 -0.01,2.97 -0.03,3.05 -0.58,0.05 -1.36,0.01 -1.95,0.01l-4.92 0c-0.26,0 -0.78,-0.06 -0.98,-0.03 -0.8,0 -1.69,-0.34 -2.1,-0.79 -0.62,-0.69 -0.62,-1.38 -0.73,-2.16 -0.06,-0.41 -0.04,-0.93 -0.04,-1.39 0,-1.72 -0.2,-3.6 1.24,-4.55 0.37,-0.23 0.68,-0.29 1.04,-0.39 0.71,-0.18 1.92,-0.14 2.74,-0.14l4.3 0c0.39,0 1.09,-0.04 1.44,0.01l-0.01 3.99 1.81 0z"/>
                                            <path class="fil0" d="M5.92 4.61l-0.01 -4.58c0.46,-0.06 1.4,-0.01 1.91,-0.01l5.76 0c1.09,0 2.71,-0.05 3.65,0.19 0.48,0.13 0.9,0.21 1.39,0.53 1.93,1.26 1.66,3.78 1.66,6.07 0,0.62 0.03,1.31 -0.05,1.87 -0.15,1.03 -0.14,1.96 -0.98,2.88 -0.54,0.6 -1.73,1.05 -2.8,1.05 -0.27,-0.04 -0.96,0.04 -1.31,0.04l-6.57 0c-0.8,0 -1.84,0.06 -2.61,-0.01 -0.05,-0.13 -0.05,-3.73 -0.04,-5.64l1.87 0c-0.01,1.47 0,3.91 0.03,4 0.57,0.05 1.34,0.01 1.93,0.01l4.86 0c0.25,0 0.77,-0.06 0.97,-0.03 0.79,0 1.67,-0.34 2.07,-0.78 0.62,-0.68 0.61,-1.37 0.72,-2.13 0.06,-0.41 0.04,-0.93 0.04,-1.38 0,-1.7 0.2,-3.56 -1.22,-4.49 -0.37,-0.24 -0.68,-0.3 -1.03,-0.39 -0.7,-0.19 -1.9,-0.15 -2.71,-0.15l-4.26 0c-0.37,0 -1.07,-0.04 -1.41,0.01l0 2.94 -1.86 0z"/>
                                        </svg>
                                    {% endif %} 
                                </a>
                            </li>
                            <!-- <li class="nav-item {% if pageTitle=='Strona Główna' %}active{% endif %}">
                                <a href="/" class="nav-link">
                                    <i class="bi bi-houses-fill" style="font-size: 1rem;"></i>
                                    <img src="{{ url_for('static', filename='img/logotyp_duodent_bielany_krzywe.svg') }}" alt="Logo Duodent Bielany" style="width: 100%; max-height: 1rem;">
                                </a>
                            </li> -->
                            <!-- 
                            Poznaj nas bliżej
                            Zabiegi
                                Ortodoncja
                                    Informacje o leczeniu ortodontycznym (do uzupełnienia)
                                Chirurgia i implantologia
                                Protetyka
                                Endodoncja
                                    Leczenie kanałowe
                                Periodontologia
                                    Choroby przyzębia
                                    Opis stanu wokół zęba
                                Nowoczesna diagnostyka
                                    RTG
                                    Scanner 3D
                                Profilaktyka
                                    Higienizacja
                                    Wybielanie
                                Stomatologia dziecięca
                            Zespół | zależy od ilości osób
                                Szczególy pracownikae
                                Kwalifikacja
                                Certyfikacja
                                Umiejętności zawodowe
                                Doświadczenie albo stopien naukowy
                                Nagrody
                                Jeden akapit opisu ogólnego lekarza/pracownika
                                Dla Pacjenta
                            Kontakt
                            -->
                            <li class="nav-item {% if pageTitle=='Poznaj nas bliżej' %}active{% endif %}">
                                <a href="/o-nas-twoja-przychodnia-stomatologiczna" class="nav-link">Poznaj nas bliżej</a>
                            </li>
                            
                            <li class="nav-item {% if pageTitle=='Zabiegi' %}active{% endif %}">
                                <a href="/zabiegi-stomatologiczne-kompleksowa-oferta" class="nav-link">
                                    Zabiegi
                                    <i class="far fa-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    {% for link, name in treatmentMenu.items() %}
                                        <li class="nav-item">
                                            <a href="/zabieg-stomatologiczny/{{link}}" class="nav-link">{{name}}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li class="nav-item {% if pageTitle=='Zespół' %}active{% endif %}">
                                <a href="/poznaj-nasz-zespol-specjalistow-stomatologii" class="nav-link">Zespół</a>
                            </li>
                            <li class="nav-item {% if pageTitle=='Dla Pacjenta' %}active{% endif %}">
                                <a href="/informacje-dla-pacjentow-stomatologicznych" class="nav-link">Dla Pacjenta</a>
                            </li>
                            <li class="nav-item {% if pageTitle=='Kontakt z przychodnią stomatologiczną' %}active{% endif %}">
                                <a href="/kontakt-z-przychodnia-stomatologiczna" class="nav-link">Kontakt</a>
                            </li>
                            {% if userName != 'NotLogin' %}
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    Administracja
                                    <i class="far fa-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="/admin/ustawienia-aplikacji" class="nav-link">Zarządzanie Aplikacją</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/admin/zarzadzanie-zabiegami" class="nav-link">Zarządzanie zabiegami</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/admin/rejestracja" class="nav-link">Rejestracja Pracownika</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/admin/password-managment" class="nav-link">Zarządzanie hasłem</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/admin/team-stomatologia" class="nav-link">Zarządzanie pracownikami</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/admin/opinie" class="nav-link">Opinie</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/admin/dokumenty" class="nav-link">Dokumenty do pobrania</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/admin/logout" class="nav-link">Wyloguj się</a>
                                    </li>
                                </ul>
                            </li>
                            {% endif %}
                            
                        </ul>
                        <div class="others-options d-flex align-items-center">
                            <div class="option-item">
                                <div class="search-btn">
                                    <a class="#" href="#searchmodal" data-bs-toggle="modal"
                                        data-bs-target="#searchmodal">
                                        <i class="flaticon-search"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="option-item">
                                <div class="navbar-btn">
                                    <a href="/umow-wizyte-online" class="gold-button">Umów wizytę</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- navbar area end -->
    {% endblock %}

    <!-- search modal -->
    <div class="modal fade fade-scale searchmodal" id="searchmodal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-bs-dismiss="modal">
                        <i class="bx bx-x"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="modal-search-form">
                        <input type="search" class="search-field" placeholder="Jak możemy pomóc?">
                        <button type="submit"><i class="bx bx-search"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- search modal end-->


    {% block content %}
        <!-- Tutaj będzie treść strony -->
    {% endblock %}

    {% block footer_area %}
    <!-- footer area -->
    <footer class="footer-area pt-100 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="single-footer-widget">
                        <div class="logo">
                            <a href="/">
                                <img src="{{ url_for('static', filename='img/logo-light.png') }}" alt="logo">
                            </a>
                        </div>
                        <p>
                            W Duodent piękny uśmiech to wynik pasji, precyzji i doświadczenia.
                        </p>
                        <div class="footer-info">
                            <img src="{{ url_for('static', filename='img/footer/zalozyciel.jpg') }}" alt="image">
                            <span style="color: #9fb9c2; margin-top: 3px; display: inline-block;">Doktor nauk medycznych</span>
                            <h4>Stanisław Żmuda</h4>
                            <span>Założyciel Przychodni Lekarskiej Duodent</span>
                        </div>
                        <div class="signature">
                            <img src="{{ url_for('static', filename='img/footer/podpis.png') }}" alt="image">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-footer-widget">
                        <h3>Szybkie skróty</h3>
                        <ul class="quick-links">
                            <li>
                                <a href="/o-nas-twoja-przychodnia-stomatologiczna"> <i class="far fa-angle-double-right"></i> Poznaj nas bliżej</a>
                            </li>
                            <li>
                                <a href="/zabiegi-stomatologiczne-kompleksowa-oferta"> <i class="far fa-angle-double-right"></i> Zabiegi</a>
                            </li>
                            <li>
                                <a href="/informacje-dla-pacjentow-stomatologicznych"> <i class="far fa-angle-double-right"></i> Dla Pacjenta</a>
                            </li>
                            <li>
                                <a href="/kontakt-z-przychodnia-stomatologiczna"> <i class="far fa-angle-double-right"></i> Kontakt</a>
                            </li>
                            <li>
                                <a href="/polityka-prywatnosci"> <i class="far fa-angle-double-right"></i> Polityka prywatności</a>
                            </li>
                            <li>
                                <a href="/faq"> <i class="far fa-angle-double-right"></i> FAQs</a>
                            </li>
                            <li>
                                <a href="/zasady-witryny"> <i class="far fa-angle-double-right"></i> Zasady witryny</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-footer-widget">
                        <h3>Zabiegi</h3>
                        <div class="footer-widget-blog">
                            {% for treat in treatmentFooter %}
                                {% with bg_image=url_for('static', filename='img/services/' + treat.foto_home) %}
                                    <article class="item">
                                        <a href="/zabieg-stomatologiczny/{{treat.ready_route}}" class="thumb">
                                            <span 
                                                class="fullimage" 
                                                style="background-image: url('{{ bg_image }}');"
                                                role="img">
                                            </span>
                                        </a>
                                        <div class="info">
                                            <h4><a href="/zabieg-stomatologiczny/{{treat.ready_route}}"><i class="{{treat.icon}}"></i> {{treat.tytul_glowny}}</a></h4>
                                            <span>
                                                {{treat.opis_home}}
                                            </span>
                                        </div>
                                    </article>
                                {% endwith %}
                            {% endfor %}
                           
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-footer-widget">
                        <h3>Kontakt</h3>
                        <ul class="footer-information">
                            <li>
                                <i class="flaticon-red-cross"></i>
                                Warszawa Bielany
                                <a href="https://www.google.com/maps/search/?api=1&query=52.283455,20.900840" target="_blank">
                                    <span>ul. Arkuszowa 63</span>
                                </a>
                            </li>
                            <li>
                                <i class="flaticon-emergency-call"></i>
                                Telefon
                                <span><a href="tel:+48790777350">+48 790 777 350</a></span>
                            </li>
                            <li>
                                <i class="flaticon-wall-clock"></i>
                                <strong>
                                    Godziny otwarcia<br />
                                </strong>
                                Pon-Pt 8:00 – 20:00<br />
                                Sob 8:00 – 13:00<br />
                                <br />
                                <strong>
                                    Dojazd<br />
                                </strong>
                                Autobusy: 110, 210<br />
                                Tramwaje: 26, 33<br />
                                Metro: M1 (Młociny)<br />
                            </li>
                        </ul>

                        <div class="footer-social">
                            <a href="mailto:arkuszowa@duodent.com.pl"><i class="far fa-envelope-open"></i></a>
                            <a href="https://www.facebook.com/duodent.przychodnia" target="_blank"><i class="bx bxl-facebook"></i></a>
                            <a href="https://www.instagram.com/duodentbielany" target="_blank"><i class="bx bxl-instagram"></i></a>
                            <!-- <a href="#"><i class="bx bxl-twitter"></i></a> -->
                            <!-- <a href="#"><i class="bx bxl-linkedin"></i></a> -->
                            <!-- <a href="#"><i class="bx bxl-whatsapp"></i></a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer area end -->
    {% endblock %}
    <!-- copyright area -->
    <div class="copyright-area">
        <div class="container">
            <div class="copyright-area-content">
                <p>
                    &copy; 
                    <a href="#">
                        Duodent Bielany <span id="date"></span>.
                    </a>
                    Wszelkie prawa zastrzeżone.
                </p>
            </div>
        </div>
    </div>
    <!-- copyright area end -->

    <!-- go top -->
    <div class="go-top">
        <i class="far fa-arrow-up"></i>
    </div>
    <!-- go top end -->

    {% block plugin_js %}
    <!-- plugin js -->
    
    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.meanmenu.js') }}"></script>
    <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.appear.js') }}"></script>
    <script src="{{ url_for('static', filename='js/nice-select.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/wow.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/waypoints.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.counterup.min.js') }}"></script>
    
    <!-- custom js -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl);
            });
        });
    </script>
    {% endblock %}
    {% block bottom_scripts %}{% endblock %}
</body>

</html>