{% extends 'base.html' %}
{% block content %}
<!-- page banner -->
<div class="page-banner-area mb-5" style="background-image: url(static/img/banners/wizytaonline-1-banner.jpg);">
    <div class="container">
        <div class="page-banner-content">
            <h2>{{pageTitle}}</h2>
            <ul class="pages-list">
                <li><a href="/">Duodent Bielany</a></li>
                <li>{{pageTitle}}</li>
            </ul>
        </div>
    </div>
</div>
<!-- page banner end -->

<!-- contact-area -->
<section class="contact-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="section-title">
                    <span class="sub-title">
                        <i class="flaticon-hashtag-symbol"></i>
                        Napisz do nas
                    </span>
                    <h2>Skontaktuj się z przychodnią Duodent</h2>
                    <p>
                        Masz pytania lub potrzebujesz umówić wizytę? Napisz do nas, a nasz zespół z chęcią udzieli odpowiedzi i pomoże w wyborze odpowiedniego terminu.
                    </p>
                </div>
                <div class="contact-form">
                    <form method="post" id="contact-form">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <input type="text" id="name" name="name" class="form-control" required placeholder="Imię i nazwisko">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <input type="email" id="email" name="email" class="form-control" required placeholder="Adres e-mail">
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <input type="text" id="subject" name="subject" class="form-control" required placeholder="Temat">
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <textarea id="message" name="message" class="form-control" cols="30" rows="5" required placeholder="Twoja wiadomość"></textarea>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <button type="submit" class="default-btn">Wyślij wiadomość</button>
                            </div>
                            <div class="col-md-12 mt-3">
                                <div class="form-messege text-success text-center"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-5">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6150.4557091861125!2d20.89508786095261!3d52.28314946952805!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471eca138fe25e31%3A0x8c97ff998ec06462!2sDuodent%20Stomatologia!5e0!3m2!1spl!2spl!4v1733566943021!5m2!1spl!2spl" class="w-100" height="620" style="border:0;border-radius: 10px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                
            </div>
        </div>
    </div>
</section>
<!-- contact-area end -->


<!-- contact info -->
<section class="features-area-two pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="single-features-box">
                    <div class="content">
                        <div class="icon">
                            <i class="far fa-map-marker-alt"></i>
                        </div>
                        <h3>
                            Lokalizacja
                        </h3>
                        <p>
                            Warszawa Bielany, ul. Arkuszowa 63
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-features-box">
                    <div class="content">
                        <div class="icon">
                            <i class="far fa-phone"></i>
                        </div>
                        <h3>
                            Zadzwoń do nas
                        </h3>
                        <p>
                            <a href="tel:+48790777350">+48 790 777 350</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-features-box">
                    <div class="content">
                        <div class="icon">
                            <i class="far fa-clock"></i>
                        </div>
                        <h3>
                            Godziny otwarcia
                        </h3>
                        <p>
                            Pon-Pt: 8:00 – 20:00<br>
                            Sob: 8:00 – 13:00
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-features-box">
                    <div class="content">
                        <div class="icon">
                            <i class="far fa-bus"></i>
                        </div>
                        <h3>
                            Dojazd
                        </h3>
                        <p>
                            Autobusy: 110, 210<br>
                            Tramwaje: 26, 33<br>
                            Metro: M1 (Młociny)
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- contact info end -->

{% endblock %}
{% block bottom_scripts %}{% endblock %}