{% extends 'base.html' %}
{% block content %}
<!-- page banner -->
{% set bg_image_contact = url_for('static', filename='img/banners/kontakt-4-banner.jpg') %}
<div class="page-banner-area mb-5" id="pageBanner" style="background-image: url('{{ bg_image_contact }}');">
    <div class="container">
        <div class="page-banner-content">
            <div class="page-banner-content">
                <h1 class="line">
                    Jesteśmy <span>do Twojej</span> dyspozycji
                </h1>
                <h1 class="line">
                    Zadzwoń lub <span>napisz</span> teraz
                </h1>
            </div>
            <h2 class="line">{{pageTitle}}</h2>
            <ul class="pages-list line">
                <li><a href="/">Duodent Bielany</a></li>
                <li>Kontakt</li>
            </ul>
        </div>
    </div>
</div>
<!-- page banner end -->
<!-- breadcrumb start -->
<div id="breadcrumb-small" class="breadcrumb-small mb-5" style="display: none;">
    <div class="container justify-content-center">
        <div class="justify-content-center">
            <ul class="breadcrumb-pages-list">
                <li><a href="/">Duodent Bielany</a></li>
                <li>Kontakt</li>
            </ul>
        </div>
    </div>
</div>
<!-- breadcrumb end -->
<!-- contact-area -->
<section class="contact-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="section-title">
                    <span class="sub-title">
                        <i class="flaticon-hashtag-symbol"></i>
                        Napisz do nas
                    </span>
                    <h2>Skontaktuj się z przychodnią <span>Duodent</span></h2>
                    <p>
                        Masz pytania lub potrzebujesz umówić wizytę? Napisz do nas, a nasz zespół z chęcią udzieli odpowiedzi i pomoże w wyborze odpowiedniego terminu.
                    </p>
                </div>
                <div class="contact-form">
                    <form method="post" id="contact-form">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <input type="text" id="name" name="name" class="form-control" required placeholder="Imię i nazwisko">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <input type="email" id="email" name="email" class="form-control" required placeholder="Adres e-mail">
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <input type="text" id="subject" name="subject" class="form-control" required placeholder="Temat">
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <textarea id="message" name="message" class="form-control" cols="30" rows="5" required placeholder="Twoja wiadomość"></textarea>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="form-check form-switch mb-3">
                                    <input class="form-check-input" type="checkbox" role="switch" id="consent" name="consent" required>
                                    <label class="form-check-label text-start" for="consent" style="font-size: 10px; color:#6b6b6b">
                                        Wyrażam zgodę na <strong style="color:#243f3f;">przetwarzanie</strong> moich <strong style="color:#243f3f;">danych osobowych</strong> przez Duodent Bielany 
                                        <strong style="color:#243f3f;">w celu kontaktu</strong>, zgodnie z obowiązującymi przepisami
                                        Rozporządzenia Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27 
                                        kwietnia 2016 r. <strong style="color:#243f3f;">(RODO)</strong>.
                                    </label>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <button type="submit" class="default-btn">Wyślij wiadomość</button>
                            </div>
                            <div class="col-md-12 mt-3">
                                <div class="form-messege text-success text-center"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-5">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6150.4557091861125!2d20.89508786095261!3d52.28314946952805!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471eca138fe25e31%3A0x8c97ff998ec06462!2sDuodent%20Stomatologia!5e0!3m2!1spl!2spl!4v1733566943021!5m2!1spl!2spl" class="w-100" height="620" style="border:0;border-radius: 10px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                
            </div>
        </div>
    </div>
</section>
<!-- contact-area end -->


<!-- contact info -->
<section class="features-area-two pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="single-features-box">
                    <div class="content">
                        <div class="icon">
                            <i class="far fa-map-marker-alt"></i>
                        </div>
                        <h3 class="mb-2">
                            Lokalizacja
                        </h3>
                        <p>
                            Warszawa Bielany, ul. Arkuszowa 63
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-features-box">
                    <div class="content">
                        <div class="icon">
                            <i class="far fa-phone"></i>
                        </div>
                        <h3 class="mb-2">
                            Zadzwoń do nas
                        </h3>
                        <p>
                            <a href="tel:+48790777350">+48 790 777 350</a>
                        </p>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-sm-6">
                <div class="single-features-box">
                    <div class="content">
                        <div class="icon">
                            <i class="far fa-bus"></i>
                        </div>
                        <h3 class="mb-2">
                            Dojazd
                        </h3>
                        <p style="font-weight: 500;">
                            <span class="transport-icon" style="background-image: url('static/img/autobus-ico.png');"></span> <spam class="apple-style-transport">110</spam> <spam class="apple-style-transport">210</spam> <span class="transport-icon" style="background-image: url('static/img/tramwaj-ico.png');"></span> <spam class="apple-style-transport">26</spam> <spam class="apple-style-transport">33</spam> <span class="transport-icon" style="background-image: url('static/img/metro-ico.png');"></span> <spam style="color:#0000ff;">M</spam><spam style="color:red;">1</spam> Młociny
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card" style="max-width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title">Nr konta do płatności przelewem:</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">Volkswagen Bank Polska S.A.</h6>
                        <p class="card-text">92 2130 0004 2001 0217 3680 0003.</p>
                        <h6 class="card-subtitle mb-2 text-body-secondary">Tytuł przelewu: „imię i nazwisko Pacjenta”.</h6>
                        <p class="card-subtitle mb-2 text-body-secondary">Po dokonaniu płatności prosimy o wysłanie potwierdzenia na adres e-mail:</p>
                        <a href="mailto:arkuszowa@duodent.com.pl" class="card-link">arkuszowa@duodent.com.pl</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- contact info end -->

<!-- main feature -->
<section class="core-features-area pt-100 pb-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 mx-auto">
                <div class="section-title-warp">
                    <span class="sub-title">
                        <i class="flaticon-hashtag-symbol"></i>
                        Profesjonalizm i troska.
                    </span>
                    <h2>Dlaczego  <span>Duodent</span> Bielany?</h2>
                    <p>
                        Łączymy profesjonalizm z nowoczesnym podejściem, by zapewnić kompleksową opiekę 
                        stomatologiczną. Troszczymy się o zdrowie i estetykę Twojego uśmiechu, 
                        tworząc przyjazną atmosferę, w której każdy Pacjent czuje się wyjątkowo.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="single-core-features">
                    <div class="icon">
                        <i class="flaticon-dental-care"></i>
                    </div>
                    <h3>
                        <a href="/zabiegi-stomatologiczne-kompleksowa-oferta">Najwyższa jakość</a>
                    </h3>
                    <p>Najnowocześniejsze technologie i wieloletnie doświadczenie gwarantują doskonałe efekty leczenia.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-core-features">
                    <div class="icon">
                        <i class="flaticon-policy"></i>
                    </div>
                    <h3>
                        <a href="/poznaj-nasz-zespol-specjalistow-stomatologii">Doskonali eksperci</a>
                    </h3>
                    <p>Nasz zespół to specjaliści z międzynarodowym doświadczeniem, którzy stale podnoszą swoje kwalifikacje.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-core-features">
                    <div class="icon">
                        <i class="flaticon-caduceus"></i>
                    </div>
                    <h3>
                        <a href="/umow-wizyte-online">Bezstresowe wizyty</a>
                    </h3>
                    <p>Zapewniamy przyjazną atmosferę oraz pełen komfort Pacjenta na każdym etapie wizyty.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-core-features">
                    <div class="icon">
                        <i class="flaticon-hospitalisation"></i>
                    </div>
                    <h3>
                        <a href="/o-nas-twoja-przychodnia-stomatologiczna">Pełna troska</a>
                    </h3>
                    <p>Dbamy o każdy szczegół – od pierwszej konsultacji, przez leczenie, aż po wsparcie po zabiegu.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- main feature end -->

<!-- counter area -->
<section class="counter-area pb-70">
    <div class="container">
        <div class="counter-area-content">
            <div class="row">
                <div class="col-lg-3">
                    <div class="counter-single">
                        <i class="far fa-layer-group"></i>
                        <h3>
                            <span class="counter">{{companyStats.zrealizowane_uslugi}}</span> + 
                        </h3>
                        <p>Zrealizowanych usług</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="counter-single">
                        <i class="far fa-gem"></i>
                        <h3><span class="counter">{{companyStats.lata_doswiadczenia}}</span> + </h3>
                        <p>Lat doświadczenia</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="counter-single">
                        <i class="far fa-users"></i>
                        <h3><span class="counter">{{companyStats.czlonkowie_zespolu}}</span> + </h3>
                        <p>Członków zespołu</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="counter-single">
                        <i class="far fa-award"></i>
                        <h3><span class="counter">{{companyStats.zadowoleni_klienci}}</span> + </h3>
                        <p>Zadowolonych klientów</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- counter area end -->

<!-- about area -->
<section class="about-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-content">
                    <span class="sub-title">
                        <i class="flaticon-hashtag-symbol"></i>
                        Doświadczenie
                    </span>
                    <h3>
                        Zapewniamy <span>piękne zęby</span> i uśmiech
                    </h3>
                    <p>
                        W Duodent Bielany troszczymy się nie tylko o zdrowie, ale także o piękno Twojego uśmiechu. 
                        Nasza filozofia opiera się na indywidualnym podejściu do Pacjenta, łącząc profesjonalizm, 
                        nowoczesne technologie i dbałość o każdy detal, byś mógł cieszyć się zdrowym i estetycznym 
                        uśmiechem każdego dnia.
                    </p>
                    <div>
                        <ul class="about-list">
                            <li>
                                <i class="flaticon-check"></i>
                                Indywidualne podejście do każdego Pacjenta.
                            </li>
                            <li>
                                <i class="flaticon-check"></i>
                                Doświadczeni specjaliści w każdej dziedzinie stomatologii.
                            </li>
                            <li>
                                <i class="flaticon-check"></i>
                                Nowoczesne technologie dla zdrowia i estetyki uśmiechu.
                            </li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="about-info">
                                <i class="flaticon-caduceus"></i>
                                <h4>{{companyStats.lata_doswiadczenia}}+ lat</h4>
                                <span>Doświadczenia</span>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="about-info">
                                <i class="flaticon-dental-care"></i>
                                <h4>{{companyStats.zrealizowane_uslugi}}+ </h4>
                                <span>Przeprowadzonych Zabiegów</span>
                            </div>
                        </div>
                    </div>
                    <a href="/umow-wizyte-online" class="gold-button">Umów wizytę</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-image">
                    <img src="static/img/about/about-1-pandentysta.png" alt="image">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about area end -->

{% endblock %}
{% block bottom_scripts %}
<script>
    $(document).ready(function () {
        // Po 5 sekundach uruchom animację
        setTimeout(function () {
            // Animacja chowania #pageBanner
            $("#pageBanner").animate(
                {
                    height: "0px", // Zmień wysokość
                    marginBottom: "0px",
                    paddingTop: "0px", // Usuń górny padding
                    paddingBottom: "0px" // Usuń dolny padding
                },
                1000, // Czas animacji
                function () {
                    // Usunięcie wszystkich klas z #pageBanner po zakończeniu animacji
                    $("#pageBanner").empty().removeClass();

                    // Po zakończeniu animacji pokaż #breadcrumb-small
                    $("#breadcrumb-small")
                        .css({
                            display: "block", // Ustaw widoczność
                            textAlign: "center", // Wyrównanie tekstu do środka
                            width: "100%", // Rozciągnij na całą szerokość
                        })
                        .animate(
                            {
                                height: "50px",
                                paddingTop: "10px"
                            },
                            1200 // Czas animacji
                        );
                }
            );
        }, 5000); // Poczekaj 5 sekund przed uruchomieniem animacji
    });

    $(window).on('load', function () {
        let delay = 0;

        $('.line').each(function (index, element) {
            setTimeout(function () {
                $(element).addClass('animate');
            }, delay);

            delay += 500; // Opóźnienie dla kolejnej linii
        });
    });
</script>
<script>
    /*-------------------------
        Ajax Contact Form 
    ---------------------------*/
    $(function () {
        var form = $('#contact-form');
        var formMessages = $('.form-messege');

        $(form).submit(function (e) {
            e.preventDefault();

            // Pobranie danych z formularza
            var formData = {
                name: $('#name').val(),
                email: $('#email').val(),
                subject: $('#subject').val(),
                message: $('#message').val(),
                consent: $('#consent').is(':checked') // Sprawdzanie checkboxa
            };

            // Wysyłanie danych JSON przez AJAX
            $.ajax({
                type: 'POST',
                url: '/api/kontakt',
                contentType: 'application/json',
                data: JSON.stringify(formData),
            })
                .done(function (response) {
                    $(formMessages).removeClass('error').addClass('success');
                    $(formMessages).text(response.message);
                    $('#contact-form input, #contact-form textarea').val('');
                    $('#contact-form input[type="checkbox"]').prop('checked', false);
                })
                .fail(function (data) {
                    $(formMessages).removeClass('success').addClass('error');
                    if (data.responseJSON && data.responseJSON.message) {
                        $(formMessages).text(data.responseJSON.message);
                    } else {
                        $(formMessages).text('Wystąpił błąd! Spróbuj ponownie później.');
                    }
                });
        });
    });
</script>
{% endblock %}