{% extends 'base.html' %}

{% block content %}
{% set bg_image = url_for('static', filename='img/banners/zabieg-4-banner.jpg') %}
<div class="page-banner-area mb-5" id="pageBanner" style="background-image: url('{{ bg_image }}');">
    <div class="container">
        <div class="page-banner-content">
            <div class="page-banner-content">
                <h1 class="line">
                    Najczęściej zadawane <span>pytania</span>
                </h1>
                <h1 class="line">
                    Szybkie <span>odpowiedzi</span> na Twoje wątpliwości
                </h1>
            </div>
            <h2 class="line">{{pageTitle}}</h2>
            <ul class="pages-list line">
                <li><a href="/">Duodent Bielany</a></li>
                <li>{{pageTitle}}</li>
            </ul>
        </div>
    </div>
</div>
<!-- page banner end -->
<!-- breadcrumb start -->
<div id="breadcrumb-small" class="breadcrumb-small mb-5" style="display: none;">
    <div class="container justify-content-center">
        <div class="justify-content-center">
            <ul class="breadcrumb-pages-list">
                <li><a href="/"><i class="bi bi-houses-fill"></a></li>
                <li>{{pageTitle}}</li>
            </ul>
        </div>
    </div>
</div>
<!-- breadcrumb end -->
<!-- faq-area -->
<section class="faq-area ptb-100">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">
                <i class="flaticon-hashtag-symbol"></i>
                FAQ
            </span>
            <h2> Najczęściej zadawane pytania</h2>
            <p>
                Znajdź odpowiedzi na najczęściej zadawane pytania dotyczące naszych usług stomatologicznych.
            </p>
        </div>
        <div class="faq-accordion">
            <div class="accordion">
                <div class="accordion-item">
                    <div class="accordion-title active">
                        <i class='bx bx-plus'></i>
                        Jak umówić się na wizytę?
                    </div>
                    <div class="accordion-content show">
                        <p>
                            Możesz umówić się na wizytę telefonicznie, przez formularz kontaktowy na naszej stronie internetowej lub osobiście w recepcji naszej przychodni.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-title">
                        <i class='bx bx-plus'></i>
                        Czy oferujecie znieczulenie podczas zabiegów?
                    </div>
                    <div class="accordion-content">
                        <p>
                            Tak, zapewniamy znieczulenie miejscowe podczas wszystkich zabiegów, aby zapewnić komfort naszym pacjentom. Oferujemy również sedację w przypadku bardziej skomplikowanych procedur.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-title">
                        <i class='bx bx-plus'></i>
                        Jak przygotować się do zabiegu implantologicznego?
                    </div>
                    <div class="accordion-content">
                        <p>
                            Przed zabiegiem zalecamy skonsultować się z naszym specjalistą, wykonać niezbędne badania diagnostyczne oraz unikać jedzenia na kilka godzin przed zabiegiem.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-title">
                        <i class='bx bx-plus'></i>
                        Czy dzieci mogą korzystać z usług stomatologicznych w Duodent?
                    </div>
                    <div class="accordion-content">
                        <p>
                            Oczywiście! Nasza przychodnia oferuje stomatologię dziecięcą w przyjaznym otoczeniu, które sprawi, że Twoje dziecko poczuje się komfortowo.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-title">
                        <i class='bx bx-plus'></i>
                        Jakie są koszty wybielania zębów?
                    </div>
                    <div class="accordion-content">
                        <p>
                            Koszt wybielania zębów zależy od wybranej metody. Szczegóły można znaleźć w naszym cenniku dostępnym na stronie lub uzyskać bezpośrednio w przychodni.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-title">
                        <i class='bx bx-plus'></i>
                        Czy mogę korzystać z płatności ratalnych?
                    </div>
                    <div class="accordion-content">
                        <p>
                            Tak, oferujemy możliwość rozłożenia płatności na dogodne raty. Skontaktuj się z naszym zespołem, aby uzyskać więcej informacji.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-title">
                        <i class='bx bx-plus'></i>
                        Jak często należy odwiedzać dentystę?
                    </div>
                    <div class="accordion-content">
                        <p>
                            Zalecamy odwiedzanie dentysty co najmniej dwa razy w roku na rutynowe kontrole i czyszczenie zębów.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-title">
                        <i class='bx bx-plus'></i>
                        Czy oferujecie konsultacje ortodontyczne?
                    </div>
                    <div class="accordion-content">
                        <p>
                            Tak, w naszej klinice możesz skorzystać z konsultacji ortodontycznych i rozpocząć leczenie za pomocą aparatów stałych lub ruchomych.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-title">
                        <i class='bx bx-plus'></i>
                        Czy pierwsza konsultacja jest bezpłatna?
                    </div>
                    <div class="accordion-content">
                        <p>
                            Pierwsza konsultacja diagnostyczna jest płatna, ale jej koszt zostaje odliczony od kosztu zabiegu, jeśli zdecydujesz się na leczenie.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-title">
                        <i class='bx bx-plus'></i>
                        Jakie metody diagnostyczne stosujecie w przychodni Duodent Bielany?
                    </div>
                    <div class="accordion-content">
                        <p>
                            Oferujemy nowoczesną diagnostykę, w tym zdjęcia panoramiczne, tomografię komputerową oraz skanowanie 3D, aby zapewnić precyzyjne planowanie leczenia.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- faq area end -->


{% endblock %}
{% block bottom_scripts %}
    <script>
        $(document).ready(function () {
            // Po 5 sekundach uruchom animację
            setTimeout(function () {
                // Animacja chowania #pageBanner
                $("#pageBanner").animate(
                    {
                        height: "0px", // Zmień wysokość
                        marginBottom: "0px",
                        paddingTop: "0px", // Usuń górny padding
                        paddingBottom: "0px" // Usuń dolny padding
                    },
                    1000, // Czas animacji
                    function () {
                        // Usunięcie wszystkich klas z #pageBanner po zakończeniu animacji
                        $("#pageBanner").empty().removeClass();

                        // Po zakończeniu animacji pokaż #breadcrumb-small
                        $("#breadcrumb-small")
                            .css({
                                display: "block", // Ustaw widoczność
                                textAlign: "center", // Wyrównanie tekstu do środka
                                width: "100%", // Rozciągnij na całą szerokość
                            })
                            .animate(
                                {
                                    height: "50px",
                                    paddingTop: "10px"
                                },
                                1200 // Czas animacji
                            );
                    }
                );
            }, 5000); // Poczekaj 5 sekund przed uruchomieniem animacji
        });

        $(window).on('load', function () {
            let delay = 0;

            $('.line').each(function (index, element) {
                setTimeout(function () {
                    $(element).addClass('animate');
                }, delay);

                delay += 500; // Opóźnienie dla kolejnej linii
            });
        });
    </script>
{% endblock %}