{% extends 'base.html' %}
{% block content %}
<!-- page banner -->
<div class="page-banner-area mb-5" style="background-image: url(static/img/banners/about-1-banner.jpg);">
    <div class="container">
        <div class="page-banner-content">
            <h2>{{pageTitle}}</h2>
            <ul class="pages-list">
                <li><a href="/">Duodent Bielany</a></li>
                <li>{{pageTitle}}</li>
            </ul>
        </div>
    </div>
</div>
<!-- page banner end -->
<section class="blog-area pt-100 pb-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 mx-auto">
                <div class="section-title-warp">
                    <span class="sub-title">
                        <i class="flaticon-hashtag-symbol"></i>
                        Blogs
                    </span>
                    <h2>Our <span>Latest</span> Blog</h2>
                    <p>
                        It is a long established fact that a reader will be distracted by the readable content of a
                        page when looking at its layout.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-blog">
                    <div class="blog-content">
                        <h3>
                            <a href="blog-details.html">The Next Best Thing To Get New Natural Teeth</a>
                        </h3>
                        <p>There are many variations of passages of orem psum available but the majority.</p>
                        <ul class="entry-meta">
                            <li>
                                <i class="far fa-user"></i>
                                <span>By <a href="#">Admin</a></span>
                            </li>
                            <li>
                                <i class="far fa-comments"></i>
                                20 Comments
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-blog">
                    <div class="blog-content">
                        <h3>
                            <a href="blog-details.html">The Next Best Thing To Get New Natural Teeth</a>
                        </h3>
                        <p>There are many variations of passages of orem psum available but the majority.</p>
                        <ul class="entry-meta">
                            <li>
                                <i class="far fa-user"></i>
                                <span>By <a href="#">Admin</a></span>
                            </li>
                            <li>
                                <i class="far fa-comments"></i>
                                20 Comments
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-blog">
                    <div class="blog-content">
                        <h3>
                            <a href="blog-details.html">The Next Best Thing To Get New Natural Teeth</a>
                        </h3>
                        <p>There are many variations of passages of orem psum available but the majority.</p>
                        <ul class="entry-meta">
                            <li>
                                <i class="far fa-user"></i>
                                <span>By <a href="#">Admin</a></span>
                            </li>
                            <li>
                                <i class="far fa-comments"></i>
                                20 Comments
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-blog">
                    <div class="blog-content">
                        <h3>
                            <a href="blog-details.html">The Next Best Thing To Get New Natural Teeth</a>
                        </h3>
                        <p>There are many variations of passages of orem psum available but the majority.</p>
                        <ul class="entry-meta">
                            <li>
                                <i class="far fa-user"></i>
                                <span>By <a href="#">Admin</a></span>
                            </li>
                            <li>
                                <i class="far fa-comments"></i>
                                20 Comments
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-blog">
                    <div class="blog-content">
                        <h3>
                            <a href="blog-details.html">The Next Best Thing To Get New Natural Teeth</a>
                        </h3>
                        <p>There are many variations of passages of orem psum available but the majority.</p>
                        <ul class="entry-meta">
                            <li>
                                <i class="far fa-user"></i>
                                <span>By <a href="#">Admin</a></span>
                            </li>
                            <li>
                                <i class="far fa-comments"></i>
                                20 Comments
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-blog">
                    <div class="blog-content">
                        <h3>
                            <a href="blog-details.html">The Next Best Thing To Get New Natural Teeth</a>
                        </h3>
                        <p>There are many variations of passages of orem psum available but the majority.</p>
                        <ul class="entry-meta">
                            <li>
                                <i class="far fa-user"></i>
                                <span>By <a href="#">Admin</a></span>
                            </li>
                            <li>
                                <i class="far fa-comments"></i>
                                20 Comments
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <div class="pagination-area">
                    <a href="#" class="prev page-numbers">
                        <i class="far fa-arrow-left"></i>
                    </a>
                    <span class="page-numbers">1</span>
                    <a href="#" class="page-numbers current" aria-current="page">2</a>
                    <a href="#" class="page-numbers">3</a>
                    <a href="#" class="next page-numbers">
                        <i class="far fa-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block bottom_scripts %}{% endblock %}