{% extends 'base.html' %}
{% block content %}
<!-- page banner -->
<div class="page-banner-area mb-5" style="background-image: url(static/img/banners/about-1-banner.jpg);">
    <div class="container">
        <div class="page-banner-content">
            <h2>{{pageTitle}}</h2>
            <ul class="pages-list">
                <li><a href="/">Duodent Bielany</a></li>
                <li>{{pageTitle}}</li>
            </ul>
        </div>
    </div>
</div>
<!-- page banner end -->
<section class="blog-area pt-100 pb-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 mx-auto">
                <div class="section-title-warp">
                    <span class="sub-title">
                        <i class="flaticon-hashtag-symbol"></i>
                        Do pobrania
                    </span>
                    <h2>Dla wygody <span>naszych pacjentów</span></h2>
                    <p>
                        W tej sekcji znajdziesz niezbędne formularze, zgody oraz zalecenia do pobrania. 
                        Przygotowaliśmy materiały, które ułatwią Ci wizyty w naszej placówce 
                        i zapewnią pełen komfort w trakcie leczenia.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-blog">
                    <div class="blog-content">
                        <h3>
                            <a href="/dokumenty/wskazania-po-ekstrakcji-zeba.pdf">Wskazania po ekstrakcji zęba</a>
                        </h3>
                        <p>Zalecenia po usunięciu zęba.</p>
                        <ul class="entry-meta">
                            <li>
                                <i class="far fa-file-pdf"></i>
                                <span>Pobierz <a href="/dokumenty/wskazania-po-ekstrakcji-zeba.pdf">.pdf</a></span>
                            </li>
                            <li>
                                <i class="far fa-folder-open"></i>
                                Wskazania
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6">
                <div class="single-blog">
                    <div class="blog-content">
                        <h3>
                            <a href="/dokumenty/zalecenia-aparat-staly.pdf">Zalecenia Aparat Stały</a>
                        </h3>
                        <p>Instrukcje dotyczące użytkowania aparatu stałego.</p>
                        <ul class="entry-meta">
                            <li>
                                <i class="far fa-file-pdf"></i>
                                <span>Pobierz <a href="/dokumenty/zalecenia-aparat-staly.pdf">.pdf</a></span>
                            </li>
                            <li>
                                <i class="far fa-folder-open"></i>
                                Zalecenia
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6">
                <div class="single-blog">
                    <div class="blog-content">
                        <h3>
                            <a href="/dokumenty/implanty-informacje-dla-pacjenta.pdf">Implanty - informacje dla pacjenta</a>
                        </h3>
                        <p>Kompendium wiedzy o implantach dentystycznych.</p>
                        <ul class="entry-meta">
                            <li>
                                <i class="far fa-file-pdf"></i>
                                <span>Pobierz <a href="/dokumenty/implanty-informacje-dla-pacjenta.pdf">.pdf</a></span>
                            </li>
                            <li>
                                <i class="far fa-folder-open"></i>
                                Informacje
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-blog">
                    <div class="blog-content">
                        <h3>
                            <a href="/dokumenty/zgoda-na-leczenie-protetyczne.pdf">Zgoda na leczenie protetyczne</a>
                        </h3>
                        <p>Dokument zgody na wykonanie leczenia protetycznego.</p>
                        <ul class="entry-meta">
                            <li>
                                <i class="far fa-file-pdf"></i>
                                <span>Pobierz <a href="/dokumenty/zgoda-na-leczenie-protetyczne.pdf">.pdf</a></span>
                            </li>
                            <li>
                                <i class="far fa-folder-open"></i>
                                Zgody
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6">
                <div class="single-blog">
                    <div class="blog-content">
                        <h3>
                            <a href="/dokumenty/zgoda-na-leczenie-endodontyczne.pdf">Zgoda pacjenta na leczenie endodontyczne</a>
                        </h3>
                        <p>Dokument zgody na leczenie kanałowe (endodontyczne).</p>
                        <ul class="entry-meta">
                            <li>
                                <i class="far fa-file-pdf"></i>
                                <span>Pobierz <a href="/dokumenty/zgoda-na-leczenie-endodontyczne.pdf">.pdf</a></span>
                            </li>
                            <li>
                                <i class="far fa-folder-open"></i>
                                Zgody
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6">
                <div class="single-blog">
                    <div class="blog-content">
                        <h3>
                            <a href="/dokumenty/upowaznienie-do-samodzielnego-odbywania-wizyt.pdf">Upoważnienie do samodzielnego odbywania wizyt</a>
                        </h3>
                        <p>Formularz dla osób niepełnoletnich.</p>
                        <ul class="entry-meta">
                            <li>
                                <i class="far fa-file-pdf"></i>
                                <span>Pobierz <a href="/dokumenty/upowaznienie-do-samodzielnego-odbywania-wizyt.pdf">.pdf</a></span>
                            </li>
                            <li>
                                <i class="far fa-folder-open"></i>
                                Upoważnienia
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-blog">
                    <div class="blog-content">
                        <h3>
                            <a href="/dokumenty/kwalifikacja-pacjenta-do-zabiegu.pdf">KWALIFIKACJA PACJENTA DO ZABIEGU</a>
                        </h3>
                        <p>Formularz kwalifikacyjny niezbędny przed zabiegiem.</p>
                        <ul class="entry-meta">
                            <li>
                                <i class="far fa-file-pdf"></i>
                                <span>Pobierz <a href="/dokumenty/kwalifikacja-pacjenta-do-zabiegu.pdf">.pdf</a></span>
                            </li>
                            <li>
                                <i class="far fa-folder-open"></i>
                                Formularze
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6">
                <div class="single-blog">
                    <div class="blog-content">
                        <h3>
                            <a href="/dokumenty/nowa-karta-z-danymi-2023-ang.pdf">Nowa karta z danymi 2023 (ANG)</a>
                        </h3>
                        <p>Formularz z danymi osobowymi w języku angielskim.</p>
                        <ul class="entry-meta">
                            <li>
                                <i class="far fa-file-pdf"></i>
                                <span>Pobierz <a href="/dokumenty/nowa-karta-z-danymi-2023-ang.pdf">.pdf</a></span>
                            </li>
                            <li>
                                <i class="far fa-folder-open"></i>
                                Formularze
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6">
                <div class="single-blog">
                    <div class="blog-content">
                        <h3>
                            <a href="/dokumenty/karta-z-danymi-2024.pdf">Karta z danymi 2024</a>
                        </h3>
                        <p>Aktualny formularz z danymi osobowymi.</p>
                        <ul class="entry-meta">
                            <li>
                                <i class="far fa-file-pdf"></i>
                                <span>Pobierz <a href="/dokumenty/karta-z-danymi-2024.pdf">.pdf</a></span>
                            </li>
                            <li>
                                <i class="far fa-folder-open"></i>
                                Formularze
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-blog">
                    <div class="blog-content">
                        <h3>
                            <a href="/dokumenty/zgoda-na-pantomogram-u-dziecka.pdf">Zgoda na pantomogram u dziecka</a>
                        </h3>
                        <p>Dokument zgody na wykonanie zdjęcia pantomograficznego u dziecka.</p>
                        <ul class="entry-meta">
                            <li>
                                <i class="far fa-file-pdf"></i>
                                <span>Pobierz <a href="/dokumenty/zgoda-na-pantomogram-u-dziecka.pdf">.pdf</a></span>
                            </li>
                            <li>
                                <i class="far fa-folder-open"></i>
                                Zgody
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6">
                <div class="single-blog">
                    <div class="blog-content">
                        <h3>
                            <a href="/dokumenty/zgoda-na-rtg-u-dziecka.pdf">Zgoda na RTG u dziecka</a>
                        </h3>
                        <p>Dokument zgody na wykonanie zdjęcia RTG u dziecka.</p>
                        <ul class="entry-meta">
                            <li>
                                <i class="far fa-file-pdf"></i>
                                <span>Pobierz <a href="/dokumenty/zgoda-na-rtg-u-dziecka.pdf">.pdf</a></span>
                            </li>
                            <li>
                                <i class="far fa-folder-open"></i>
                                Zgody
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6">
                <div class="single-blog">
                    <div class="blog-content">
                        <h3>
                            <a href="/dokumenty/zgoda-na-tomografie-u-dziecka.pdf">Zgoda na tomografię u dziecka</a>
                        </h3>
                        <p>Dokument zgody na wykonanie tomografii u dziecka.</p>
                        <ul class="entry-meta">
                            <li>
                                <i class="far fa-file-pdf"></i>
                                <span>Pobierz <a href="/dokumenty/zgoda-na-tomografie-u-dziecka.pdf">.pdf</a></span>
                            </li>
                            <li>
                                <i class="far fa-folder-open"></i>
                                Zgody
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-blog">
                    <div class="blog-content">
                        <h3>
                            <a href="/dokumenty/zgoda-na-zdjecie-cefalometryczne-u-dziecka.pdf">Zgoda na zdjęcie cefalometryczne u dziecka</a>
                        </h3>
                        <p>Dokument zgody na wykonanie zdjęcia cefalometrycznego u dziecka.</p>
                        <ul class="entry-meta">
                            <li>
                                <i class="far fa-file-pdf"></i>
                                <span>Pobierz <a href="/dokumenty/zgoda-na-zdjecie-cefalometryczne-u-dziecka.pdf">.pdf</a></span>
                            </li>
                            <li>
                                <i class="far fa-folder-open"></i>
                                Zgody
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6">
                <div class="single-blog">
                    <div class="blog-content">
                        <h3>
                            <a href="/dokumenty/zgoda-na-wybielanie.pdf">Zgoda na wybielanie</a>
                        </h3>
                        <p>Dokument zgody na wykonanie zabiegu wybielania zębów.</p>
                        <ul class="entry-meta">
                            <li>
                                <i class="far fa-file-pdf"></i>
                                <span>Pobierz <a href="/dokumenty/zgoda-na-wybielanie.pdf">.pdf</a></span>
                            </li>
                            <li>
                                <i class="far fa-folder-open"></i>
                                Zgody
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
            
            
            
            <div class="col-lg-12 col-md-12">
                <div class="pagination-area">
                    <a href="#" class="prev page-numbers">
                        <i class="far fa-arrow-left"></i>
                    </a>
                    <span class="page-numbers">1</span>
                    <a href="#" class="page-numbers current" aria-current="page">2</a>
                    <a href="#" class="page-numbers">3</a>
                    <a href="#" class="next page-numbers">
                        <i class="far fa-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block bottom_scripts %}{% endblock %}