{% extends 'base.html' %}
{% block content %}
<!-- page banner -->
<div class="page-banner-area mb-5" style="background-image: url(static/img/banners/download-1-banner.jpg);">
    <div class="container">
        <div class="page-banner-content">
            <h2>{{pageTitle}}</h2>
            <ul class="pages-list">
                <li><a href="/">Duodent Bielany</a></li>
                <li>{{pageTitle}}</li>
            </ul>
        </div>
    </div>
</div>
<!-- page banner end -->
<section class="blog-area pb-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 mx-auto">
                <div class="section-title-warp">
                    <span class="sub-title">
                        <i class="flaticon-hashtag-symbol"></i>
                        Do pobrania
                    </span>
                    <h2>W <span>trosce</span> o wygodę <span>naszych</span> pacjentów</h2>
                    <p>
                        W tej sekcji znajdziesz niezbędne formularze, zgody oraz zalecenia do pobrania. 
                        Przygotowaliśmy materiały, które ułatwią Ci wizyty w naszej placówce 
                        i zapewnią pełen komfort w trakcie leczenia.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 section-title-warp">
                <span class="sub-title">
                    <i class="flaticon-hashtag-symbol"></i>
                    Informacje ogólne
                </span>
            </div>
            <div class="col-sm-12 col-lg-4 col-md-6">
                <div class="single-blog">
                    <div class="blog-content">
                        <div class="row">
                            <div class="col-2">
                                <h1><i class="fas fa-download text-info"></i></h1>
                            </div>
                            <div class="col-10">
                                <h5>
                                    <a href="/dokumenty/implanty-informacje-dla-pacjenta.pdf">Implanty - informacje dla pacjenta</a>
                                </h5>

                            </div>
                        </div>
                        <ul class="entry-meta">
                            <li>
                                <a href="/dokumenty/implanty-informacje-dla-pacjenta.pdf">
                                    <i class="far fa-file-pdf"></i>
                                    <span>Pobierz.pdf</span>
                                </a>
                            </li>
                            <li>
                                <i class="far fa-folder-open"></i>
                                Informacje ogólne
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-12 col-lg-4 col-md-6">
                <div class="single-blog">
                    <div class="blog-content">
                        <div class="row">
                            <div class="col-2">
                                <h1><i class="fas fa-download text-info"></i></h1>
                            </div>
                            <div class="col-10">
                                <h5>
                                    <a href="/dokumenty/nowa-karta-z-danymi-2023-ang.pdf">Nowa karta z danymi 2023 - ANG</a>
                                </h5>

                            </div>
                        </div>
                        <ul class="entry-meta">
                            <li>
                                <a href="/dokumenty/nowa-karta-z-danymi-2023-ang.pdf">
                                    <i class="far fa-file-pdf"></i>
                                    <span>Pobierz.pdf</span>
                                </a>
                            </li>
                            <li>
                                <i class="far fa-folder-open"></i>
                                Informacje ogólne
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-12 col-lg-4 col-md-6">
                <div class="single-blog">
                    <div class="blog-content">
                        <div class="row">
                            <div class="col-2">
                                <h1><i class="fas fa-download text-info"></i></h1>
                            </div>
                            <div class="col-10">
                                <h5>
                                    <a href="/dokumenty/karta-z-danymi-2024.pdf">Karta z danymi 2024</a>
                                </h5>

                            </div>
                        </div>
                        <ul class="entry-meta">
                            <li>
                                <a href="/dokumenty/karta-z-danymi-2024.pdf">
                                    <i class="far fa-file-pdf"></i>
                                    <span>Pobierz.pdf</span>
                                </a>
                            </li>
                            <li>
                                <i class="far fa-folder-open"></i>
                                Informacje ogólne
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-12 col-md-12 section-title-warp">
                <span class="sub-title">
                    <i class="flaticon-hashtag-symbol"></i>
                    Zgody i upoważnienia
                </span>
            </div>
            <div class="col-sm-12 col-lg-4 col-md-6">
                <div class="single-blog">
                    <div class="blog-content">
                        <div class="row">
                            <div class="col-2">
                                <h1><i class="fas fa-download text-info"></i></h1>
                            </div>
                            <div class="col-10">
                                <h5>
                                    <a href="/dokumenty/upowaznienie-do-samodzielnego-odbywania-wizyt.pdf">Upoważnienie do samodzielnego odbywania wizyt</a>
                                </h5>

                            </div>
                        </div>
                        <ul class="entry-meta">
                            <li>
                                <a href="/dokumenty/upowaznienie-do-samodzielnego-odbywania-wizyt.pdf">
                                    <i class="far fa-file-pdf"></i>
                                    <span>Pobierz.pdf</span>
                                </a>
                            </li>
                            <li>
                                <i class="far fa-folder-open"></i>
                                Zgody i upoważnienia
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-12 col-lg-4 col-md-6">
                <div class="single-blog">
                    <div class="blog-content">
                        <div class="row">
                            <div class="col-2">
                                <h1><i class="fas fa-download text-info"></i></h1>
                            </div>
                            <div class="col-10">
                                <h5>
                                    <a href="/dokumenty/zgoda-na-ekstrakcje-final.pdf">Zgoda na ekstrakcję - final</a>
                                </h5>

                            </div>
                        </div>
                        <ul class="entry-meta">
                            <li>
                                <a href="/dokumenty/zgoda-na-ekstrakcje-final.pdf">
                                    <i class="far fa-file-pdf"></i>
                                    <span>Pobierz.pdf</span>
                                </a>
                            </li>
                            <li>
                                <i class="far fa-folder-open"></i>
                                Zgody i upoważnienia
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-12 col-lg-4 col-md-6">
                <div class="single-blog">
                    <div class="blog-content">
                        <div class="row">
                            <div class="col-2">
                                <h1><i class="fas fa-download text-info"></i></h1>
                            </div>
                            <div class="col-10">
                                <h5>
                                    <a href="/dokumenty/zgoda-na-leczenie-protetyczne.pdf">Zgoda na leczenie protetyczne</a>
                                </h5>

                            </div>
                        </div>
                        <ul class="entry-meta">
                            <li>
                                <a href="/dokumenty/zgoda-na-leczenie-protetyczne.pdf">
                                    <i class="far fa-file-pdf"></i>
                                    <span>Pobierz.pdf</span>
                                </a>
                            </li>
                            <li>
                                <i class="far fa-folder-open"></i>
                                Zgody i upoważnienia
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-12 col-lg-4 col-md-6">
                <div class="single-blog">
                    <div class="blog-content">
                        <div class="row">
                            <div class="col-2">
                                <h1><i class="fas fa-download text-info"></i></h1>
                            </div>
                            <div class="col-10">
                                <h5>
                                    <a href="/dokumenty/zgoda-na-leczenie-endodontyczne.pdf">Zgoda pacjenta na leczenie endodontyczne</a>
                                </h5>

                            </div>
                        </div>
                        <ul class="entry-meta">
                            <li>
                                <a href="/dokumenty/zgoda-na-leczenie-endodontyczne.pdf">
                                    <i class="far fa-file-pdf"></i>
                                    <span>Pobierz.pdf</span>
                                </a>
                            </li>
                            <li>
                                <i class="far fa-folder-open"></i>
                                Zgody i upoważnienia
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-12 col-lg-4 col-md-6">
                <div class="single-blog">
                    <div class="blog-content">
                        <div class="row">
                            <div class="col-2">
                                <h1><i class="fas fa-download text-info"></i></h1>
                            </div>
                            <div class="col-10">
                                <h5>
                                    <a href="/dokumenty/zgoda-na-leczenie-endodontyczne-ang.pdf">Zgoda pacjenta na leczenie endodontyczne (ANG)</a>
                                </h5>

                            </div>
                        </div>
                        <ul class="entry-meta">
                            <li>
                                <a href="/dokumenty/zgoda-na-leczenie-endodontyczne-ang.pdf">
                                    <i class="far fa-file-pdf"></i>
                                    <span>Pobierz.pdf</span>
                                </a>
                            </li>
                            <li>
                                <i class="far fa-folder-open"></i>
                                Zgody i upoważnienia
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-12 col-lg-4 col-md-6">
                <div class="single-blog">
                    <div class="blog-content">
                        <div class="row">
                            <div class="col-2">
                                <h1><i class="fas fa-download text-info"></i></h1>
                            </div>
                            <div class="col-10">
                                <h5>
                                    <a href="/dokumenty/zgoda-na-pantomogram-u-dziecka.pdf">Zgoda na pantomogram u dziecka</a>
                                </h5>

                            </div>
                        </div>
                        <ul class="entry-meta">
                            <li>
                                <a href="/dokumenty/zgoda-na-pantomogram-u-dziecka.pdf">
                                    <i class="far fa-file-pdf"></i>
                                    <span>Pobierz.pdf</span>
                                </a>
                            </li>
                            <li>
                                <i class="far fa-folder-open"></i>
                                Zgody i upoważnienia
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-12 col-lg-4 col-md-6">
                <div class="single-blog">
                    <div class="blog-content">
                        <div class="row">
                            <div class="col-2">
                                <h1><i class="fas fa-download text-info"></i></h1>
                            </div>
                            <div class="col-10">
                                <h5>
                                    <a href="/dokumenty/zgoda-na-rtg-u-dziecka.pdf">Zgoda na RTG u dziecka</a>
                                </h5>

                            </div>
                        </div>
                        <ul class="entry-meta">
                            <li>
                                <a href="/dokumenty/zgoda-na-rtg-u-dziecka.pdf">
                                    <i class="far fa-file-pdf"></i>
                                    <span>Pobierz.pdf</span>
                                </a>
                            </li>
                            <li>
                                <i class="far fa-folder-open"></i>
                                Zgody i upoważnienia
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-12 col-lg-4 col-md-6">
                <div class="single-blog">
                    <div class="blog-content">
                        <div class="row">
                            <div class="col-2">
                                <h1><i class="fas fa-download text-info"></i></h1>
                            </div>
                            <div class="col-10">
                                <h5>
                                    <a href="/dokumenty/zgoda-na-tomografie-u-dziecka.pdf">Zgoda na tomografię u dziecka</a>
                                </h5>

                            </div>
                        </div>
                        <ul class="entry-meta">
                            <li>
                                <a href="/dokumenty/zgoda-na-tomografie-u-dziecka.pdf">
                                    <i class="far fa-file-pdf"></i>
                                    <span>Pobierz.pdf</span>
                                </a>
                            </li>
                            <li>
                                <i class="far fa-folder-open"></i>
                                Zgody i upoważnienia
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-12 col-lg-4 col-md-6">
                <div class="single-blog">
                    <div class="blog-content">
                        <div class="row">
                            <div class="col-2">
                                <h1><i class="fas fa-download text-info"></i></h1>
                            </div>
                            <div class="col-10">
                                <h5>
                                    <a href="/dokumenty/zgoda-na-zdjecie-cefalometryczne-u-dziecka.pdf">Zgoda na zdjęcie cefalometryczne u dziecka</a>
                                </h5>

                            </div>
                        </div>
                        <ul class="entry-meta">
                            <li>
                                <a href="/dokumenty/zgoda-na-zdjecie-cefalometryczne-u-dziecka.pdf">
                                    <i class="far fa-file-pdf"></i>
                                    <span>Pobierz.pdf</span>
                                </a>
                            </li>
                            <li>
                                <i class="far fa-folder-open"></i>
                                Zgody i upoważnienia
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-12 col-md-12 section-title-warp">
                <span class="sub-title">
                    <i class="flaticon-hashtag-symbol"></i>
                    Wskazania i zalecenia po zabiegach
                </span>
            </div>
            <div class="col-sm-12 col-lg-4 col-md-6">
                <div class="single-blog">
                    <div class="blog-content">
                        <div class="row">
                            <div class="col-2">
                                <h1><i class="fas fa-download text-info"></i></h1>
                            </div>
                            <div class="col-10">
                                <h5>
                                    <a href="/dokumenty/wskazania-po-ekstrakcji-zeba.pdf">Wskazania po ekstrakcji zęba</a>
                                </h5>

                            </div>
                        </div>
                        <ul class="entry-meta">
                            <li>
                                <a href="/dokumenty/wskazania-po-ekstrakcji-zeba.pdf">
                                    <i class="far fa-file-pdf"></i>
                                    <span>Pobierz.pdf</span>
                                </a>
                            </li>
                            <li>
                                <i class="far fa-folder-open"></i>
                                Wskazania i zalecenia
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-12 col-lg-4 col-md-6">
                <div class="single-blog">
                    <div class="blog-content">
                        <div class="row">
                            <div class="col-2">
                                <h1><i class="fas fa-download text-info"></i></h1>
                            </div>
                            <div class="col-10">
                                <h5>
                                    <a href="/dokumenty/zalecenia-aparat-staly.pdf">Zalecenia Aparat Stały</a>
                                </h5>

                            </div>
                        </div>
                        <ul class="entry-meta">
                            <li>
                                <a href="/dokumenty/zalecenia-aparat-staly.pdf">
                                    <i class="far fa-file-pdf"></i>
                                    <span>Pobierz.pdf</span>
                                </a>
                            </li>
                            <li>
                                <i class="far fa-folder-open"></i>
                                Wskazania i zalecenia
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-12 col-lg-4 col-md-6">
                <div class="single-blog">
                    <div class="blog-content">
                        <div class="row">
                            <div class="col-2">
                                <h1><i class="fas fa-download text-info"></i></h1>
                            </div>
                            <div class="col-10">
                                <h5>
                                    <a href="/dokumenty/zgoda-na-wybielanie.pdf">Zgoda na wybielanie</a>
                                </h5>

                            </div>
                        </div>
                        <ul class="entry-meta">
                            <li>
                                <a href="/dokumenty/zgoda-na-wybielanie.pdf">
                                    <i class="far fa-file-pdf"></i>
                                    <span>Pobierz.pdf</span>
                                </a>
                            </li>
                            <li>
                                <i class="far fa-folder-open"></i>
                                Wskazania i zalecenia
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
            
            <div class="col-lg-12 col-md-12 section-title-warp">
                <span class="sub-title">
                    <i class="flaticon-hashtag-symbol"></i>
                    Formularze kwalifikacyjne
                </span>
            </div>
            <div class="col-sm-12 col-lg-4 col-md-6">
                <div class="single-blog">
                    <div class="blog-content">
                        <div class="row">
                            <div class="col-2">
                                <h1><i class="fas fa-download text-info"></i></h1>
                            </div>
                            <div class="col-10">
                                <h5>
                                    <a href="/dokumenty/kwalifikacja-pacjenta-do-zabiegu.pdf">KWALIFIKACJA PACJENTA DO ZABIEGU</a>
                                </h5>

                            </div>
                        </div>
                        <ul class="entry-meta">
                            <li>
                                <a href="/dokumenty/kwalifikacja-pacjenta-do-zabiegu.pdf">
                                    <i class="far fa-file-pdf"></i>
                                    <span>Pobierz.pdf</span>
                                </a>
                            </li>
                            <li>
                                <i class="far fa-folder-open"></i>
                                Formularze kwalifikacyjne
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
            
            
            
            
            <!-- <div class="col-lg-12 col-md-12">
                <div class="pagination-area">
                    <a href="#" class="prev page-numbers">
                        <i class="far fa-arrow-left"></i>
                    </a>
                    <span class="page-numbers">1</span>
                    <a href="#" class="page-numbers current" aria-current="page">2</a>
                    <a href="#" class="page-numbers">3</a>
                    <a href="#" class="next page-numbers">
                        <i class="far fa-arrow-right"></i>
                    </a>
                </div>
            </div> -->
        </div>
    </div>
</section>
{% endblock %}
{% block bottom_scripts %}{% endblock %}