{% extends 'base.html' %}
{% block content %}
<!-- page banner -->
{% set bg_image_login =url_for('static', filename='img/banners/login-1-banner.jpg') %}
<div class="page-banner-area mb-5" style="background-image: url('{{ bg_image_login }}');">
    <div class="container">
        <div class="page-banner-content">
            <h2>Zarządzanie witryną - Logowanie</h2>
            <ul class="pages-list">
                <li><a href="/">Duodent Bielany</a></li>
                <li>Logowanie</li>
            </ul>
        </div>
    </div>
</div>
<!-- page banner end -->
<!-- login-area -->
<section class="login-area ptb-100">
    <div class="container">
        <div class="login-form">
            <div class="login-header">
                <h2>Login</h2>
                <p>with your dentax account</p>
            </div>
            <form method="POST" action="{{ url_for('login') }}">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    <label>Login</label>
                    {{ form.username(class="form-control", placeholder="Nazwa użytkownika", aria_label="Nazwa użytkownika", aria_describedby="addon-wrapping") }}
                    <!-- <input type="email" class="form-control" placeholder="Your Email"> -->
                </div>
                <div class="form-group">
                    <label>Hasło</label>
                    {{ form.password(class="form-control", placeholder="Hasło", aria_label="Hasło", aria_describedby="addon-wrapping") }}
                    <!-- <input type="pasword" class="form-control" placeholder="Your Password"> -->
                </div>
                <div class="row align-items-center">
                    <!-- <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="checkme">
                            <label class="form-check-label" for="checkme">Remember me</label>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 lost-your-password">
                        <a href="forgot-password.html" class="lost-your-password">Forgot your password?</a>
                    </div> -->
                </div>
                {{ form.submit(class="btn btn-success btn-sm", type="submit") }}
                <!-- <button type="submit">Login Now</button> -->
            </form>

            <!-- <p class="login-footer">Don't have an account ? <a href="register.html">Register.</a></p> -->
        </div>
    </div>
</section>
<!-- login-area end -->
{% endblock %}