{% extends 'base.html' %}
{% block content %}
    <!-- home sliders -->
    <div class="home-slides owl-carousel owl-theme">
        <div class="main-slides-item slider-height-controller" style="background-image: url(static/img/slider/slider-3-pani.jpg);">
            <div class="container">
                <div class="main-slides-content">
                    <span class="sub-title">
                        <i class="flaticon-hashtag-symbol"></i>
                        Łatwy dostęp do terminów
                    </span>
                    <h1>Aby Twój <span>uśmiech</span> zachwycił każdego</h1>
                    <p class="d-none d-lg-block">
                        Szybkie wizyty od poniedziałku do piątku! Zaplanuj termin w dogodnym czasie – Twoje 
                        zdrowie i komfort są dla nas najważniejsze.
                    </p>
                    <div class="slides-btn">
                        <a href="/umow-wizyte-online" class="default-btn">Zarezerwuj wizytę</a>
                        <!-- <div class="checkup-content">
                            <a href="https://www.youtube.com/watch?v=ckHzmP1evNU" class="icon popup-youtube">
                                <i class="far fa-play"></i>
                            </a>
                            <span>Our Intro Video</span>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="main-slides-item slider-height-controller" style="background-image: url(static/img/slider/slider-1-pani.jpg);">
            <div class="container">
                <div class="main-slides-content">
                    <span class="sub-title">
                        <i class="flaticon-hashtag-symbol"></i>
                        Doświadczeni stomatolodzy
                    </span>
                    <h1>Od 30 lat dbamy o Twój <span>uśmiech</span></h1>
                    <p class="d-none d-lg-block">
                        Nasz zespół to wykwalifikowani specjaliści, którzy łączą wiedzę i doświadczenie z różnych 
                        dziedzin stomatologii. Jesteśmy gotowi kompleksowo zadbać o zdrowie Twoich zębów.
                    </p>
                    <!-- Widoczne tylko na ekranach lg i większych -->
                    <div class="slides-btn d-none d-lg-block">
                        <a href="/zabiegi-stomatologiczne-kompleksowa-oferta" class="default-btn">Sprawdź naszą ofertę</a>
                        <!-- <div class="checkup-content">
                            <a href="https://www.youtube.com/watch?v=ckHzmP1evNU" class="icon popup-youtube">
                                <i class="far fa-play"></i>
                            </a>
                            <span>Zobacz prezentację</span>
                        </div> -->
                    </div>
                    <!-- Widoczne tylko na ekranach mniejszych niż lg -->
                    <div class="slides-btn d-lg-none">
                        <a href="/zabiegi-stomatologiczne-kompleksowa-oferta" class="default-btn">Zobacz zabiegi</a>
                        <!-- <div class="checkup-content">
                            <a href="https://www.youtube.com/watch?v=ckHzmP1evNU" class="icon popup-youtube">
                                <i class="far fa-play"></i>
                            </a>
                            <span>Zobacz</span>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="main-slides-item slider-height-controller" style="background-image: url(static/img/slider/slider-2-pani.jpg);">
            <div class="container">
                <div class="main-slides-content">
                    <span class="sub-title">
                        <i class="flaticon-hashtag-symbol"></i>
                        Nowoczesna technologia
                    </span>
                    <h1>Nasi <span>specjaliści</span> są zawsze gotowi</h1>
                    <p class="d-none d-lg-block">
                        Stosujemy nowoczesne technologie dla precyzji i bezpieczeństwa. Komfort i trwałe efekty 
                        to nasz priorytet. Zaufaj nam i zmień swój uśmiech!
                    </p>
                    <!-- Widoczne tylko na ekranach lg i większych -->
                    <div class="slides-btn d-none d-lg-block">
                        <a href="/umow-wizyte-online" class="default-btn">Zarezerwuj wizytę</a>
                        <div class="checkup-content">
                            <a href="tel:+48790777350" class="icon">
                                <i class="flaticon-emergency-call"></i>
                            </a>
                            <span>790 777 350</span>
                        </div>
                    </div>

                    <!-- Widoczne tylko na ekranach mniejszych niż lg -->
                    <div class="slides-btn d-lg-none">
                        <a href="/umow-wizyte-online" class="default-btn">Rezerwuj</a>
                        <div class="checkup-content">
                            <a href="tel:+48790777350" class="icon">
                                <i class="flaticon-emergency-call"></i>
                            </a>
                            <span>Dzwoń</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <!-- home sliders end-->


    <!-- feature area -->
    <section class="features-area pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-features">
                        <div class="content">
                            <div class="icon">
                                <i class="flaticon-doctor"></i>
                            </div>
                            <h3>
                                <a href="/poznaj-nasz-zespol-specjalistow-stomatologii">Doświadczeni stomatolodzy</a>
                            </h3>
                            <p>Nasz zespół to specjaliści różnych dziedzin stomatologii, gotowi zadbać o Twoje zdrowie.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-features feature-bg-3">
                        <div class="content">
                            <div class="icon">
                                <i class="flaticon-chair"></i>
                            </div>
                            <h3>
                                <a href="/zabiegi-stomatologiczne-kompleksowa-oferta">Nowoczesna technologia</a>
                            </h3>
                            <p>Nowoczesne technologie dla precyzji i bezpieczeństwa leczenia.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
                    <div class="single-features feature-bg-2">
                        <div class="content">
                            <div class="icon">
                                <i class="flaticon-wall-clock"></i>
                            </div>
                            <h3>
                                <a href="/umow-wizyte-online">Łatwy dostęp do terminów</a>
                            </h3>
                            <p>Szybkie wizyty od poniedziałku do piątku, bez długiego oczekiwania!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- feature area end -->


    <!-- service area -->
    <section class="services-area pb-70">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 mx-auto">
                    <div class="section-title-warp">
                        <span class="sub-title">
                            <i class="flaticon-hashtag-symbol"></i>
                            Zdrowy Uśmiech
                        </span>
                        <h2>Twoje <span>Zaufanie,</span> Nasza <span>Pasja</span></h2>
                        <p>
                            Zapewniamy kompleksową opiekę stomatologiczną, łącząc doświadczenie specjalistów 
                            i nowoczesne technologie. Tworzymy przyjazną atmosferę, by każdy Pacjent czuł 
                            się zaopiekowany.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for treat in treatmentFooter %}
                    {% with bg_image=url_for('static', filename='img/services/' + treat.foto_home) %}
                        <div class="col-lg-4 col-md-6">
                            <div class="single-services">
                                <div class="services-image">
                                    <a href="/zabieg-stomatologiczny/{{treat.ready_route}}"><img src="{{ bg_image }}" alt="image"></a>
                                    <div class="icon">
                                        <a href="/zabieg-stomatologiczny/{{treat.ready_route}}"><i class="{{treat.icon}}"></i></a>
                                    </div>
                                </div>
                                <div class="services-content">
                                    <h3>
                                        <a href="/zabieg-stomatologiczny/{{treat.ready_route}}">{{treat.tytul_glowny}}</a>
                                    </h3>
                                    <p>
                                        {{treat.opis_home}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endwith %}
                {% endfor %}
                
            </div>
        </div>
    </section>
    <!-- service area end -->


    <!-- emergency call -->
    <section class="overview-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="overview-content">
                        <span class="sub-title">
                            <i class="flaticon-hashtag-symbol"></i>
                            Zadzwoń do nas
                        </span>
                        <h3>Masz nagły<span> problem?</span> Jesteśmy tu, by Ci pomóc!</h3>
                        <p><a href="tel:+48790777350">Zadzwoń teraz: <i class="far fa-phone"></i> +48 790 777 350</a></p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="overview-image">
                        <img src="static/img/emergency-1-pan-doktor.png" alt="image">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- emergency call end -->


    <!-- appointment -->
    <section class="appointment-overview-area pb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12">
                    <div class="appointment-overview-contact">
                        <img src="static/img/appointment/pani-1-lookup.jpg" alt="image">
                        <div class="appointment-info">
                            <ul class="call-info">
                                <li>
                                    <i class="flaticon-emergency-call" onClick="window.location.href='tel:+48790777350'"></i>
                                    Zadzwoń teraz:
                                    <span><a href="tel:+48790777350">790 777 350</a></span>
                                </li>
                            </ul>
                            <p>Potrzebujesz szybkiej konsultacji?</p>
                            <a href="/kontakt-z-przychodnia-stomatologiczna" class="default-btn">Kontakt</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="appointment-overview-box">
                        <div class="make-appointment-content">
                            <h4><i class="far fa-calendar-alt"></i> Umów wizytę</h4>
                            <form id="appointmentForm">

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Imię i Nazwisko</label>
                                            <input type="text" class="form-control" id="name" name="name" required placeholder="Imię i Nazwisko">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Email</label>
                                            <input type="text" class="form-control" id="email" name="email" required placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Telefon</label>
                                            <input type="text" class="form-control" id="phone" name="phone" required placeholder="Telefon" >
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Data urodzenia</label>
                                            <input type="date" id="birth_date" name="birth_date" required class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Data wizyty</label>
                                            <input type="date" id="visit_date" name="visit_date" required class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Godzina wizyty</label>
                                            <input type="time" id="visit_time" name="visit_time" required class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-check form-switch mb-3">
                                    <input class="form-check-input" type="checkbox" role="switch" id="consent" name="consent" required>
                                    <label class="form-check-label" for="consent" style="font-size: 10px; color:#acacac">
                                        Wyrażam zgodę na <strong style="color:#243f3f;">przetwarzanie</strong> moich <strong style="color:#243f3f;">danych osobowych</strong> przez Duodent Bielany 
                                        <strong style="color:#243f3f;">w celu rejestracji wizyty i kontaktu</strong>, zgodnie z obowiązującymi przepisami
                                        Rozporządzenia Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27 
                                        kwietnia 2016 r. <strong style="color:#243f3f;">(RODO)</strong>.
                                    </label>
                                </div>
                                <button type="submit" class="default-btn">Wyslij wniosek</button>
                                <div id="responseMessage" style="margin-top: 20px;"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- appointment end -->


    <!-- about area -->
    <section class="about-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="about-content">
                        <span class="sub-title">
                            <i class="flaticon-hashtag-symbol"></i>
                            Doświadczenie
                        </span>
                        <h3>
                            Zapewniamy <span>piękne zęby</span> i uśmiech
                        </h3>
                        <p>
                            W Duodent Bielany troszczymy się nie tylko o zdrowie, ale także o piękno Twojego uśmiechu. 
                            Nasza filozofia opiera się na indywidualnym podejściu do Pacjenta, łącząc profesjonalizm, 
                            nowoczesne technologie i dbałość o każdy detal, byś mógł cieszyć się zdrowym i estetycznym 
                            uśmiechem każdego dnia.
                        </p>
                        <div>
                            <ul class="about-list">
                                <li>
                                    <i class="flaticon-check"></i>
                                    Indywidualne podejście do każdego Pacjenta.
                                </li>
                                <li>
                                    <i class="flaticon-check"></i>
                                    Doświadczeni specjaliści w każdej dziedzinie stomatologii.
                                </li>
                                <li>
                                    <i class="flaticon-check"></i>
                                    Nowoczesne technologie dla zdrowia i estetyki uśmiechu.
                                </li>
                            </ul>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="about-info">
                                    <i class="flaticon-caduceus"></i>
                                    <h4>30+ lat</h4>
                                    <span>Doświadczenia</span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="about-info">
                                    <i class="flaticon-dental-care"></i>
                                    <h4>5500+ </h4>
                                    <span>Przeprowadzonych Zabiegów</span>
                                </div>
                            </div>
                        </div>
                        <a href="/o-nas-twoja-przychodnia-stomatologiczna" class="default-btn">Poznajmy się</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-image">
                        <img src="static/img/about/about-1-pandentysta.png" alt="image">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about area end -->


    <!-- main feature -->
    <section class="core-features-area pt-100 pb-70">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 mx-auto">
                    <div class="section-title-warp">
                        <span class="sub-title">
                            <i class="flaticon-hashtag-symbol"></i>
                            Profesjonalizm i troska.
                        </span>
                        <h2>Dlaczego  <span>Duodent</span> Bielany?</h2>
                        <p>
                            Łączymy profesjonalizm z nowoczesnym podejściem, by zapewnić kompleksową opiekę 
                            stomatologiczną. Troszczymy się o zdrowie i estetykę Twojego uśmiechu, 
                            tworząc przyjazną atmosferę, w której każdy Pacjent czuje się wyjątkowo.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="single-core-features">
                        <div class="icon">
                            <i class="flaticon-dental-care"></i>
                        </div>
                        <h3>
                            <a href="/zabiegi-stomatologiczne-kompleksowa-oferta">Najwyższa jakość</a>
                        </h3>
                        <p>Najnowocześniejsze technologie i wieloletnie doświadczenie gwarantują doskonałe efekty leczenia.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-core-features">
                        <div class="icon">
                            <i class="flaticon-policy"></i>
                        </div>
                        <h3>
                            <a href="/poznaj-nasz-zespol-specjalistow-stomatologii">Doskonali eksperci</a>
                        </h3>
                        <p>Nasz zespół to specjaliści z międzynarodowym doświadczeniem, którzy stale podnoszą swoje kwalifikacje.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-core-features">
                        <div class="icon">
                            <i class="flaticon-caduceus"></i>
                        </div>
                        <h3>
                            <a href="/umow-wizyte-online">Bezstresowe wizyty</a>
                        </h3>
                        <p>Zapewniamy przyjazną atmosferę oraz pełen komfort Pacjenta na każdym etapie wizyty.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-core-features">
                        <div class="icon">
                            <i class="flaticon-hospitalisation"></i>
                        </div>
                        <h3>
                            <a href="/o-nas-twoja-przychodnia-stomatologiczna">Pełna troska</a>
                        </h3>
                        <p>Dbamy o każdy szczegół – od pierwszej konsultacji, przez leczenie, aż po wsparcie po zabiegu.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- main feature end -->

    
    <!-- counter area -->
    <section class="counter-area pb-70">
        <div class="container">
            <div class="counter-area-content">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="counter-single">
                            <i class="far fa-layer-group"></i>
                            <h3>
                                <span class="counter">{{companyStats.zrealizowane_uslugi}}</span> + 
                            </h3>
                            <p>Zrealizowanych usług</p>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="counter-single">
                            <i class="far fa-gem"></i>
                            <h3><span class="counter">{{companyStats.lata_doswiadczenia}}</span> + </h3>
                            <p>Lat doświadczenia</p>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="counter-single">
                            <i class="far fa-users"></i>
                            <h3><span class="counter">{{companyStats.czlonkowie_zespolu}}</span> + </h3>
                            <p>Członków zespołu</p>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="counter-single">
                            <i class="far fa-award"></i>
                            <h3><span class="counter">{{companyStats.zadowoleni_klienci}}</span> + </h3>
                            <p>Zadowolonych klientów</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- counter area end -->


    <!-- doctor area -->
    <section class="doctor-area pb-70">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 mx-auto">
                    <div class="section-title-warp">
                        <span class="sub-title">
                            <i class="flaticon-hashtag-symbol"></i>
                            Nasz Zespół
                        </span>
                        <h2><span>Specjaliści</span>, którym możesz zaufać</h2>
                        <p>
                            Poznaj nasz zespół doświadczonych lekarzy, którzy z pasją dbają o Twoje zdrowie i dobre samopoczucie.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for memeber in members %}
                <div class="col-lg-3 col-md-6">
                    <div class="single-doctor">
                        <a href="/zespol/{{memeber['ROUTE']}}"><img src="{{memeber['EMPLOYEE_PHOTO']}}" alt="image"></a>
                        <div class="doctor-content">
                            <h3>
                                <a href="/zespol/{{memeber['ROUTE']}}">{{memeber['EMPLOYEE_NAME']}}</a>
                            </h3>
                            <span>{{memeber['EMPLOYEE_ROLE']}}</span>
                            <div class="share-link">
                                {% if memeber['FACEBOOK'] %}
                                    <a href="#"><i class="bx bxl-facebook"></i></a>
                                {% endif %}
                                {% if memeber['LINKEDIN'] %}
                                    <a href="#"><i class="bx bxl-linkedin"></i></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                
            </div>
        </div>
    </section>
    <!-- doctor area end -->


    <!-- testimonials -->
    <section class="review-area ptb-100">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 mx-auto">
                    <div class="section-title-warp">
                        <span class="sub-title">
                            <i class="flaticon-hashtag-symbol"></i>
                            Opinie w google
                        </span>
                        <h2>Sprawdź, <span>co mówią</span> o nas</h2>
                        <p>
                            Opinie naszych Pacjentów to najlepszy dowód na wysoką jakość świadczonych przez nas usług. 
                            Zaufanie, zadowolenie i pozytywne doświadczenia są dla nas najważniejsze, dlatego z dumą 
                            prezentujemy ich referencje.
                        </p>
                    </div>
                </div>
            </div>
            <div class="review-slides owl-carousel owl-theme">
                <div class="single-review-item">
                    <div class="icon">
                        <i class="far fa-quote-left"></i>
                    </div>
                    <p>
                        Polecam przychodnie Duodent. Cała nasza rodzina chodzi na wizyty do doktora Arkadiusza. 
                        Przemiły i wyrozumiały człowiek. Dokładnie tłumaczy co będzie wykonywał i jaki proces 
                        leczenie będzie najlepszy.
                    </p>
                    <div class="review-info">
                        <img src="https://lh3.googleusercontent.com/a/ACg8ocKV6P3fEhISxtciqm4-iSae4aBlPR5tI6BRvbfB5RWuNgZ3MQ=w75-h75-p-rp-mo-br100" alt="image">
                        <h3>Marzena Gujska</h3>
                        <span>Pacjent</span>
                    </div>
                </div>
                <div class="single-review-item">
                    <div class="icon">
                        <i class="far fa-quote-left"></i>
                    </div>
                    <p>
                        Super dentysta. Wszystko zawsze dobrze zrobione, dzieci też lubią przychodzić.
                    </p>
                    <div class="review-info">
                        <img src="https://lh3.googleusercontent.com/a-/ALV-UjXYoVaxEpzSeWOxiUGJqFXdfd7M1MpFaubIr4ytnkGe9UtheBxN=w75-h75-p-rp-mo-ba4-br100" alt="image">
                        <h3>Julian Glowniak</h3>
                        <span>Pacjent</span>
                    </div>
                </div>
                <div class="single-review-item">
                    <div class="icon">
                        <i class="far fa-quote-left"></i>
                    </div>
                    <p>
                        Polecam Panią Elżbiete Fedorowicz z czystym sercem! Doktor pełna empatii, 
                        zrozumienia i wyrozumiałości. Uratowała moje dziąsła, a co za tym idzie również zęby.
                        Jest Aniołem!
                    </p>
                    <div class="review-info">
                        <img src="https://lh3.googleusercontent.com/a/ACg8ocI_-BcczskfurWubvvjHw2VYpl6qwKCA4a3UX740DpWk59L=w75-h75-p-rp-mo-br100" alt="image">
                        <h3>Oliwia Piłatowicz</h3>
                        <span>Pacjent</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- testimonials end-->
{% endblock %}
{% block bottom_scripts %}
    <script>
        $(document).ready(function () {
            $('#appointmentForm').on('submit', function (event) {
                event.preventDefault(); // Zapobiegamy standardowemu przesyłaniu formularza

                const formData = {
                    name: $('#name').val(),
                    email: $('#email').val(),
                    phone: $('#phone').val(),
                    birth_date: $('#birth_date').val(),
                    visit_date: $('#visit_date').val(),
                    visit_time: $('#visit_time').val(),
                    consent: $('#consent').is(':checked')
                };

                // Wysyłamy dane przez AJAX
                $.ajax({
                    url: '/api/umow-wizyte',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(formData),
                    success: function (response) {
                        $('#responseMessage').html(`<p>${response.message}</p>`);
                        $('#appointmentForm')[0].reset(); // Czyścimy formularz
                    },
                    error: function (error) {
                        $('#responseMessage').html(`<p style="color: red;">Błąd: ${error.responseJSON.message}</p>`);
                    }
                });
            });
        });
    </script>
{% endblock %}