{% extends 'base.html' %}
{% block content %}
<!-- page banner -->
{% set bg_image_download = url_for('static', filename='img/banners/price-list-banner.jpg') %}
<div class="page-banner-area mb-5" id="pageBanner" style="background-image: url('{{ bg_image_download }}');">
    <div class="container">
        <div class="page-banner-content">
            <div class="page-banner-content">
                <h1 class="line">
                    Wszystkie <span>ceny</span> w jednym miejscu
                </h1>
                <h1 class="line">
                    Sprawdź <span>koszt</span> leczenia
                </h1>
            </div>
            <h2 class="line">{{pageTitle}}</h2>
            <ul class="pages-list line">
                <li><a href="/">Duodent Bielany</a></li>
                <li>{{pageTitle}}</li>
            </ul>
        </div>
    </div>
</div>
<!-- page banner end -->
<!-- breadcrumb start -->
<div id="breadcrumb-small" class="breadcrumb-small mb-5" style="display: none;">
    <div class="container justify-content-center">
        <div class="justify-content-center">
            <ul class="breadcrumb-pages-list">
                <li><a href="/">Duodent Bielany</a></li>
                <li>Cennik</li>
            </ul>
        </div>
    </div>
</div>
<!-- breadcrumb end -->
<section class="blog-area pb-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 mx-auto">
                <div class="section-title-warp">
                    <span class="sub-title">
                        <i class="flaticon-hashtag-symbol"></i>
                        Cennik
                    </span>
                    <h2>Transparentność <span>leczenia</span> i jasne <span>zasady</span></h2>
                    <p>
                        W tej sekcji znajdziesz aktualny cennik usług stomatologicznych. 
                        Stawiamy na przejrzystość i pełną informację, dlatego każdy etap leczenia 
                        omawiamy indywidualnie wraz z kosztami. 
                        Dzięki temu masz pełną kontrolę i komfort podejmowania decyzji.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">

            {% for item in treatmentPrices %}
                
                {% if item.prizeTableSync and item.prizeTableSync!=[('', '')] %}
                    
                    <div class="col-6">
                        <div class="single-blog">
                            <div class="blog-content">
                                <h3><span style="color: #06a3da;">{{ item.tytul_glowny }}</span></h3>
                                <div>
                                    <ul class="list-group list-group-flush">
                                        {% for desc, prize in item.prizeTableSync %}
                                            <li class="list-group-item">
                                                <div class="row">
                                                    <div class="col-10 prices-small">{{desc}}</div>
                                                    <div class="col-2 border-start prices-small">{{prize}}</div>
                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <ul class="entry-meta">
                                    <li>
                                        <i class="far fa-folder-open" style="color: #929292;"></i>
                                        <span style="color: #929292;">
                                            {{ item.tytul_glowny }}
                                        </span>
                                    </li>
                                    <li>
                                        <a
                                        {% if item.treatment_general_status %}
                                        href="/zabieg-stomatologiczny/{{ item.ready_route }}"
                                        {% else %}
                                        href="/umow-wizyte-online"
                                        {% endif %}
                                        >
                                            <i class="fas fa-arrow-right" style="color: #D19750;"></i>
                                            <span style="color: #D19750;">więcej..</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        
        </div>
        <div class="row">
            <p style="font-size: 12px; color: #686d71;">
                <strong style="color:#d60000;">Informacja:</strong> Ceny podane w cenniku mają charakter 
                <strong style="color:#24363f;">orientacyjny</strong>. Ostateczny koszt leczenia zależy od zakresu wykonywanych usług 
                i jest ustalany indywidualnie podczas wizyty. Cennik nie stanowi oferty handlowej w rozumieniu art. 66 § 1 Kodeksu Cywilnego.
            </p>
        </div>
    </div>
</section>
{% endblock %}
{% block bottom_scripts %}
<script>
    $(document).ready(function () {
        // Po 5 sekundach uruchom animację
        setTimeout(function () {
            // Animacja chowania #pageBanner
            $("#pageBanner").animate(
                {
                    height: "0px", // Zmień wysokość
                    marginBottom: "0px",
                    paddingTop: "0px", // Usuń górny padding
                    paddingBottom: "0px" // Usuń dolny padding
                },
                1000, // Czas animacji
                function () {
                    // Usunięcie wszystkich klas z #pageBanner po zakończeniu animacji
                    $("#pageBanner").empty().removeClass();

                    // Po zakończeniu animacji pokaż #breadcrumb-small
                    $("#breadcrumb-small")
                        .css({
                            display: "block", // Ustaw widoczność
                            textAlign: "center", // Wyrównanie tekstu do środka
                            width: "100%", // Rozciągnij na całą szerokość
                        })
                        .animate(
                            {
                                height: "50px",
                                paddingTop: "10px"
                            },
                            1200 // Czas animacji
                        );
                }
            );
        }, 5000); // Poczekaj 5 sekund przed uruchomieniem animacji
    });

    $(window).on('load', function () {
        let delay = 0;

        $('.line').each(function (index, element) {
            setTimeout(function () {
                $(element).addClass('animate');
            }, delay);

            delay += 500; // Opóźnienie dla kolejnej linii
        });
    });
</script>
{% endblock %}