{% extends 'base.html' %}
{% block content %}
    <!-- breadcrumb start -->
    <div id="breadcrumb-small" class="breadcrumb-small mb-5" style="display: none;">
        <div class="container justify-content-center">
            <div class="justify-content-center">
                <ul class="breadcrumb-pages-list">
                    <li><a href="/"><i class="bi bi-houses-fill" style="font-size: 1rem;"></i></a></li>
                    <li>Ustawienia</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- breadcrumb end -->
    {% if userName!='NotLogin' %}
        <!-- appointment -->
        <section class="root-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-12">
                        <div class="dentist-details-image">
                            <img 
                                id="team-avatar-{{own_user_data.id}}-1-1"
                                data-editable 
                                data-type="img"
                                src="{{own_user_data.avatar}}" alt="image">
                        </div>
                        
                        

                    </div>
                    <div class="col-lg-8">
                        <div class="appointment-overview-box">
                            <div class="make-appointment-content">
                                <h4><i class="far fa-key"></i> Zarządzanie hasłem</h4>
                                <form id="passwordForm">
                                    <div class="row">
                                        <!-- Ukryte pole input -->
                                        <input type="hidden" id="user_id" name="user_id" value="{{ own_user_data.id }}">
                                        <!-- Informacje o użytkowniku (tylko dla administratora) -->
                                        <div class="col-lg-6" id="userSelect" style="display: none;">
                                            <div class="form-group">
                                                <p>Wybierz użytkownika</p>

                                                <!-- Wybrany użytkownik (link otwierający collapse) -->
                                                <a 
                                                    class="btn btn-link p-0 mb-2" 
                                                    data-bs-toggle="collapse" 
                                                    href="#userListCollapse" 
                                                    role="button" 
                                                    aria-expanded="false" 
                                                    aria-controls="userListCollapse"
                                                    id="selectedUserName"
                                                    >
                                                    {{ own_user_data.name }}
                                                </a>
                                            </div>
                                            <div class="mt-1">
                                                <a 
                                                    class="btn btn-link p-0 mb-2" 
                                                    data-bs-toggle="collapse" 
                                                    href="#permListCollapse" 
                                                    role="button" 
                                                    aria-expanded="false" 
                                                    aria-controls="permListCollapse"
                                                    id="adminPerm"
                                                    style="display: none;"
                                                    >
                                                    <i class="bi-shield-lock-fill text-info ms-1 me-1"></i> 
                                                    <i class="bi-shield-check text-info me-1"></i> 
                                                    <i class="bi-person-fill text-secondary me-1"></i> 
                                                </a> 
                                            </div>
                                            <div class="collapse" id="permListCollapse">
                                                <!-- Opcje Administratora i Uprawnienia -->
                                                {% if own_userperm.administrator %}
                                                <i  
                                                    title="Odbierz uprawnienia administratora" 
                                                    id="team-administrator-{{own_user_data.id}}-1-1" 
                                                    data-type="switch" 
                                                    data-state="{{own_userperm.administrator}}"
                                                    class="bi-shield-lock-fill icon-size text-info me-1"></i> 
                                                    <span class="fw-light me-1 ms-1">
                                                        Administrator <!-- Administrator -->
                                                    </span>
                                            {% else %}
                                                <i 
                                                    title="Przyznaj uprawnienia administratora" 
                                                    id="team-administrator-{{own_user_data.id}}-1-1" 
                                                    data-type="switch" 
                                                    data-state="{{own_userperm.administrator}}"
                                                    class="bi-shield-lock-fill icon-size text-secondary"></i> 
                                                    <span class="fw-light me-1 ms-1">
                                                        Administrator <!-- Administrator -->
                                                    </span><!-- Administrator -->
                                            {% endif %}
                                            {% if own_userperm.super_user %}
                                                <i 
                                                    title="Odbierz uprawnienia super użytkownika" 
                                                    id="team-super_user-{{own_user_data.id}}-1-1" 
                                                    data-type="switch" 
                                                    data-state="{{own_userperm.super_user}}"
                                                    class="bi-shield-check icon-size text-info"></i>
                                                    <span class="fw-light me-1 ms-1">
                                                        Super User <!-- Super User -->
                                                    </span> <!-- Super User -->
                                            {% else %}
                                                <i 
                                                    title="Przyznaj uprawnienia super użytkownika" 
                                                    id="team-super_user-{{own_user_data.id}}-1-1" 
                                                    data-type="switch" 
                                                    data-state="{{own_userperm.super_user}}"
                                                    class="bi-shield-check icon-size text-secondary"></i>
                                                    <span class="fw-light me-1 ms-1">
                                                        Super User <!-- Super User -->
                                                    </span> <!-- Super User -->
                                                    
                                            {% endif %}
                                            {% if own_userperm.user %}
                                                <i 
                                                    title="Odbierz uprawnienia pracownika" 
                                                    id="team-user-{{own_user_data.id}}-1-1" 
                                                    data-type="switch" 
                                                    data-state="{{own_userperm.user}}"
                                                    class="bi-person-fill icon-size text-info"></i> <!-- User -->
                                                    <span class="fw-light me-1 ms-1">
                                                        Pracownik <!-- Pracownik -->
                                                    </span> <!-- Pracownik -->
                                            {% else %}
                                                <i 
                                                    title="Przyznaj uprawnienia pracownika" 
                                                    id="team-user-{{own_user_data.id}}-1-1" 
                                                    data-type="switch" 
                                                    data-state="{{own_userperm.user}}"
                                                    class="bi-person-fill icon-size text-secondary"></i> <!-- User -->
                                                    <span class="fw-light me-1 ms-1">
                                                        Pracownik <!-- Pracownik -->
                                                    </span> <!-- Pracownik -->
                                            {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <!-- Lista użytkowników w collapse -->
                                            <div class="collapse" id="userListCollapse">
                                                {% if superuser_worker_select %}
                                                    

                                                    <!-- Wyświetlanie pozostałych użytkowników w zależności od roli -->
                                                    <div class="row">
                                                        <!-- Wyświetlanie aktualnie zalogowanego użytkownika -->
                                                            <div 
                                                            class="col-auto m-2 user-item text-center border p-2 rounded active" 
                                                            data-user-id="{{ own_user_data.id }}" 
                                                            data-user-name="{{ own_user_data.name }}"
                                                            style="cursor: pointer; min-width: max-content;"
                                                        >
                                                            {{ own_user_data.name }}
                                                        </div>
                                                        {% for alloweduser in superuser_worker_select %}
                                                            

                                                                {% if 
                                                                    (user_role == 'administrator' and alloweduser.role != 'administrator') or
                                                                    (user_role == 'super_user' and alloweduser.role == 'user')
                                                                %}
                                                                    {% if own_user_data.id != alloweduser.id %}

                                                                        <div 
                                                                            class="col-auto m-2 user-item text-center border p-2 rounded" 
                                                                            data-user-id="{{ alloweduser.id }}" 
                                                                            data-user-name="{{ alloweduser.name }}"
                                                                            style="cursor: pointer; min-width: max-content;"
                                                                        >
                                                                            {{ alloweduser.name }}
                                                                        </div>
                                                                    {% endif %}
                                                                {% endif %}



                                                            
                                                        {% endfor %}
                                                    </div>
                                                {% endif %}
                                            </div>

                                        </div>
                                        <div class="col-lg-12">
                                            <div class="row">
                                                
                                                
                                                <!-- Stare hasło (wymagane dla super usera zmienia ręcznie) -->
                                                <div class="col-lg-6" id="old_password_div">
                                                    <div class="form-group">
                                                        <label>Stare Hasło</label>
                                                        <input type="password" class="form-control" id="old_password" name="old_password" placeholder="Stare Hasło">
                                                    </div>
                                                </div>

                                                <!-- Nowe hasło (opcjonalne, jeśli admin zmienia ręcznie) -->
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label>Nowe Hasło</label>
                                                        <input type="password" class="form-control" id="new_password" name="new_password" placeholder="Nowe Hasło">
                                                    </div>
                                                </div>
                                        
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label>Powtórz Nowe Hasło</label>
                                                        <input type="password" class="form-control" id="repeat_password" name="repeat_password" placeholder="Powtórz Nowe Hasło">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                
                                        <!-- Przełączniki dla administratora -->
                                        <div class="col-lg-12" id="adminOptions" style="display: none;">
                                            <div class="form-check form-switch mb-3">
                                                <input class="form-check-input" type="checkbox" role="switch" id="generate_password" name="generate_password">
                                                <label class="form-check-label" for="generate_password">Wygeneruj hasło automatycznie</label>
                                            </div>
                                        </div>
                                
                                        <!-- Informacje -->
                                        <div class="col-lg-12">
                                            <p style="font-size: 12px; color: #686d71;">
                                                <strong style="color: #d60000;">UWAGA:</strong> 
                                                Hasło zostanie zmienione automatycznie po zatwierdzeniu. Przed dokonaniem zmiany upewnij się, że użytkownik ma 
                                                dostęp do swojego konta e-mail, ponieważ nowe hasło zostanie wysłane na adres zapisany w systemie. 
                                                Jeśli adres e-mail jest nieaktualny lub użytkownik nie ma do niego dostępu, zaktualizuj dane kontaktowe, 
                                                aby uniknąć problemów z logowaniem. Zmiana hasła jest nieodwracalna, dlatego zalecamy ostrożność 
                                                przy wprowadzaniu danych.
                                            </p>
                                                                                       
                                        </div>
                                    </div>
                                
                                    <!-- Przyciski akcji -->
                                    <div class="d-flex justify-content-between mt-2">
                                        <!-- Guzik dla administratora i super użytkownika -->
                                        <button type="submit" id="submitButton" class="default-btn">Zmień Hasło</button>
                                
                                        <!-- Guzik dla pracownika -->
                                        <input type="hidden" id="own_user_id" value="{{own_user_data.id}}" style="display: none;" >
                                        <button type="submit" id="generateButton" class="default-btn" style="display: none;">Wygeneruj Hasło</button>
                                    </div>
                                
                                    <div id="responseMessage" style="margin-top: 20px;"></div>
                                </form>
                                
                                <div class="row">
                                    <div class="col-12">
                                        <h5>Twoje dane kontaktowe</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-auto m-2">
                                        <!-- Email -->
                                        <div class="d-flex">
                                            <i class="bi-envelope-fill icon-size"></i>
                                            <div 
                                                id="team-email-{{own_user_data.id}}-1-1"
                                                data-editable 
                                                data-type="text"
                                                class="border rounded border-secondary p-2 ms-2 mb-2" 
                                                style="min-width: 200px;">
                                                {{ own_user_data.email }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-auto m-2">
                                
                                        <!-- Numer telefonu -->
                                        <div class="d-flex">
                                            <i class="bi-telephone-fill icon-size"></i>
                                            <div 
                                                id="team-phone-{{own_user_data.id}}-1-1"
                                                data-editable 
                                                data-type="text"
                                                class="border rounded border-secondary p-2 ms-2 mb-2" 
                                                style="min-width: 200px;">
                                                {{ own_user_data.contact.phone }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-auto m-2">  
                                        <!-- Facebook -->
                                        <div class="d-flex">
                                            <i class="bi-facebook icon-size"></i>
                                            <div 
                                                id="team-facebook-{{own_user_data.id}}-1-1"
                                                data-editable 
                                                data-type="text"
                                                class="border rounded border-secondary p-2 ms-2 mb-2" 
                                                style="min-width: 200px;">
                                                {{ own_user_data.contact.facebook }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-auto m-2">    
                                        <!-- Instagram -->
                                        <div class="d-flex">
                                            <i class="bi-instagram icon-size"></i>
                                            <div 
                                                id="team-instagram-{{own_user_data.id}}-1-1"
                                                data-editable 
                                                data-type="text"
                                                class="border rounded border-secondary p-2 ms-2 mb-2" 
                                                style="min-width: 200px;">
                                                {{ own_user_data.contact.instagram }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-auto m-2">    
                                        <!-- Twitter -->
                                        <div class="d-flex">
                                            <i class="bi-twitter icon-size"></i>
                                            <div 
                                                id="team-twitter-{{own_user_data.id}}-1-1"
                                                data-editable 
                                                data-type="text"
                                                class="border rounded border-secondary p-2 ms-2 mb-2" 
                                                style="min-width: 200px;">
                                                {{ own_user_data.contact.twitter }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-auto m-2">    
                                        <!-- LinkedIn -->
                                        <div class="d-flex">
                                            <i class="bi-linkedin icon-size"></i>
                                            <div 
                                                id="team-linkedin-{{own_user_data.id}}-1-1"
                                                data-editable 
                                                data-type="text"
                                                class="border rounded border-secondary p-2 ms-2 mb-2" 
                                                style="min-width: 200px;">
                                                {{ own_user_data.contact.linkedin }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- appointment end -->
    {% endif %}

{% endblock %}
{% block bottom_scripts %}
    <script>
        $(document).ready(function () {
            setTimeout(function () {
                // Pokaż #breadcrumb-small
                $("#breadcrumb-small")
                    .css({
                        display: "block", // Ustaw widoczność
                        textAlign: "center", // Wyrównanie tekstu do środka
                        width: "100%", // Rozciągnij na całą szerokość
                    })
                    .animate(
                        {
                            height: "50px",
                            paddingTop: "10px"
                        },
                        1200 // Czas animacji
                    );
            }, 2000); 
        });
    </script>

    {% if userName!='NotLogin' %}
        <script>
            let role; // Deklaracja globalna
            document.addEventListener("DOMContentLoaded", function () {
                // Pobierz rolę użytkownika z backendu
                fetch('/api/get-role')
                    .then(response => response.json())
                    .then(data => {
                        role = data.role;
                        initializeUI(role); // Inicjalizacja UI na podstawie roli
                    })
                    .catch(error => {
                        console.error("Błąd podczas pobierania roli użytkownika:", error);
                    });

                // Funkcja inicjalizująca UI na podstawie roli
                function initializeUI(role) {
                    const userSelect = document.getElementById("userSelect");
                    const adminOptions = document.getElementById("adminOptions");
                    const submitButton = document.getElementById("submitButton");
                    const generateButton = document.getElementById("generateButton");
                    const oldPassword = document.getElementById("old_password");
                    const oldPasswordDiv = document.getElementById("old_password_div");
                    const newPassword = document.getElementById("new_password");
                    const repeatPassword = document.getElementById("repeat_password");
                    // const employeeSelect = document.getElementById("employeeSelect");
                    const generatePasswordSwitch = document.getElementById("generate_password");
                    const ownUserId = document.getElementById("own_user_id");
                    const userId = document.getElementById("user_id");
                    const adminPerm = document.getElementById("adminPerm");
                    

                    // Funkcja obsługująca przełącznik generowania hasła
                    function handlePasswordSwitch(switchElement, newPassword, repeatPassword) {
                        switchElement.addEventListener("change", function () {
                            const isGenerate = switchElement.checked;
                            newPassword.disabled = isGenerate;
                            repeatPassword.disabled = isGenerate;

                            if (isGenerate) {
                                newPassword.value = "";
                                repeatPassword.value = "";
                            }
                        });
                    }

                    // Dostosowanie widoku w zależności od roli użytkownika
                    if (role === "administrator") {
                        userSelect.style.display = "block"; // Admin widzi listę użytkowników
                        adminOptions.style.display = "block"; // Admin widzi przełącznik generowania hasła
                        adminPerm.style.display = "block"; // Admin widzi przełącznik generowania hasła
                        oldPassword.parentElement.style.display = "none"; // Ukrywamy pole starego hasła
                        oldPasswordDiv.style.display = "none"; // Ukrywamy diva starego hasła

                        // Obsługa przełącznika generowania hasła
                        handlePasswordSwitch(generatePasswordSwitch, newPassword, repeatPassword);
                    } else if (role === "super_user") {
                        userSelect.style.display = "block"; // Super user nie widzi pełnej listy użytkowników
                        adminOptions.style.display = "block"; // Super user widzi przełącznik generowania hasła
                        oldPassword.parentElement.style.display = "block"; // Musi podać stare hasło
                        oldPasswordDiv.style.display = "block"; // Pakazujemy diva starego hasła
                        adminPerm.style.display = "none"; // Admin widzi przełącznik generowania hasła

                        // Obsługa przełącznika generowania hasła
                        handlePasswordSwitch(generatePasswordSwitch, newPassword, repeatPassword);
                    } else if (role === "user") {
                        userSelect.style.display = "none"; // Pracownik nie widzi listy użytkowników
                        adminOptions.style.display = "none"; // Pracownik nie ma przełącznika
                        oldPassword.parentElement.style.display = "none"; // Pracownik nie musi podawać starego hasła
                        oldPasswordDiv.style.display = "none"; // Ukrywamy diva starego hasła
                        newPassword.parentElement.style.display = "none"; // Ukrywamy nowe hasło
                        repeatPassword.parentElement.style.display = "none"; // Ukrywamy powtórzenie hasła
                        adminPerm.style.display = "none"; // Admin widzi przełącznik generowania hasła


                        generateButton.style.display = "block"; // Pracownik widzi przycisk generowania hasła
                        ownUserId.style.display = "block"; // Pracownik widzi ustawia swoje userId
                        
                        submitButton.style.display = "none"; // Ukrywamy standardowy przycisk zmiany hasła
                    } else {
                        console.warn("Nieznana rola użytkownika:", role);
                        // Domyślne zachowanie w przypadku nieznanej roli
                    }
                }
            });
            

            document.addEventListener('DOMContentLoaded', function () {
                // Ukryty input
                const hiddenInput = document.getElementById('user_id');
                const hiddenInput_own = document.getElementById('own_user_id');
                // Link wybranego użytkownika
                const selectedUserName = document.getElementById('selectedUserName');
                // Elementy listy użytkowników
                const userItems = document.querySelectorAll('.user-item');
                // Pole starego hasła
                const oldPasswordDiv = document.getElementById('old_password_div');

                userItems.forEach(item => {
                    item.addEventListener('click', function () {
                        // Pobierz dane użytkownika z klikniętego elementu
                        const userId = this.getAttribute('data-user-id');
                        const userName = this.getAttribute('data-user-name');

                        // Podmień wartość ukrytego inputa
                        hiddenInput.value = userId;

                        // Podmień tekst wybranego użytkownika
                        selectedUserName.textContent = userName;

                        // Zamknij collapse
                        const collapseInstance = bootstrap.Collapse.getInstance(document.getElementById('userListCollapse'));
                        collapseInstance.hide();

                        // Dodaj styl aktywnego użytkownika
                        userItems.forEach(user => user.classList.remove('active'));
                        this.classList.add('active');

                        // Jeśli rola to super_user, ukryj pole old_password, gdy hiddenInput.value != hiddenInput_own.value
                        if (role === 'super_user') {
                            if (hiddenInput.value !== hiddenInput_own.value) {
                                oldPasswordDiv.style.display = 'none'; // Ukryj pole
                            } else {
                                oldPasswordDiv.style.display = 'block'; // Pokaż pole
                            }
                        }
                    });
                });
            });




            // Przykładowa obsługa wysyłania formularza
            $("#passwordForm").on("submit", function (e) {
                e.preventDefault();

                const formData = $(this).serialize(); // Serializuj dane formularza

                $.ajax({
                    url: "/admin/manage-password",
                    type: "POST",
                    data: formData,
                    success: function (response) {
                        // Wyświetlenie komunikatu o sukcesie
                        $("#responseMessage").text(response.message);
                    },
                    error: function (xhr) {
                        // Wyświetlenie komunikatu o błędzie
                        const response = JSON.parse(xhr.responseText);
                        $("#responseMessage").text(response.message);
                    },
                });
            });
        </script>
    {% endif %}
{% endblock %}