{% extends 'base.html' %}

{% block content %}

<!-- page banner -->
{% set bg_image_team_details = url_for('static', filename='img/banners/zespol-2-banner.jpg') %}
<div class="page-banner-area mb-5" id="pageBanner" style="background-image: url('{{ bg_image_team_details }}');">
    <div class="container">
        <div class="page-banner-content">
            <div class="page-banner-content">
                <h1 class="line">
                    Profesjonalizm i <span>zaufanie</span>
                </h1>
                <h1 class="line">
                    Twój uśmiech w <span>najlepszych rękach</span>
                </h1>
            </div>
            <h2 class="line">{{dane_pracownika['name']}}</h2>
            <ul class="pages-list">
                <li><a href="/">Duodent Bielany</a></li>
                <li><a href="/poznaj-nasz-zespol-specjalistow-stomatologii">Zespół</a></li>
                <li>{{dane_pracownika['name']}}/li>
            </ul>
        </div>
    </div>
</div>
<!-- page banner end -->
<!-- breadcrumb start -->
<div id="breadcrumb-small" class="breadcrumb-small mb-5" style="display: none;">
    <div class="container justify-content-center">
        <div class="justify-content-center">
            <ul class="breadcrumb-pages-list">
                <li><a href="/"><i class="bi bi-houses-fill" style="font-size: 1rem;"></i></a></li>
                <li><a href="/poznaj-nasz-zespol-specjalistow-stomatologii">Zespół</a></li>
                <li>Profil</li>
            </ul>
        </div>
    </div>
</div>
<!-- breadcrumb end -->

<!-- dentist-details-area -->
<section class="dentist-details-area pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="dentist-details-image">
                    <img src="{{dane_pracownika['avatar']}}" alt="image">
                </div>
            </div>
            <div class="col-lg-7 col-md-6">
                <div class="dentist-details-content">
                    <h3>
                        <a href="javascript:void(0)">{{dane_pracownika['name']}}</a>
                    </h3>
                    <span>{{dane_pracownika['stanowisko']}}</span>
                    
                    <div class="content-overview">
                        <p><span>Kwalifikacje</span><br/>{{dane_pracownika['kwalifikacje']}}</p>
                        <p><span>Doświadczenie zawodowe</span><br/>{{dane_pracownika['doswiadczenie']}}</p>
                        <p><span>Wykształcenie</span><br/>{{dane_pracownika['wyksztalcenie']}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="dentist-details-overview-content">
            <p>
                {{dane_pracownika['opis']}}
            </p>
        </div>
    </div>
</section>
<!-- dentist-details-area end -->
{% endblock %}
{% block bottom_scripts %}
<script>
    $(document).ready(function () {
        // Po 5 sekundach uruchom animację
        setTimeout(function () {
            // Animacja chowania #pageBanner
            $("#pageBanner").animate(
                {
                    height: "0px", // Zmień wysokość
                    marginBottom: "0px",
                    paddingTop: "0px", // Usuń górny padding
                    paddingBottom: "0px" // Usuń dolny padding
                },
                1000, // Czas animacji
                function () {
                    // Usunięcie wszystkich klas z #pageBanner po zakończeniu animacji
                    $("#pageBanner").empty().removeClass();

                    // Po zakończeniu animacji pokaż #breadcrumb-small
                    $("#breadcrumb-small")
                        .css({
                            display: "block", // Ustaw widoczność
                            textAlign: "center", // Wyrównanie tekstu do środka
                            width: "100%", // Rozciągnij na całą szerokość
                        })
                        .animate(
                            {
                                height: "50px",
                                paddingTop: "10px"
                            },
                            1200 // Czas animacji
                        );
                }
            );
        }, 5000); // Poczekaj 5 sekund przed uruchomieniem animacji
    });

    $(window).on('load', function () {
        let delay = 0;

        $('.line').each(function (index, element) {
            setTimeout(function () {
                $(element).addClass('animate');
            }, delay);

            delay += 500; // Opóźnienie dla kolejnej linii
        });
    });
</script>
{% endblock %}
