{% extends 'base.html' %}
{% block content %}
<!-- page banner -->
<div class="page-banner-area mb-5" style="background-image: url(static/img/banners/zespol-4-banner.jpg);">
    <div class="container">
        <div class="page-banner-content">
            <h2>{{pageTitle}}</h2>
            <ul class="pages-list">
                <li><a href="/">Duodent Bielany</a></li>
                <li>{{pageTitle}}</li>
            </ul>
        </div>
    </div>
</div>
<!-- page banner end -->
 <!-- doctor area -->
 <section class="doctor-area pb-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 mx-auto">
                <div class="section-title-warp">
                    <span class="sub-title">
                        <i class="flaticon-hashtag-symbol"></i>
                        Nasz Zespół
                    </span>
                    <h2><span>Specjaliści</span>, którym możesz zaufać</h2>
                    <p>
                        Poznaj nasz zespół doświadczonych lekarzy, którzy z pasją dbają o Twoje zdrowie i dobre samopoczucie.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single-doctor">
                    <a href="/zespol/doktor-nauk-medycznych-elzbieta-fedorowicz"><img src="static/img/doctor/1.jpg" alt="image"></a>
                    <div class="doctor-content">
                        <h3>
                            <a href="/zespol/doktor-nauk-medycznych-elzbieta-fedorowicz">Elżbieta Fedorowicz</a>
                        </h3>
                        <span>Doktor nauk medycznych</span>
                        <div class="share-link">
                            <!-- <a href="#"><i class="bx bxl-facebook"></i></a>
                            <a href="#"><i class="bx bxl-twitter"></i></a>
                            <a href="#"><i class="bx bxl-instagram"></i></a>
                            <a href="#"><i class="bx bxl-linkedin"></i></a> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-doctor">
                    <a href="/zespol/lekarz-dentysta-arkadiusz-zmuda"><img src="static/img/doctor/2.jpg" alt="image"></a>
                    <div class="doctor-content">
                        <h3>
                            <a href="/zespol/lekarz-dentysta-arkadiusz-zmuda">Arkadiusz Żmuda</a>
                        </h3>
                        <span>Lekarz dentysta</span>
                        <div class="share-link">
                            <!-- <a href="#"><i class="bx bxl-facebook"></i></a>
                            <a href="#"><i class="bx bxl-twitter"></i></a>
                            <a href="#"><i class="bx bxl-instagram"></i></a>
                            <a href="#"><i class="bx bxl-linkedin"></i></a> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-doctor">
                    <a href="/zespol/lekarz-dentysta-przemyslaw-zmuda"><img src="static/img/doctor/3.jpg" alt="image"></a>
                    <div class="doctor-content">
                        <h3>
                            <a href="/zespol/lekarz-dentysta-przemyslaw-zmuda">Przemysław Żmuda</a>
                        </h3>
                        <span>Lekarz dentysta</span>
                        <div class="share-link">
                            <!-- <a href="#"><i class="bx bxl-facebook"></i></a>
                            <a href="#"><i class="bx bxl-twitter"></i></a>
                            <a href="#"><i class="bx bxl-instagram"></i></a>
                            <a href="#"><i class="bx bxl-linkedin"></i></a> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-doctor">
                    <a href="/zespol/lekarz-dentysta-sylwia-zmuda"><img src="static/img/doctor/4.jpg" alt="image"></a>
                    <div class="doctor-content">
                        <h3>
                            <a href="/zespol/lekarz-dentysta-sylwia-zmuda">Sylwia Żmuda</a>
                        </h3>
                        <span>Lekarz dentysta</span>
                        <div class="share-link">
                            <!-- <a href="#"><i class="bx bxl-facebook"></i></a>
                            <a href="#"><i class="bx bxl-twitter"></i></a>
                            <a href="#"><i class="bx bxl-instagram"></i></a>
                            <a href="#"><i class="bx bxl-linkedin"></i></a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- doctor area end -->
{% endblock %}
{% block bottom_scripts %}{% endblock %}