{% extends 'base.html' %}
{% block content %}

<!-- page banner -->
{% set bg_image_treatments_details = url_for('static', filename='img/banners/zabieg-4-banner.jpg') %}
<div class="page-banner-area mb-5" id="pageBanner" style="background-image: url('{{ bg_image_treatments_details }}');">
    <div class="container">
        <div class="page-banner-content">
            <div class="page-banner-content">
                <h1 class="line">
                    Kompleksowe usługi <span>stomatologiczne</span>
                </h1>
                <h1 class="line">
                    Twoje <span>zdrowie</span> w dobrych rękach
                </h1>
            </div>
            <h2 class="line">{{pageTitle}}</h2>
            <ul class="pages-list">
                <li><a href="/">Duodent Bielany</a></li>
                <li><a href="/zabiegi-stomatologiczne-kompleksowa-oferta">Zabiegi</a></li>
                <li>{{pageTitle}}</li>
            </ul>
        </div>
    </div>
</div>
<!-- page banner end -->
<!-- breadcrumb start -->
<div id="breadcrumb-small" class="breadcrumb-small mb-5" style="display: none;">
    <div class="container justify-content-center">
        <div class="justify-content-center">
            <ul class="breadcrumb-pages-list">
                <li><a href="/"><i class="bi bi-houses-fill" style="font-size: 1rem;"></i></a></li>
                <li><a href="/zabiegi-stomatologiczne-kompleksowa-oferta">Zabiegi</a></li>
                <li>{{pageTitle}}</li>
            </ul>
        </div>
    </div>
</div>
<!-- breadcrumb end -->


    <!-- services-details-area -->
    <section class="services-details-area pb-100">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 mx-auto">
                    <div class="section-title-warp">
                        <span class="sub-title">
                            <i class="flaticon-hashtag-symbol"></i>
                            Usługi
                        </span>
                        <h2>{{pageTitle}}</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <div class="services-details-image">
                        <img src="{{url_for('static', filename='img/services/single-dziecieca.jpg')}}" alt="image">
                    </div>
                    <div class="services-details-content">
                        <h3 id="page_title_section_1_id" data-editable data-type="text">Dental Implants</h3>
                        <p>
                            Mauris dapibus arcu vitae dapibus laoreet. Duis vitae vestibulum sapien. Cras sed fermentum dui, a placerat lorem. Mauris quis justo consectetur, ullamcorper ante eget, porttitor arcu. Ut ac tellus id arcu mollis congue nec eget libero. Praesent quis pretium lacus. Sed fermentum ac magna id tempus. Phasellus bibendum commodo metus at suscipit. Sed eget nulla blandit, mattis libero non, tristique risus. Duis condimentum euismod nisi sed luctus. Cras posuere, felis eu euismod luctus, nulla nunc aliquet ante, nec mollis massa dolor a metus. Sed quis nibh eu leo fringilla rhoncus vitae porta mi. Sed eleifend neque vitae tempus placerat. Pellentesque vitae ipsum at orci ultrices tincidunt. Mauris tincidunt dolor et ante tincidunt maximus.
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <ul class="services-details-list">
                                <li>
                                    <i class="flaticon-check"></i>
                                    Praesent rhoncus varius pharetra.
                                </li>
                                <li>
                                    <i class="flaticon-check"></i>
                                    Ut hendrerit nisi eget urna vehicula rutrum.
                                </li>
                                <li>
                                    <i class="flaticon-check"></i>
                                    Nulla molestie bibendum blandit.
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <ul class="services-details-list">
                                <li>
                                    <i class="flaticon-check"></i>
                                    Pellentesque volutpat lacus metus.
                                </li>
                                <li>
                                    <i class="flaticon-check"></i>
                                    Ut porta odio volutpat nec
                                </li>
                                <li>
                                    <i class="flaticon-check"></i>
                                    Curabitur ultricies ex odio vitae facilisis
                                </li>
                            </ul>
                        </div>
                    </div>
                    <p>
                        Praesent rhoncus varius pharetra. Ut hendrerit nisi eget urna vehicula rutrum. Nulla molestie bibendum blandit. Pellentesque volutpat lacus metus, ut porta odio volutpat nec. Curabitur ultricies ex odio, vitae facilisis sem volutpat nec. Nunc ultricies ut dui id interdum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                    </p>
                    <div class="services-details-overview">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="single-gallery">
                                    <img src="../static/img/services/1.jpg" alt="image">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="single-gallery">
                                    <img src="../static/img/services/2.jpg" alt="image">
                                </div>
                            </div>
                        </div>
                    </div>
                    <p>
                        Pellentesque sit amet consequat ligula. Fusce interdum magna eget arcu hendrerit, non facilisis eros pharetra. Etiam ultricies sit amet nunc suscipit tristique. Proin lectus nisl, bibendum pellentesque arcu vel, faucibus sollicitudin urna. Nullam tempus leo sed magna viverra vehicula. Duis posuere sollicitudin libero eget volutpat. Ut nec interdum velit. Nullam sed nulla ac erat scelerisque semper id nec ante. Integer ac orci et metus sollicitudin varius. Duis imperdiet lectus et mi dictum, sed consequat neque blandit. Proin ac sodales lacus.
                    </p>
                    <div class="services-details-overview-content">
                        <h4>Praesent rhoncus varius : </h4>
                        <p>
                            It is a long established fact that a reader will
                            be distracted by the readable content of a page when looking at its layout. The point of
                            psum is that it has a more or-less normal distribution of letters, as opposed to using.
                        </p>
                        <h4> Odio rhoncus vulputate : </h4>
                        <p>
                            Mauris eu massa eu odio rhoncus vulputate sed eget nunc. Mauris molestie, nulla quis vulputate sollicitudin, ipsum lacus ullamcorper felis, vitae tincidunt ante ex ac libero. Vivamus tincidunt consectetur ligula vel fermentum. Duis feugiat nisi euismod dui viverra, vel consectetur leo tincidunt. Donec lacinia, mauris sit amet congue vulputate, eros orci porttitor eros, at luctus tortor massa ut mi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Pellentesque eu est ut mi porta sodales sit amet a risus.
                        </p>
                    </div>
                    <div class="card mt-5" style="width: 100%;">
                        <div class="card-header">
                          Featured
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-8">Wkład k/k od</div>
                                    <div class="col-4 border-start">od 190 zł</div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-8">Wkład k/k od</div>
                                    <div class="col-4 border-start">od 190 zł</div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-8">Wkład k/k od</div>
                                    <div class="col-4 border-start">od 190 zł</div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-8">Wkład k/k od</div>
                                    <div class="col-4 border-start">od 190 zł</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <aside class="widget-area">
                        <div class="widget widget_info">
                            <div class="image">
                                <img src="../static/img/doctor/1.jpg" alt="image">
                            </div>
                            <div class="content">
                                <h3>Emma Brown</h3>
                                <p>Curabitur placerat mi id convallis dictum uis euismod urna sit amet purus congue</p>
                                <!-- <div class="share-link">
                                    <a href="#"><i class='bx bxl-facebook'></i></a>
                                    <a href="#"><i class='bx bxl-twitter'></i></a>
                                    <a href="#"><i class='bx bxl-linkedin'></i></a>
                                    <a href="#"><i class='bx bxl-instagram'></i></a>
                                </div> -->
                            </div>
                        </div>
                        <div class="widget widget_categories">
                            <h3 class="widget-title">All Services</h3>
                            <ul>
                                <li><a href="index.html">Root Canel</a></li>
                                <li><a href="index.html">Dental Implants</a></li>
                                <li><a href="index.html">Teeth Whitening</a></li>
                                <li><a href="index.html">Cosmetic Dentist</a></li>
                                <li><a href="index.html">Teeth Filling</a></li>
                                <li><a href="index.html">Crowns Bridges</a></li>
                            </ul>
                        </div>
                        <div class="widget widget_tag_cloud">
                            <h3 class="widget-title">Popular Tags</h3>
                            <div class="tagcloud">
                                <a href="index.html">Care</a>
                                <a href="index.html">Dental</a>
                                <a href="index.html">Hospital</a>
                                <a href="index.html">Technology</a>
                                <a href="index.html">Clinic</a>
                            </div>
                        </div>
                        <div class="widget widget_grin_posts_thumb">
                            <h3 class="widget-title">Recent posts</h3>
                            <article class="item">
                                <a href="blog-details.html" class="thumb">
                                    <span class="fullimage cover"  style="background-image: url(../static/img/blog/bs-1.jpg);"  role="img"></span>
                                </a>
                                <div class="info">
                                    <span><i class="far fa-clock"></i>  Feb 21, 2023</span>
                                    <h4 class="title usmall">
                                        <a href="blog-details.html">The Next Best Thing To Get New Natural Teeth</a>
                                    </h4>
                                </div>
                            </article>
                            <article class="item">
                                <a href="blog-details.html" class="thumb">
                                    <span class="fullimage cover"  style="background-image: url(../static/img/blog/bs-2.jpg);"   role="img"></span>
                                </a>
                                <div class="info">
                                    <span><i class="far fa-clock"></i>  Feb 21, 2023</span>
                                    <h4 class="title usmall">
                                        <a href="blog-details.html">The Next Best Thing To Get New Natural Teeth</a>
                                    </h4>
                                </div>
                            </article>

                            <article class="item">
                                <a href="blog-details.html" class="thumb">
                                    <span class="fullimage cover"  style="background-image: url(../static/img/blog/bs-3.jpg);"  role="img"></span>
                                </a>
                                <div class="info">
                                    <span><i class="far fa-clock"></i>  Feb 21, 2023</span>
                                    <h4 class="title usmall">
                                        <a href="blog-details.html">The Next Best Thing To Get New Natural Teeth</a>
                                    </h4>
                                </div>
                            </article>
                        </div>
                        <div class="widget widget_categories">
                            <h3 class="widget-title">Categories</h3>
                            <ul>
                                <li><a href="#">Dental Care  <span>(10)</span></a></li>
                                <li><a href="#">Medical Suppport <span>(15)</span></a></li>
                                <li><a href="#">Certified Dentist <span>(20)</span></a></li>
                                <li><a href="#">Root Canel <span>(25)</span></a></li>
                                <li><a href="#">Dental Implants <span>(30)</span></a></li>
                                <li><a href="#">Teeth Whitening <span>(40)</span></a></li>
                            </ul>
                        </div>
                        <div class="widget widget_instagram">
                            <h3 class="widget-title">Gallery</h3>
                            <ul>
                                <li>
                                    <div class="box">
                                        <img src="../static/img/gallery/1.jpg" alt="image">
                                        <i class="bx bxl-instagram"></i>
                                        <a href="#" class="link-btn"></a>
                                    </div>
                                </li>
                                <li>
                                    <div class="box">
                                        <img src="../static/img/gallery/2.jpg" alt="image">
                                        <i class="bx bxl-instagram"></i>
                                        <a href="#" class="link-btn"></a>
                                    </div>
                                </li>
                                <li>
                                    <div class="box">
                                        <img src="../static/img/gallery/3.jpg" alt="image">
                                        <i class="bx bxl-instagram"></i>
                                        <a href="#" class="link-btn"></a>
                                    </div>
                                </li>
                                <li>
                                    <div class="box">
                                        <img src="../static/img/gallery/4.jpg" alt="image">
                                        <i class="bx bxl-instagram"></i>
                                        <a href="#" class="link-btn"></a>
                                    </div>
                                </li>
                                <li>
                                    <div class="box">
                                        <img src="../static/img/gallery/5.jpg" alt="image">
                                        <i class="bx bxl-instagram"></i>
                                        <a href="#" class="link-btn"></a>
                                    </div>
                                </li>
                                <li>
                                    <div class="box">
                                        <img src="../static/img/gallery/6.jpg" alt="image">
                                        <i class="bx bxl-instagram"></i>
                                        <a href="#" class="link-btn"></a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </section>
    <!-- services-details-area end -->

{% endblock %}
{% block bottom_scripts %}
<script>
    $(document).ready(function () {
        // Po 5 sekundach uruchom animację
        setTimeout(function () {
            // Animacja chowania #pageBanner
            $("#pageBanner").animate(
                {
                    height: "0px", // Zmień wysokość
                    marginBottom: "0px",
                    paddingTop: "0px", // Usuń górny padding
                    paddingBottom: "0px" // Usuń dolny padding
                },
                1000, // Czas animacji
                function () {
                    // Usunięcie wszystkich klas z #pageBanner po zakończeniu animacji
                    $("#pageBanner").empty().removeClass();

                    // Po zakończeniu animacji pokaż #breadcrumb-small
                    $("#breadcrumb-small")
                        .css({
                            display: "block", // Ustaw widoczność
                            textAlign: "center", // Wyrównanie tekstu do środka
                            width: "100%", // Rozciągnij na całą szerokość
                        })
                        .animate(
                            {
                                height: "50px",
                                paddingTop: "10px"
                            },
                            1200 // Czas animacji
                        );
                }
            );
        }, 5000); // Poczekaj 5 sekund przed uruchomieniem animacji
    });

    $(window).on('load', function () {
        let delay = 0;

        $('.line').each(function (index, element) {
            setTimeout(function () {
                $(element).addClass('animate');
            }, delay);

            delay += 500; // Opóźnienie dla kolejnej linii
        });
    });

    document.addEventListener('DOMContentLoaded', () => {
        const editableElements = document.querySelectorAll('[data-editable]');

        editableElements.forEach((element) => {
            element.addEventListener('dblclick', () => {
                const dataType = element.getAttribute('data-type'); // Typ danych (text, int, img, url, splx)
                element.setAttribute('contenteditable', 'true');
                element.focus();

                // Podświetlenie aktywnego elementu
                element.style.border = '2px dashed #007bff';
            });

            element.addEventListener('blur', () => {
                const dataType = element.getAttribute('data-type');
                const elementId = element.getAttribute('id');
                const updatedValue = element.innerText.trim(); // Obsługa tekstu, inne typy obsłużymy poniżej
                
                // Wyłącz contenteditable
                element.setAttribute('contenteditable', 'false');
                element.style.border = 'none';

                // Przetwarzanie danych w zależności od typu
                let processedValue;
                switch (dataType) {
                    case 'text':
                        processedValue = updatedValue; // Zwykły tekst
                        break;
                    case 'int':
                        processedValue = parseInt(updatedValue) || 0; // Parsowanie do liczby całkowitej
                        break;
                    case 'img':
                        processedValue = updatedValue.startsWith('http') ? updatedValue : ''; // Walidacja URL obrazka
                        break;
                    case 'url':
                        processedValue = updatedValue.startsWith('http') ? updatedValue : '#'; // Walidacja URL
                        break;
                    case 'splx':
                        processedValue = updatedValue.split(','); // Rozbicie na tablicę
                        break;
                    default:
                        console.warn(`Nieobsługiwany typ danych: ${dataType}`);
                        return;
                }

                // TODO: Wyślij dane do endpointa AJAX (to dodamy później)
                console.log(`Element ID: ${elementId}, Typ: ${dataType}, Nowa wartość:`, processedValue);
            });
        });
    });
</script>
{% endblock %}
