{% extends 'base.html' %}
{% block content %}
<!-- page banner -->
<div class="page-banner-area mb-5" style="background-image: url(static/img/banners/wizytaonline-1-banner.jpg);">
    <div class="container">
        <div class="page-banner-content">
            <h2>{{pageTitle}}</h2>
            <ul class="pages-list">
                <li><a href="/">Duodent Bielany</a></li>
                <li>{{pageTitle}}</li>
            </ul>
        </div>
    </div>
</div>
<!-- page banner end -->
<!-- service area -->
<section class="services-area pb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 mx-auto">
                <div class="section-title-warp">
                    <span class="sub-title">
                        <i class="flaticon-hashtag-symbol"></i>
                        Usługi
                    </span>
                    <h2>Nasze <span>Specjalizacje</span></h2>
                    <p>
                        Oferujemy kompleksowe usługi stomatologiczne, dostosowane do Twoich potrzeb, aby zapewnić zdrowie i piękny uśmiech.
                    </p>
                </div>
            </div>
        </div>
        <!-- 
            Oto lista ikon użytych w podanym kodzie:

                flaticon-chair
                flaticon-dental-implant
                flaticon-dental-care
                flaticon-tooth-1
                flaticon-tooth-2
                flaticon-tooth 
        -->

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <div class="services-image">
                        <a href="/ortodoncja-aparaty-na-prosty-usmiech"><img src="static/img/services/ortodoncja-home.jpg" alt="Ortodoncja"></a>
                        <div class="icon">
                            <a href="/ortodoncja-aparaty-na-prosty-usmiech"><i class="flaticon-tooth"></i></a>
                        </div>
                    </div>
                    <div class="services-content">
                        <h3>
                            <a href="/ortodoncja-aparaty-na-prosty-usmiech">Ortodoncja</a>
                        </h3>
                        <p>
                            Zadbaj o idealne ustawienie zębów dla zdrowia, komfortu i harmonii całej twarzy!
                        </p>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <div class="services-image">
                        <a href="/chirurgia-stomatologiczna-implantologia-odbudowa-usmiechu"><img src="static/img/services/implantologia-home.jpg" alt="Chirurgia i Implantologia"></a>
                        <div class="icon">
                            <a href="/chirurgia-stomatologiczna-implantologia-odbudowa-usmiechu"><i class="flaticon-dental-implant"></i></a>
                        </div>
                    </div>
                    <div class="services-content">
                        <h3>
                            <a href="/chirurgia-stomatologiczna-implantologia-odbudowa-usmiechu">Chirurgia i Implantologia</a>
                        </h3>
                        <p>
                            Profesjonalne zabiegi chirurgiczne oraz nowoczesne implanty, które przywrócą Twój uśmiech!
                        </p>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <div class="services-image">
                        <a href="/protetyka-stomatologiczna-estetyczna-odbudowa"><img src="static/img/services/protetyka-home.jpg" alt="Protetyka"></a>
                        <div class="icon">
                            <a href="/protetyka-stomatologiczna-estetyczna-odbudowa"><i class="flaticon-chair"></i></a>
                        </div>
                    </div>
                    <div class="services-content">
                        <h3>
                            <a href="/protetyka-stomatologiczna-estetyczna-odbudowa">Protetyka</a>
                        </h3>
                        <p>
                            Odkryj nowoczesne rozwiązania protetyczne, które przywrócą pełnię Twojego uśmiechu!
                        </p>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <div class="services-image">
                        <a href="/endodoncja-leczenie-kanalowe-precyzyjnie"><img src="static/img/services/endodoncja-home.jpg" alt="Endodoncja"></a>
                        <div class="icon">
                            <a href="/endodoncja-leczenie-kanalowe-precyzyjnie"><i class="flaticon-root-canal"></i></a>
                        </div>
                    </div>
                    <div class="services-content">
                        <h3>
                            <a href="/endodoncja-leczenie-kanalowe-precyzyjnie">Endodoncja</a>
                        </h3>
                        <p>
                            Skuteczne leczenie kanałowe, które pozwoli Ci zachować zęby na długie lata!
                        </p>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <div class="services-image">
                        <a href="/periodontologia-choroby-przyzebia-leczenie"><img src="static/img/services/periodontologia-home.jpg" alt="Periodontologia"></a>
                        <div class="icon">
                            <a href="/periodontologia-choroby-przyzebia-leczenie"><i class="flaticon-dental-care"></i></a>
                        </div>
                    </div>
                    <div class="services-content">
                        <h3>
                            <a href="/periodontologia-choroby-przyzebia-leczenie">Periodontologia</a>
                        </h3>
                        <p>
                            Leczymy choroby przyzębia, aby zachować zdrowie Twoich dziąseł i zębów.
                        </p>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <div class="services-image">
                        <a href="/nowoczesna-diagnostyka-rtg-i-scanner-3d"><img src="static/img/services/diagnostyka-home.jpg" alt="Nowoczesna diagnostyka"></a>
                        <div class="icon">
                            <a href="/nowoczesna-diagnostyka-rtg-i-scanner-3d"><i class="flaticon-tooth-1"></i></a>
                        </div>
                    </div>
                    <div class="services-content">
                        <h3>
                            <a href="/nowoczesna-diagnostyka-rtg-i-scanner-3d">Nowoczesna diagnostyka</a>
                        </h3>
                        <p>
                            Zaawansowana diagnostyka RTG i skanery 3D dla precyzyjnego planowania leczenia.
                        </p>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <div class="services-image">
                        <a href="/profilaktyka-stomatologiczna-higienizacja-i-wybielanie"><img src="static/img/services/profilaktyka-home.jpg" alt="Profilaktyka"></a>
                        <div class="icon">
                            <a href="/profilaktyka-stomatologiczna-higienizacja-i-wybielanie"><i class="flaticon-toothbrush"></i></a>
                        </div>
                    </div>
                    <div class="services-content">
                        <h3>
                            <a href="/profilaktyka-stomatologiczna-higienizacja-i-wybielanie">Profilaktyka</a>
                        </h3>
                        <p>
                            Higienizacja i wybielanie, które zapewnią zdrowie i estetykę Twojego uśmiechu.
                        </p>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <div class="services-image">
                        <a href="/stomatologia-dziecieca-zdrowy-usmiech-dziecka"><img src="static/img/services/stomatologia-dziecieca-home.jpg" alt="Stomatologia dziecięca"></a>
                        <div class="icon">
                            <a href="/stomatologia-dziecieca-zdrowy-usmiech-dziecka"><i class="flaticon-tooth-2"></i></a>
                        </div>
                    </div>
                    <div class="services-content">
                        <h3>
                            <a href="/stomatologia-dziecieca-zdrowy-usmiech-dziecka">Stomatologia dziecięca</a>
                        </h3>
                        <p>
                            Delikatna opieka i troska o zdrowy uśmiech najmłodszych pacjentów.
                        </p>
                    </div>
                </div>
            </div>
            
            
            
        </div>
    </div>
</section>
<!-- service area end -->
{% endblock %}
{% block bottom_scripts %}{% endblock %}