{% extends 'base.html' %}
{% block content %}

<!-- breadcrumb start -->
<div id="breadcrumb-small" class="breadcrumb-small mb-5" style="display: none;">
    <div class="container justify-content-center">
        <div class="justify-content-center">
            <ul class="breadcrumb-pages-list">
                <li><a href="/"><i class="bi bi-houses-fill" style="font-size: 1rem;"></i></a></li>
                <li><a href="/zabiegi-stomatologiczne-kompleksowa-oferta">Zabiegi</a></li>
                <li>Edycja</li>
            </ul>
        </div>
    </div>
</div>
<!-- breadcrumb end -->

<section class="blog-area pb-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 mx-auto">
                <div class="section-title-warp">
                    <span class="sub-title">
                        <i class="flaticon-hashtag-symbol"></i>
                        Zabiegi widoczne na stronie
                    </span>
                    <h2>Zabiegi <span>widoczne</span> na stronie <span>www</span> dla Twoich klientów</h2>
                    <p>
                        Zarządzaj kolejnością i edytuj nazwy swoich zabiegów opublikowanych na stronie www.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">

        <!-- 
            id
            foto_home
            icon
            tytul_glowny
            opis_home
            pozycja_kolejnosci
            baner_h1_splx
            baner_h2_splx
            page_hashtag_section
            foto_page_header
            page_title_section_1
            page_content_section_1
            page_points_splx_section_1
            page_subcontent_section_1
            page_photo_content_links_splx_section_2
            page_subcontent_section_2
            page_title_section_3
            page_content_section_3
            page_title_section_4
            page_content_section_4
            page_price_table_title_section_5
            page_price_table_content_splx_comma_section_5
            page_attached_worker_id
            page_attached_worker_descriptions
            page_attached_worker_status
            page_attached_files
            page_attached_treatments
            page_attached_contact
            page_attached_status
            page_attached_gallery_splx
            treatment_general_status
            optional_1
            optional_2
            optional_3
            data_utworzenia

        -->
        <form id="ajaxForm" enctype="multipart/form-data">
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <div class="form-group">
                        <label for="name">Nazwa zabiegu</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Wpisz nazwę zabiegu" required>
                    </div>
                </div>
                
                <div class="col-lg-6 col-sm-12">
                    <div class="form-group custom-file-upload">
                        <label for="file">Miniaturka</label>
                        <div class="file-input-wrapper">
                            <input type="file" class="form-control" id="file" name="file" accept="image/*" required>
                            <span class="file-label"><i class="fas fa-upload upload-icon me-3"></i> Prześlij miniaturkę</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <i class="flaticon-chair"></i>
                    <i class="flaticon-dental-implant"></i>
                    <i class="flaticon-dental-care"></i>
                    <i class="flaticon-tooth-1"></i>
                    <i class="flaticon-tooth-2"></i>
                    <i class="flaticon-tooth"></i>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <div class="form-group">
                        <label for="icon">Ikona</label>
                        <select class="form-control" id="icon" name="icon" required>
                            <option value="flaticon-chair">Krzesło stomatologiczne</option>
                            <option value="flaticon-dental-implant">Implant</option>
                            <option value="flaticon-dental-care">Opieka dentystyczna</option>
                            <option value="flaticon-tooth-1">Ząb 1</option>
                            <option value="flaticon-tooth-2">Ząb 2</option>
                            <option value="flaticon-tooth">Ząb</option>
                        </select>
                    </div>
                </div>
                
                <div class="col-lg-12 col-sm-12">
                    <div class="form-group">
                        <label for="descrition">Opis</label>
                        <textarea class="form-control" id="descrition" name="descrition" rows="4" placeholder="Dodaj opis zabiegu" required></textarea>
                    </div>
                </div>
        
                <div class="col-lg-12 mt-3">
                    <button type="submit" class="default-btn">Dodaj zabieg</button>
                    <div id="responseMessage" class="mt-3"></div> <!-- Miejsce na komunikaty -->
                </div>
            </div>
        </form>
        
        
        </div>
    </div>
</section>
{% endblock %}
{% block bottom_scripts %}
<script>
    document.querySelector('#file').addEventListener('change', function () {
        const label = this.nextElementSibling;
        label.textContent = this.files.length ? this.files[0].name : "Prześlij zdjęcie";
    });

    $(document).ready(function () {
        setTimeout(function () {
            // Pokaż #breadcrumb-small
            $("#breadcrumb-small")
                .css({
                    display: "block", // Ustaw widoczność
                    textAlign: "center", // Wyrównanie tekstu do środka
                    width: "100%", // Rozciągnij na całą szerokość
                })
                .animate(
                    {
                        height: "50px",
                        paddingTop: "10px"
                    },
                    1200 // Czas animacji
                );
        }, 2000); 
    });

    $(document).ready(function() {
        $("#ajaxForm").on("submit", function(event) {
            event.preventDefault();

            // Tworzenie obiektu FormData
            let formData = new FormData();
            formData.append("name", $("#name").val());
            formData.append("descrition", $("#descrition").val());
            formData.append("icon", $("#icon").val());
            formData.append("file", $("#file")[0].files[0]); // Dodanie pliku

            // Wysyłanie danych AJAX
            $.ajax({
                url: "/admin/add-treatment",
                method: "POST",
                processData: false, // Wyłączamy przetwarzanie danych
                contentType: false, // Wyłączamy domyślny nagłówek
                data: formData,
                success: function(response) {
                    $("#responseMessage").html(`<p style="color: green;">${response.message}</p>`);
                    document.getElementById('ajaxForm').reset();
                    // Resetowanie pola zdjęcia
                    document.getElementById('file').value = '';
                    document.querySelector('#file').nextElementSibling.innerHTML = '<i class="fas fa-upload upload-icon me-3"></i> Prześlij zdjęcie';
                    // Usunięcie komunikatu po 2 sekundach
                    setTimeout(() => {
                        document.getElementById('responseMessage').innerHTML = '';
                    }, 2000); // 2000 ms = 2 sekundy
                },
                error: function(xhr) {
                    $("#responseMessage").html(`<p style="color: red;">Błąd: ${xhr.responseJSON.message}</p>`);
                    setTimeout(() => {
                        document.getElementById('responseMessage').innerHTML = '';
                    }, 2000); // 2000 ms = 2 sekundy
                }
            });
        });
    });

</script>
{% endblock %}