{% extends 'base.html' %}
{% block content %}
<!-- page banner -->
<div class="page-banner-area mb-5" style="background-image: url(static/img/banners/wizytaonline-1-banner.jpg);">
    <div class="container">
        <div class="page-banner-content">
            <h2>{{pageTitle}}</h2>
            <ul class="pages-list">
                <li><a href="/">Duodent Bielany</a></li>
                <li>{{pageTitle}}</li>
            </ul>
        </div>
    </div>
</div>
<!-- page banner end -->
<!-- service area -->
<section class="services-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 mx-auto">
                <div class="section-title-warp">
                    <span class="sub-title">
                        <i class="flaticon-hashtag-symbol"></i>
                        Usługi
                    </span>
                    <h2>Nasze <span>Specjalizacje</span></h2>
                    <p>
                        Oferujemy kompleksowe usługi stomatologiczne, dostosowane do Twoich potrzeb, aby zapewnić zdrowie i piękny uśmiech.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <div class="services-image">
                        <a href="/protetyka-stomatologiczna-piekny-usmiech"><img src="static/img/services/protetyka-home.jpg" alt="image"></a>
                        <div class="icon">
                            <a href="/protetyka-stomatologiczna-piekny-usmiech"><i class="flaticon-chair"></i></a>
                        </div>
                    </div>
                    <div class="services-content">
                        <h3>
                            <a href="/protetyka-stomatologiczna-piekny-usmiech">Protetyka</a>
                        </h3>
                        <p>
                            Odkryj nowoczesne rozwiązania protetyczne, które przywrócą pełnię Twojego uśmiechu!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <div class="services-image">
                        <a href="/chirurgia-implantologia-odbudowa-usmiechu"><img src="static/img/services/implantologia-home.jpg" alt="image"></a>
                        <div class="icon">
                            <a href="/chirurgia-implantologia-odbudowa-usmiechu"><i class="flaticon-dental-implant"></i></a>
                        </div>
                    </div>
                    <div class="services-content">
                        <h3>
                            <a href="/chirurgia-implantologia-odbudowa-usmiechu">Implantologia</a>
                        </h3>
                        <p>
                            Odzyskaj wygodę i komfort jedzenia z nowoczesnymi implantami!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <div class="services-image">
                        <a href="/ortodoncja-aparaty-na-prosty-usmiech"><img src="static/img/services/ortodoncja-home.jpg" alt="image"></a>
                        <div class="icon">
                            <a href="/ortodoncja-aparaty-na-prosty-usmiech"><i class="flaticon-tooth"></i></a>
                        </div>
                    </div>
                    <div class="services-content">
                        <h3>
                            <a href="/ortodoncja-aparaty-na-prosty-usmiech">Ortodoncja</a>
                        </h3>
                        <p>
                            Zadbaj o idealne ustawienie zębów dla zdrowia, komfortu i harmonii całej twarzy!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <div class="services-image">
                        <a href="/higiena-stomatologiczna-zdrowe-zeby"><img src="static/img/services/higiena-home.jpg" alt="image"></a>
                        <div class="icon">
                            <a href="/higiena-stomatologiczna-zdrowe-zeby"><i class="flaticon-toothbrush"></i></a>
                        </div>
                    </div>
                    <div class="services-content">
                        <h3>
                            <a href="/higiena-stomatologiczna-zdrowe-zeby">Higiena Stomatologiczna</a>
                        </h3>
                        <p>
                            Zapewnij swoim zębom zdrowie i świeżość dzięki profesjonalnym zabiegom higienizacyjnym!
                        </p>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <div class="services-image">
                        <a href="/leczenie-kanalowe-nowoczesna-endodoncja"><img src="static/img/services/endodoncja-home.jpg" alt="image"></a>
                        <div class="icon">
                            <a href="/leczenie-kanalowe-nowoczesna-endodoncja"><i class="flaticon-root-canal"></i></a>
                        </div>
                    </div>
                    <div class="services-content">
                        <h3>
                            <a href="/leczenie-kanalowe-nowoczesna-endodoncja">Endodoncja</a>
                        </h3>
                        <p>
                            Skuteczne leczenie kanałowe, które pozwoli Ci zachować zęby na długie lata!
                        </p>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <div class="services-image">
                        <a href="/stomatologia-estetyczna-piekny-usmiech"><img src="static/img/services/estetyka-home.jpg" alt="image"></a>
                        <div class="icon">
                            <a href="/stomatologia-estetyczna-piekny-usmiech"><i class="flaticon-smile"></i></a>
                        </div>
                    </div>
                    <div class="services-content">
                        <h3>
                            <a href="/stomatologia-estetyczna-piekny-usmiech">Stomatologia Estetyczna</a>
                        </h3>
                        <p>
                            Uzyskaj piękny, biały uśmiech dzięki zaawansowanym zabiegom estetycznym!
                        </p>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <div class="services-image">
                        <a href="/leczenie-prochnicy-zdrowe-zeby"><img src="static/img/services/prochnica-home.jpg" alt="image"></a>
                        <div class="icon">
                            <a href="/leczenie-prochnicy-zdrowe-zeby"><i class="flaticon-dental-care"></i></a>
                        </div>
                    </div>
                    <div class="services-content">
                        <h3>
                            <a href="/leczenie-prochnicy-zdrowe-zeby">Leczenie Próchnicy</a>
                        </h3>
                        <p>
                            Chronimy Twoje zęby przed próchnicą dzięki skutecznemu leczeniu i profilaktyce.
                        </p>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <div class="services-image">
                        <a href="/chirurgia-stomatologiczna-usuwanie-zebow"><img src="static/img/services/chirurgia-home.jpg" alt="image"></a>
                        <div class="icon">
                            <a href="/chirurgia-stomatologiczna-usuwanie-zebow"><i class="flaticon-tooth-1"></i></a>
                        </div>
                    </div>
                    <div class="services-content">
                        <h3>
                            <a href="/chirurgia-stomatologiczna-usuwanie-zebow">Chirurgia Stomatologiczna</a>
                        </h3>
                        <p>
                            Profesjonalne zabiegi chirurgiczne, które przywrócą zdrowie i komfort Twoim zębom.
                        </p>
                    </div>
                </div>
            </div>
            
            
        </div>
    </div>
</section>
<!-- service area end -->
{% endblock %}
{% block bottom_scripts %}{% endblock %}