{% extends 'base.html' %}
{% block content %}
<!-- page banner -->
<div class="page-banner-area mb-5" style="background-image: url(static/img/banners/wizytaonline-1-banner.jpg);">
    <div class="container">
        <div class="page-banner-content">
            <h2>{{pageTitle}}</h2>
            <ul class="pages-list">
                <li><a href="/">Duodent Bielany</a></li>
                <li>{{pageTitle}}</li>
            </ul>
        </div>
    </div>
</div>
<!-- page banner end -->
<!-- service area -->
<section class="services-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 mx-auto">
                <div class="section-title-warp">
                    <span class="sub-title">
                        <i class="flaticon-hashtag-symbol"></i>
                        Services
                    </span>
                    <h2>Best <span>Dental</span> Services</h2>
                    <p>
                        It is a long established fact that a reader will be distracted by the readable content of a
                        page when looking at its layout.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <div class="services-image">
                        <a href="services-details.html"><img src="staic/img/services/1.jpg" alt="image"></a>
                        <div class="icon">
                            <a href="services-details.html"><i class="flaticon-chair"></i></a>
                        </div>
                    </div>
                    <div class="services-content">
                        <h3>
                            <a href="services-details.html">Root Canel</a>
                        </h3>
                        <p>
                            There are many variations of passages of orem available but the majority have suffered
                            alteration in some injected humour
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <div class="services-image">
                        <a href="services-details.html"><img src="staic/img/services/2.jpg" alt="image"></a>
                        <div class="icon">
                            <a href="services-details.html"><i class="flaticon-dental-implant"></i></a>
                        </div>
                    </div>
                    <div class="services-content">
                        <h3>
                            <a href="services-details.html">Dental Implants</a>
                        </h3>
                        <p>
                            There are many variations of passages of orem available but the majority have suffered
                            alteration in some injected humour
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <div class="services-image">
                        <a href="services-details.html"><img src="staic/img/services/3.jpg" alt="image"></a>
                        <div class="icon">
                            <a href="services-details.html"><i class="flaticon-dental-care"></i></a>
                        </div>
                    </div>
                    <div class="services-content">
                        <h3>
                            <a href="services-details.html">Teeth Whitening</a>
                        </h3>
                        <p>
                            There are many variations of passages of orem available but the majority have suffered
                            alteration in some injected humour
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <div class="services-image">
                        <a href="services-details.html"><img src="staic/img/services/4.jpg" alt="image"></a>
                        <div class="icon">
                            <a href="services-details.html"><i class="flaticon-tooth-1"></i></a>
                        </div>
                    </div>
                    <div class="services-content">
                        <h3>
                            <a href="services-details.html">Cosmetic Dentist</a>
                        </h3>
                        <p>
                            There are many variations of passages of orem available but the majority have suffered
                            alteration in some injected humour
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <div class="services-image">
                        <a href="services-details.html"><img src="staic/img/services/5.jpg" alt="image"></a>
                        <div class="icon">
                            <a href="services-details.html"><i class="flaticon-tooth-2"></i></a>
                        </div>
                    </div>
                    <div class="services-content">
                        <h3>
                            <a href="services-details.html">Teeth Filling</a>
                        </h3>
                        <p>
                            There are many variations of passages of orem available but the majority have suffered
                            alteration in some injected humour
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <div class="services-image">
                        <a href="services-details.html"><img src="staic/img/services/6.jpg" alt="image"></a>
                        <div class="icon">
                            <a href="services-details.html"><i class="flaticon-tooth"></i></a>
                        </div>
                    </div>
                    <div class="services-content">
                        <h3>
                            <a href="services-details.html">Crowns Bridges</a>
                        </h3>
                        <p>
                            There are many variations of passages of orem available but the majority have suffered
                            alteration in some injected humour
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- service area end -->
{% endblock %}
{% block bottom_scripts %}{% endblock %}