{% extends 'base.html' %}
{% block content %}
{% set bg_image = url_for('static', filename='img/banners/zabieg-4-banner.jpg') %}
<div class="page-banner-area mb-5" id="pageBanner" style="background-image: url('{{ bg_image }}');">
    <div class="container">
        <div class="page-banner-content">
            <div class="page-banner-content">
                <h1 class="line">
                    Poznaj nasze <span>zasady</span>
                </h1>
                <h1 class="line">
                    Uczciwa <span>gra</span> i jasne reguły
                </h1>
            </div>
            <h2 class="line">{{pageTitle}}</h2>
            <ul class="pages-list line">
                <li><a href="/">Duodent Bielany</a></li>
                <li>{{pageTitle}}</li>
            </ul>
        </div>
    </div>
</div>

<!-- page banner end -->
<!-- breadcrumb start -->
<div id="breadcrumb-small" class="breadcrumb-small mb-5" style="display: none;">
    <div class="container justify-content-center">
        <div class="justify-content-center">
            <ul class="breadcrumb-pages-list">
                <li><a href="/"><i class="bi bi-houses-fill" style="font-size: 1rem;"></i></a></li>
                <li>{{pageTitle}}</li>
            </ul>
        </div>
    </div>
</div>
<!-- breadcrumb end -->
<!-- terms-of-service -->
<section class="terms-of-service-area ptb-100">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">
                <i class="flaticon-hashtag-symbol"></i>
                Zasady Witryny
            </span>
            <h2>Zasady Ogólne</h2>
            <p>Zapraszamy do zapoznania się z zasadami korzystania z naszej witryny internetowej. Stawiamy na transparentność, bezpieczeństwo i komfort użytkowników.</p>
        </div>
        
        <div class="mb-4">
            <h3 class="mb-2">1. Prywatność danych</h3>
            <p>Nie przechowujemy danych pacjentów w internecie. Wszystkie informacje są przetwarzane wyłącznie w naszych wewnętrznych, zabezpieczonych systemach.</p>
        </div>
        <div class="mb-4">
            <h3 class="mb-2">2. Brak rejestracji i logowania</h3>
            <p>Witryna nie oferuje funkcji rejestracji kont użytkowników ani systemu logowania, co eliminuje ryzyko dostępu do danych przez osoby nieuprawnione.</p>
        </div>
        <div class="mb-4">
            <h3 class="mb-2">3. Brak zbierania danych kontaktowych</h3>
            <p>Nie zbieramy adresów e-mail ani numerów telefonów za pomocą strony. Wszystkie dane kontaktowe są podawane wyłącznie z inicjatywy użytkownika w kontaktach bezpośrednich.</p>
        </div>
        <div class="mb-4">
            <h3 class="mb-2">4. Korzystanie z plików cookies</h3>
            <p>Witryna używa plików cookies wyłącznie w celu poprawy wygody korzystania ze strony i analizy statystyk ruchu. Nie gromadzimy danych umożliwiających identyfikację użytkownika.</p>
        </div>
        <div class="mb-4">
            <h3 class="mb-2">5. Treści informacyjne</h3>
            <p>Wszystkie treści na stronie mają charakter informacyjny i nie zastępują konsultacji z lekarzem specjalistą. W przypadku pytań prosimy o bezpośredni kontakt.</p>
        </div>
        <div class="mb-4">
            <h3 class="mb-2">6. Ograniczenie odpowiedzialności</h3>
            <p>Duodent nie ponosi odpowiedzialności za błędy w treści ani za ewentualne szkody wynikające z korzystania z informacji dostępnych na stronie.</p>
        </div>
        <div class="mb-4">
            <h3 class="mb-2">7. Prawa autorskie</h3>
            <p>Wszystkie treści, grafiki i zdjęcia na stronie są własnością Duodent lub zostały wykorzystane za zgodą właścicieli praw autorskich. Kopiowanie i rozpowszechnianie materiałów jest zabronione bez uprzedniej zgody.</p>
        </div>
        <div class="mb-4">
            <h3 class="mb-2">8. Aktualizacja zasad</h3>
            <p>Zastrzegamy sobie prawo do zmiany niniejszych zasad w dowolnym momencie. Prosimy o regularne sprawdzanie tej sekcji, aby być na bieżąco z aktualizacjami.</p>
        </div>
        <div class="mb-4">
            <h3 class="mb-2">9. Regulamin Konkursu – Facebook & Instagram</h3>
            <p><strong>§1. Postanowienia ogólne</strong></p>
            <ul>
                <li>Organizatorem konkursu jest Duodent Bielany z siedzibą w Warszawie, ul. Arkuszowa 63.</li>
                <li>Konkurs odbywa się na platformach Facebook i Instagram i nie jest sponsorowany, wspierany ani administrowany przez Meta (Facebook/Instagram).</li>
                <li>Czas trwania konkursu: od 10.02.2025 do 14.02.2025, godz. 23:59.</li>
                <li>Wyniki konkursu zostaną ogłoszone 15.02.2025 na profilach Organizatora:
                    <ul>
                        <li>Facebook: <a href="https://facebook.com/duodent.przychodnia" target="_blank">facebook.com/duodent.przychodnia</a></li>
                        <li>Instagram: <a href="https://instagram.com/duodentbielany" target="_blank">instagram.com/duodentbielany</a></li>
                    </ul>
                </li>
            </ul>
            
            <p><strong>§2. Warunki uczestnictwa</strong></p>
            <ul>
                <li>Uczestnikiem konkursu może być każda osoba pełnoletnia lub osoba poniżej 18 roku życia za zgodą opiekuna prawnego.</li>
                <li>Aby wziąć udział w konkursie, należy:
                    <ul>
                        <li>Zaobserwować profil Duodent Bielany na Facebooku lub Instagramie.</li>
                        <li>Polubić post konkursowy.</li>
                        <li>W komentarzu napisać, za co kochasz siebie 💖 i oznaczyć osobę, z którą chcesz podzielić się nagrodą.</li>
                    </ul>
                </li>
                <li>Udział w konkursie jest bezpłatny i dobrowolny.</li>
                <li>Każde zgłoszenie na Facebooku i Instagramie to dodatkowa szansa na wygraną.</li>
            </ul>
            
            <p><strong>§3. Nagrody i wybór zwycięzcy</strong></p>
            <ul>
                <li>Do wygrania jest zestaw szczoteczek sonicznych.</li>
                <li>Zwycięzca zostanie wyłoniony w drodze losowania przy użyciu skryptu Python.</li>
                <li>Organizator sprawdzi, czy spełniono warunki konkursu.</li>
                <li>W przypadku niespełnienia warunków, odbędzie się ponowne losowanie.</li>
                <li>Zwycięzca zostanie poinformowany wiadomością prywatną.</li>
                <li>Brak odpowiedzi w ciągu 48 godzin oznacza ponowne losowanie.</li>
            </ul>

            <p><strong>§4. Przetwarzanie danych osobowych</strong></p>
            <ul>
                <li>Dane osobowe uczestników są przetwarzane wyłącznie w celu realizacji konkursu.</li>
                <li>Zwycięzca wyraża zgodę na publikację swojego imienia/nazwy profilu w poście z wynikami.</li>
            </ul>

            <p><strong>§5. Postanowienia końcowe</strong></p>
            <ul>
                <li>Organizator może zmienić regulamin – informacja pojawi się w komentarzu do posta konkursowego.</li>
                <li>Wszelkie pytania można kierować na <a href="mailto:arkuszowa@duodent.com.pl">arkuszowa@duodent.com.pl</a>.</li>
                <li>Konkurs nie podlega ustawie o grach hazardowych – losowanie odbywa się wyłącznie spośród osób spełniających warunki konkursu.</li>
            </ul>
        </div>

        <div class="mb-4">
            <h3 class="mb-2">Kontakt</h3>
            <p>W przypadku pytań dotyczących zasad korzystania z witryny prosimy o kontakt pod adresem e-mail lub numerem telefonu podanym w sekcji <a href="/kontakt-z-przychodnia-stomatologiczna">Kontakt</a>.</p>
        </div>
    </div>
</section>

<!-- terms-of-service end -->
{% endblock %}
{% block bottom_scripts %}
    <script>
        $(document).ready(function () {
            // Po 5 sekundach uruchom animację
            setTimeout(function () {
                // Animacja chowania #pageBanner
                $("#pageBanner").animate(
                    {
                        height: "0px", // Zmień wysokość
                        marginBottom: "0px",
                        paddingTop: "0px", // Usuń górny padding
                        paddingBottom: "0px" // Usuń dolny padding
                    },
                    1000, // Czas animacji
                    function () {
                        // Usunięcie wszystkich klas z #pageBanner po zakończeniu animacji
                        $("#pageBanner").empty().removeClass();

                        // Po zakończeniu animacji pokaż #breadcrumb-small
                        $("#breadcrumb-small")
                            .css({
                                display: "block", // Ustaw widoczność
                                textAlign: "center", // Wyrównanie tekstu do środka
                                width: "100%", // Rozciągnij na całą szerokość
                            })
                            .animate(
                                {
                                    height: "50px",
                                    paddingTop: "10px"
                                },
                                1200 // Czas animacji
                            );
                    }
                );
            }, 5000); // Poczekaj 5 sekund przed uruchomieniem animacji
        });

        $(window).on('load', function () {
            let delay = 0;

            $('.line').each(function (index, element) {
                setTimeout(function () {
                    $(element).addClass('animate');
                }, delay);

                delay += 500; // Opóźnienie dla kolejnej linii
            });
        });
    </script>
{% endblock %}